/* Svoi CSS kod pishite v faile CUSTOM.CSS, chotobi pri ustanovke obnovlenii ne bilo problem */
/* --------------------------------------- */
/* Put you custom CSS in CUSTOM.CSS, not in this file! */

/* DANNII FAIL ZATIRAETSYA PRI OBNOVLENII, ne izmenyaite ego!!! */
/* DANNII FAIL ZATIRAETSYA PRI OBNOVLENII, ne izmenyaite ego!!! */
/* DANNII FAIL ZATIRAETSYA PRI OBNOVLENII, ne izmenyaite ego!!! */
/* DANNII FAIL ZATIRAETSYA PRI OBNOVLENII, ne izmenyaite ego!!! */
/* DANNII FAIL ZATIRAETSYA PRI OBNOVLENII, ne izmenyaite ego!!! */

body{background-color:white;}
a, a:hover, a:focus, a:active{text-decoration:none;outline:none;}
a.grey { color: #818181; }
/*a:hover{text-decoration:none;}*/
h1,h2,h3,h4,h5,h6{position:relative;z-index:1;font-weight:normal;margin:0;color:#333;line-height:1.35em;text-overflow:ellipsis;overflow:hidden;letter-spacing:normal;}
h1{font-size:2.6667em;font-weight:bold;}
h2{font-size:2em;margin: 31px 0 23px;}
h3{font-size:1.6em;margin: 33px 0 25px;}
h4{font-size:1.3333em;margin: 40px 0 40px;}
h5{font-size:1.2em;margin: 37px 0 26px;}
h6{font-size:1.066em;margin: 37px 0 27px;}
.content h2:first-of-type,.content h3:first-of-type,.content h4:first-of-type,.content h5:first-of-type,.content h6:first-of-type{/*margin-top:0px;*/}
h1.spaced, h2.spaced, h3.spaced, h4.spaced, h5.spaced, h6.spaced{margin-top:50px!important;}
h2.spaced.short{margin-top:0!important;}
h1.no-top-space, h2.no-top-space, h3.no-top-space, h4.no-top-space, h5.no-top-space, h6.no-top-space{margin-top:0px;}
h1.no-bottom-space, h2.no-bottom-space, h3.no-bottom-space, h4.no-bottom-space, h5.no-bottom-space, h6.no-bottom-space{margin-bottom:0px;}
h1.more-spaced, h2.more-spaced, h3.more-spaced, h4.more-spaced, h5.more-spaced, h6.more-spaced{margin-top:64px;}
h1.bottom-spaced, h2.bottom-spaced, h3.bottom-spaced, h4.bottom-spaced, h5.bottom-spaced, h6.bottom-spaced{margin-bottom:36px;}
.underline{display:inline-block;margin-bottom:20px;padding-bottom:11px;border-bottom:2px solid blue;}
h4.underline{padding-bottom:7px;}
h5.underline{padding-bottom:4px;}
.dark_link{color:#333;}
.label[href]:hover, .label[href]:focus{color:#555;cursor:default;}

.no-bottom-margin { margin-bottom: 0; }
.no-top-margin { margin-top: 0; }

.muted { color: #818181; }
.bold{font-weight:bold;}

p{margin:15px 0;}
p .alternative-font{display:inline-block;margin-top:-15px;position:relative;top:3px;margin-bottom:-6px;}
p.featured{font-size:1.6em;line-height:1.5em;}
p.short{margin-bottom:0;}
p.tall{margin-bottom:20px;}
p.taller{margin-bottom:40px;}
p.drop-caps:first-child:first-letter{float:left;font-size:75px;line-height:60px;padding:4px;margin-right:5px;margin-top:5px;}
p.drop-caps.secundary:first-child:first-letter{background-color:#ccc;color:white;padding:6px;margin-right:5px;border-radius:4px;}
/* p:first-child,h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child,blockquote:first-child,ul:first-child,ol:first-child,.introtext:first-child,table.table1:first-child,table.table2:first-child{margin-top:0;} */
p:last-child,h1:last-child,h2:last-child,h3:last-child,h4:last-child,h5:last-child,h6:last-child,blockquote:last-child,ul:last-child,ol:last-child,.introtext:last-child,table.table1:last-child,table.table2:last-child{margin-bottom:0;}

.drag_block:not(:first-of-type) blockquote:first-child{margin-top:63px;}
.drag_block:first-of-type>.wraps{margin-top:0;}

hr{display: none;}
.colored_line{border-color:#ededed;border-top-width:2px;color:red;}

table.no-border { border-collapse:collapse;border-spacing:0; border:0; }

table.table{width:100%;border-radius:3px;overflow:hidden;margin:31px 0 40px;border-bottom:1px solid #f1f1f1;border-collapse:collapse;border-spacing:0;border-radius:3px;}
table.table tbody tr:first-of-type td,
table.table1 tbody tr:first-of-type td{border-top:1px solid #f1f1f1;}
table.table tr:last-of-type td{border-bottom:2px solid #f1f1f1;}
h5 + table.table{margin:33px 0 44px;}
table.table > thead > tr > th, table.table > tbody > tr > th, table.table > tfoot > tr > th, table.table > thead > tr > td, table.table > tbody > tr > td, table.table > tfoot > tr > td{padding:14px 20px 15px;border:none;border-bottom:1px solid #f1f1f1;}
table.table > thead > tr > th, table.table > thead > tr > td{background:#a5abb5;color:#FFF;}
table.table > tbody > tr:hover, table.table1 > tbody > tr:hover, table.table-striped > tbody > tr:hover{background:#f8f9fb;}
table.table:not(.table-bordered) > tbody > tr:hover td:first-of-type{padding-left:19px;border-left:1px solid #f1f1f1;}
table.table:not(.table-bordered) > tbody > tr:hover td:last-of-type{padding-right:19px;border-right:2px solid #f1f1f1;}

table.table-striped{width:100%;}
table.table > thead > tr > th, table.table > tbody > tr > th, table.table > tfoot > tr > th{color:white;}
table.table td{background:none;}
table.table-striped tbody td,table.table-striped thead td,table.table-striped tbody tr{background:none;}
table.table td,table.tabl e-striped td{border-bottom:1px solid #ecf2f4;}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{background:none;}
table.table1{width:100%;margin:31px 0 40px;width:100%;border-collapse:collapse;border-spacing:0;border-radius:3px;overflow:hidden;}
table.table1 tbody{border:2px solid #f1f1f1;border-top:none;}
h5 + table.table1{margin:33px 0 44px;border-radius:3px;overflow:hidden;}
table.table1 tbody td{padding:15px 21px;border-bottom:1px solid #ecf2f4;border-left:none;border-right:none;vertical-align:top;}
table.table1 > thead > tr > th, table.table1 > thead > tr > td,table.table > thead > tr > th, table.table > thead > tr > td{padding:11px 21px;background:#a5abb5;color:#FFF;font-size:0.8667em;font-weight:normal;}

blockquote{color:#333;position:relative;padding:0 0 0 81px;border:none;font-weight:bold;font-size:1.2em;line-height:1.6667em;margin: 54px 0 55px;}
blockquote p{line-height:normal;}
blockquote:before{content:"";position:absolute;top:2px;left:0;width:41px;height:28px;background:#333 url(images/svg/content_icons.svg) 0 -109px no-repeat;}
blockquote.danger{padding:33px 44px;margin:54px 0;font-size:1.1333em;line-height:1.6471em;color:#333;border:1px solid #f1f1f1;font-weight:normal;}
blockquote.danger:before{background:none;top:-1px;bottom:-1px;left:-1px;width:2px;height:auto;background:#f00c3c;}
blockquote.info{padding:33px 44px;margin:54px 0;font-size:1.1333em;line-height:1.6471em;color:#333;border:1px solid #f1f1f1;font-weight:normal;}
blockquote.info:before{background:none;top:-1px;bottom:-1px;left:-1px;width:2px;height:auto;}
blockquote.code{background:url(images/code_pattern.gif);padding:33px 44px;margin:54px 0;font-size:1.1333em;line-height:1.6471em;color:#333;border:1px solid #f1f1f1;font-weight:normal;}
blockquote.code:before{display:none;}
blockquote > div{font-style:italic;padding:18px 20px 25px;}
blockquote small{color:#333333;font-style:normal;margin-top:10px;}
ul, ol{margin:0;padding:0;}
ul.list.icons{padding-left:30px;}
ul.list.icons .fa{margin-left:-22px;margin-right:5px;}
dl{margin-top:16px;}
dt{margin-bottom:1px;}
dd{margin-bottom:14px;color:#444444;}
dd + dd{margin-top:-14px;}

ul{padding:0;margin:26px 0 36px;}
ol{margin:26px 0 36px 23px;}
ol li{margin:8px 0 0;padding:0 0 0 2px;}
ol li:first-of-type{margin-top:0;}
ul li{margin:8px 0 0 21px;list-style-type: none;position: relative;}
ul li:first-of-type{margin-top:0;}
ul ul{margin-left:20px;}
ol ol{margin-left:20px;}
/*ul li:before{content: "";position: absolute;left: 0px;top: 12px;width: 3px;height: 3px;background: #333;}*/
ul li:before{content:"\2014";margin:0 7px 0 -21px;}
ul.list-unstyled li{padding-left:0px;margin-bottom:0px;}
ul.list-unstyled li:before{display:none;}

.body_media{display:none;position:absolute;top:2;}
.valign{float:none;display:inline-block;vertical-align:middle;}
.styled-block{border-left:2px solid;background:url('images/background.png') #f5f5f5 0 0 repeat;color:#555555;margin-bottom:40px;clear:both;margin-top:30px;padding:37px 50px;font-size:15px;}
.order-block{width:100%;border:1px solid #f1f1f1;background:#f8f9fb;}
.order-block .text:before{content:"";position:absolute;width:40px;height:48px;left:44px;top:1px;background:url(images/svg/action_icons.svg) -92px 0 no-repeat;}
.order-block .row{margin:0;}
.order-block .row > div{text-align:center;padding: 41px 0 40px;min-height:83px;}
.order-block .row > div:last-of-type{/*background:#fff;*/}
.order-block  td{padding:37px 0px 39px;vertical-align:top;}
.order-block  td .btns{text-align:right;padding-right:39px;white-space:nowrap;}
.order-block  td .btns>span{display:inline-block;vertical-align:top;}
.order-block  .btn{margin:0;}
.order-block  .btn.order{padding:16px 28px;height:48px;}
.order-block  .btn.question{margin:0 0 0 5px;position:relative;height:48px;width:48px;padding:5px;}
.order-block  .btn.question svg{position:absolute;left:50%;top:50%;margin:-6px 0 0 -4px;}
.order-block  .btn.question:hover svg path{fill:#FFF;}
.order-block .text{/*padding:41px 50px 40px 153px;margin-top:-41px;margin-bottom:-40px;min-height:155px;*/padding:0 32px 0 108px;min-height: 50px;color:#333;text-align:left;position:relative;}
.order-block .text h1, .order-block .text h2, .order-block .text h3, .order-block .text h4, .order-block .text h5, .order-block .text h6 {color:#333333;margin-bottom:5px;margin-top:0px;}
.styled-block .row > div, .order-block .row > div{/*float:left;*/display: table-cell;vertical-align:middle;}
.styled-block .row > div.col-md-3, .order-block .row > vib.col-md-3{text-align:center;}
.styled-block .row > div.col-md-3 .btn, .order-block .row > vib.col-md-3 .btn{position:relative;margin:0;}
.select-outer select{appearance:none;-moz-appearance:none;-webkit-appearance:none;-o-appearance:none;-ms-appearance:none;font-size:13px;}
.select-outer i.fa{/*position:absolute;*/top: 0px;width: 28px;height: 36px;line-height: 36px;text-align: center;padding: 1px 1px 0px 2px;border-right: 0px solid #f5f5f5;left:0px;vertical-align:top;font-size:13px;margin-right: -28px;}
.select-outer i.fa:before{background: url(images/priority.png) -18px -329px no-repeat;color:#fff;}
.select-outer i + select{padding-left:39px;padding-right:7px;}
.select-outer select + i.fa{border-left: 0px solid #f5f5f5;right:0px;left:auto;border-right-width: 0px;padding-left:0px;margin-left: -28px;}
.select-outer.black i.fa{color:#333;}
.bx-opera .select-outer i.fa{top:6px;display:none;}
.bx-firefox .select-outer i.fa, .bx-ie .select-outer i.fa{/*height:31px;line-height:30px;*/}
.bx-firefox .select-outer select{padding-top:6px;padding-bottom:7px;}
.select-outer select::-ms-expand{display:none;}
.grey_light{color:#6d7a83;}
.grey_dark{color:#666666;}
.dark_light{color:#2f383d;}
.dark_light_table{color:#2f383d;font-size:16px;}
.dark_table{color:#333;font-size:15px;line-height:20px;font-weight:500;}
.noradius{border-radius:0;}
.white_middle_text{font-weight:bold;}
.underborder{border-bottom: 1px dotted;}


.introtext{font-size:1.1333em;line-height:1.6471em;color:#333;margin:42px 0 34px;}


.btn-inline { cursor: pointer; white-space: nowrap; }
.btn-inline i { margin: 0 14px; }
.btn-inline.rounded i { margin: 0 8px;  border-radius: 50%; width: 18px; text-align: center; height: 18px; line-height: 17px;position:relative;top:1px; }
.btn-inline.rounded i:before { margin-left: 2px; }
.bx-firefox .btn-inline.rounded i:before { margin-left: 0px; }
.btn-inline.rounded:hover i { color: #fff; background: #ccc; }
.btn-inline:hover { color: #333;  }

.btn-inline.sm { font-size:0.867em; }
.btn-inline.sm i { margin: 0 12px; }
.btn-inline.sm.rounded i { margin: 0 6px; }

.btn-inline.xs { font-size:0.733em; }
.btn-inline.xs i { margin: 0 10px; }
.btn-inline.xs.rounded i { margin: 0 4px; }

.btn-inline.black { color: #333; }

.black { color: #333; }

/* i.fa.big-icon /info/more/icons/ */
.fa.big-icon { height: 54px; width: 54px;  line-height: 54px; font-size: 29px;  border-radius: 50%; background: #666; color: #fff; text-align: center; }
.fa.big-icon.grey { color: #333;}
.fa.big-icon.s50 { height: 50px; width: 50px;  line-height: 50px; font-size: 29px; }
.fa.big-icon.s45 { height: 45px; width: 45px;  line-height: 45px; font-size: 25px; }
.fa.big-icon.s40 { height: 40px; width: 40px;  line-height: 40px; font-size: 22px; }
.fa.big-icon.s35 { height: 35px; width: 35px;  line-height: 35px; font-size: 19px; }
.fa.big-icon.s30 { height: 30px; width: 30px;  line-height: 30px; font-size: 17px; }
.fa.big-icon.s25 { height: 25px; width: 25px;  line-height: 25px; font-size: 13px; }

/* .icon-text /info/more/icons/ */
.icon-text { padding: 0 20px; height: 54px; line-height: 54px;  display: inline-block;  border-radius: 27px; white-space: nowrap;  }
.icon-text .fa { font-size: 30px; margin-top: -7px; vertical-align: middle; margin-right: 10px; }

a.icon-text:hover { color: #fff; text-decoration: underline; }
a.icon-text:focus { color: #fff; }

.icon-text.s50 { padding: 0 18px; height: 50px; line-height: 50px; }
.icon-text.s50 .fa {  margin-top: -2px; font-size: 26px; margin-right: 6px;  }

.icon-text.s45 { height: 45px; line-height: 45px; }
.icon-text.s45 .fa { margin-top: -2px;  font-size: 22px; margin-right: 4px;  }

.icon-text.s40 {  padding: 0 16px; height: 40px; line-height: 40px; }
.icon-text.s40 .fa { font-size: 22px;     margin-top: -4px; margin-right: 4px;  }

.icon-text.s35 { padding: 0 14px; height: 35px; line-height: 33px; }
.icon-text.s35 .fa { margin-top: 0;  font-size: 18px; margin-right: 4px;  }

.icon-text.s30 { padding: 0 12px; height: 30px; line-height: 30px; font-size: 13px; line-height: 29px; }
.icon-text.s30 .fa { margin-top: 0;  font-size: 15px; margin-right: 2px;     line-height: 13px;  }

.icon-text.s25 { padding: 0 9px;  height: 25px; font-size: 13px; line-height: 24px; }
.icon-text.s25 .fa { margin-top: 0;  font-size: 14px; margin-right: 2px;     line-height: 13px;  }

/* BUTTONS */
.btn{font-size:0.8533em;text-transform:uppercase;text-decoration:none;border:1px solid;padding:12px 21px 11px;letter-spacing:0.8px;border-radius:3px;overflow:hidden;transition:background-color 0.3s ease;-moz-transition:background-color 0.3s ease;-ms-transition:background-color 0.3s ease;-o-transition:background-color 0.3s ease;-webkit-transition:background-color 0.3s ease;}
.bx-firefox .btn{padding-top:11px;padding-bottom:11px;}
.btn > *{-moz-transition:background-color 0.3s;-ms-transition:background-color 0.3s;-o-transition:background-color 0.3s;-webkit-transition:background-color 0.3s;transition:background-color 0.3s;}
.btn-lg,.bx-firefox .btn-lg{padding: 16px 27px;font-size:0.7333em;}
.btn.btn-sm,.bx-firefox .btn.btn-sm{padding:9px 19px;font-size:0.6667em;}
.btn.btn-xs,.bx-firefox .btn.btn-xs{padding:7px 16px;font-size:0.6667em;}
.btn.btn-transparent,.btn.btn-default.btn-transparent,.btn.btn-transparent:active,.btn.btn-transparent:focus,.btn.btn-default.btn-transparent:active,.btn.btn-default.btn-transparent:focus{background:transparent;}
.btn[disabled],.btn.disabled{background:none !important;border:1px solid #bbbbbb !important;color:#bbbbbb !important;}
.btn[disabled] > *,.btn.disabled > *{background:none !important;border:none !important;color:#bbbbbb !important;}
.btn-lg[disabled],.btn-lg.disabled{border-width:2px;}
.btn-icon i{margin-right:10px;}
.btn-icon-right i{margin-right:0;margin-left:10px;}
.btn-default.wc{padding:0 !important;font-size:0;}
.btn-default.wc .fa{display:inline-block;height:31px;line-height:32px;vertical-align:top;width:32px;*display:inline;zoom:1;font-size:13px;}
.btn-default.wc span{display:inline-block;padding:6px 12px 5px 0px;line-height:19px;vertical-align:top;*display:inline;zoom:1;font-size:13px;}
.btn-default.btn-xs.wc .fa{width:25px;height:26px;line-height:27px;font-size:14px;font-weight:bold;}
.btn-default.btn-xs.wc span{line-height:16px;padding:5px 10px 4px 0;font-size:11px;}
.btn-default.wc.vert{background:none;border:none;padding:0;min-width:100px;width:100%;}
.btn-default.wc.vert .fa{background-color:#cdd8dd;border:none;display:block;height:70px;line-height:70px;vertical-align:top;font-size:39px;border-radius:1px 1px 0 0;width:100%;}
.btn-default.wc.vert span{color:#1d2029;background:#dfeaed;border-bottom:1px solid #c8d2d5;border-top:1px solid #eaf1f3;display:block;padding:10px 12px 10px;line-height:16px;font-size:13px;font-weight:bold;border-radius:0 0 1px 1px;white-space:normal;text-shadow:none;}
.btn-default.wc.vert:hover span{background:#cdd8dd;border-bottom:1px solid #b8c2c6;border-top:1px solid #dde5e8;}
.btn.btn-responsive-nav{ color:#FFF; padding:5px 8px 3px;margin:0;border:medium none;}
.btn.btn-responsive-nav .fa{font-size:21px;}
.btn.btn-transparent-border{border:1px solid rgba(243,243,243,0.4);}
.btn.btn-transparent-border:hover{color:#fff;}
body.round_button .btn{border-radius:20px;}
body.round_button .btn.btn-sm{border-radius:18px;}
body.round_button .btn.btn-lg{border-radius:25px;}
body.round_button footer .info .subscribe_button .btn{border-radius:23px;}
body.round_button .social-icons ul li a{border-radius:22px;}
body.round_button .soc-avt .row a{border-radius:22px;}
body.round_button .banners-big .slides .btn{border-radius:25px;}
body.round_button a.scroll-to-top.ROUND_COLOR, a.scroll-to-top.RECT_COLOR{border-radius:100%;}
body.round_button .item-views.front .arrows .arrow{border-radius:100%;}
body.round_button .arrow_open{border-radius:100%;}
body.round_button .blog-comment-buttons-wrapper .btn{border-radius:24px;}
body.round_button .catalog.detail .info .btn{border-radius:24px;}
body.round_button .catalog.detail .info .buy_block .counter>.wrap{border-radius:24px;}
body.round_button .wrap_basket .dropdown .items .item .buy_block .counter{border-radius:14px;}
body.round_button .basket .buy_block .counter{border-radius:16px;}
body.round_button .flexslider .flex-direction-nav a{border-radius:100%;}

.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}

/* LABELS */
.label{border-radius:1px;font-size:11px;font-weight:normal;line-height:14px;height:22px;padding:0.4em 0.6em;display:inline-block;vertical-align:top;}
.label-instock{background:#3cc051;}
.label-nostock{background:#999999;}
.label-pending{background:#fcb322;}
.label-order{background:#57b5e3;}

/* REVIEW */
.review{margin-bottom:30px;position:relative;}

/* check bitrix popups style */
.bx-core-window img{vertical-align:baseline;}
.bx-core-window .adm-btn, .bx-core-window .adm-input-file{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-o-box-sizing:content-box;-ms-box-sizing:content-box;}

/* error - not existing module aspro.corporation */
.include_module_error{margin:0 auto;text-align:center;}
.include_module_error img{max-width:100%;}
.include_module_error p{color:#636363;font-size:14px;line-height:20px;margin-top:0;}

.tizers.in_content{margin:41px -16px 65px;}
.tizers.in_content:first-child{margin-top:0;}
.tizers.in_content:after{content:"";display:block;clear:both;}
.tizers.in_content>.wrap{margin:-13px 0 -8px;text-align:center;}
.tizers.in_content .tizer{display:inline-block;vertical-align:top;margin:29px -3px 0 0!important;padding:0 16px;width:33.33333333%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.tizers.in_content .tizer .image{margin:0 0 21px;width:50px;height:50px;line-height:47px;}
.tizers.in_content .tizer .image img{max-width:100%;max-height:100%;}
.tizers.in_content .tizer.image_bg .image img{background-color:#333;}
.tizers.in_content .tizer .title,.detail .tizers.in_content .tizer .body-info .title{color:#333;line-height:1.6em;}
.tizers.in_content .tizer .previewtext,.detail .tizers.in_content .tizer .body-info .previewtext{margin:5px 0 0;font-size:0.8667em;line-height: 1.5385em;}
.tizers.in_content.text-right{text-align:left;}
.tizers.in_content.text-right .tizer:after{content:"";display:block;clear:both;}
.tizers.in_content.text-right .tizer .image{float:left;margin-bottom:0;margin-top:4px;}
.tizers.in_content.text-right .tizer .body-info{margin-top:-1px;padding:0 0 0 76px;}
.item-views.news-items:not(.projects) .item .image a {
  display: block;
  height: 100%;
}
.item-views.news-items:not(.projects) .item .image img {
  height: 100%;
  object-fit: cover;
}
.img-responsive {width: 100%;}
.main_info .image {width: 345px !important;}
div[data-sid="COMPLECT"], div[data-sid="COMPLECT_PRICE"], div[data-sid="NEED_PRODUCT"] {display: none;}
.dsbl .title a {color: #b5b5b5}

/* КОМПЛЕКТАЦИИ */
#tabs li.current a { color: #219754;}

/* hr */
.page-top .row {border-bottom: 0px solid #F5A630!important;}
/* последний css */
.catalog.detail {border-top: 0px!important;margin-bottom: 0px;}
section.page-top {padding-top: 24px;}
.block-description,
.complectation-description {padding-bottom: 24px;}
.complectation-item { padding-bottom: 48px; }

ul.dropdown-menu {width: 240px;}
.wttabs .row .gallery{order: 3}
.wttabs .row .comments{order: 4}
.front.catalog .link{margin: 24px 0!important;}
.price_baz2{top: -58px!important;}
.flex {display: flex}
.fly_forms {display: none;}
.goods-block #tabs a { text-decoration: underline;}
.reviews-photos .flex { flex-wrap: wrap; flex-direction: row; }
.reviews-photos .flex .item img {width: 100%; height: 240px; object-fit: contain;}
.reviews-photos .flex .item {width: 50%; padding: 8px;}
.marquiz__container { position: fixed; bottom: 30px; width: auto !important; left: 30px; z-index: 12; }

.price_new {margin: 0px;}
.vacancys .bottom-wrapper {position: sticky; bottom: 0; z-index: 100; background: #FFFFFF; padding: 10px; border-top: 2px solid #f6b44f;}
.wraps.goods-block{position: relative;}
.header-v1 {height: 87px;}

@media (max-width: 479px) {
  .reviews-photos .flex .item {width: 100%}
  .flex {display: block;}
  .form_page {margin-bottom: 70px;}


  .advanced-complect .col-xs-1,
  .advanced-complect .col-xs-4,
  .advanced-complect .col-xs-3,
  .advanced-complect .col-xs-7,
  .advanced-complect .col-xs-9
  .camper-complect-list .col-xs-1,
  .camper-complect-list .col-xs-4,
  .camper-complect-list .col-xs-3,
  .camper-complect-list .col-xs-7,
  .camper-complect-list .col-xs-9 {padding: 0px}

  .advanced-complect .row.item {margin: 0px;}
  .advanced-complect input[type="checkbox"]:checked::after {
    left: -6px !important;
  }
  .sections.item-views.linked .items .item {display: flex !important}
  .green_price {font-size: 15px !important;}
}
@media (max-width: 767px) {
  .complectations .row > div {order: 1};
  .detail .galery .flexslider .slides > li a{display: block!important;}
  .catalog.detail .galery .inner {max-height: 250px !important; }
  .detail .galery .flexslider .slides > li a {max-height: 200px !important;}
  .credit-calc a {margin: 0px 22px;}
}

.popup-window-fixed-height img{width: 100%!important;height: 100%!important;object-fit: contain;}
.maxwidth-banner{    background-size: 100%!important; -moz-background-size: 100%!important;  -o-background-size: 100%!important;}
.maxwidth-banner .row{position: relative;z-index: 1;}
.maxwidth-banner .righttext{position: inherit!important;z-index: 1;}
.maxwidth-banner:after{content: '';background: rgba(0,0,0,.2);position: absolute;top: 0;bottom: 0;left: 0; right: 0;}
.banners-big .maxwidth-banner:after{content: none!important;}
.banners-content{position: relative;}
.itemimage{height: auto!important;margin-top: 100px!important;}
.menufixed .svg-phone.mask{display: none!important;}
.menufixed .phone {font-size: 13px;}
.menufixed  .wa-btn{font-size: 13px;}
.greyline .image{margin-right: 20px;}
.wrapper-block-btn.order .more a{text-decoration: none; color: white; background: #193b78; font-weight: 900;}
.marquiz__button {border: 1px solid #269958 !important;background-color: #269958 !important;}

.base-price-header { display: flex; flex-wrap: nowrap;  align-items: center; justify-content: center; flex-direction: row;}
.base-price-header > div { width: 50%}
.base-price-header .price span {font-weight: 600; color: #f5a632;}
.sections.linked.item-views.vacancys .item .previewtext {padding-bottom: 8px;}
.thmb_wrap .flex-direction-nav a {display: none !important;}
.thmb_wrap {display: none;}
.advanced-complect a,
.camper-complect-list .title { text-decoration: underline;}
.catalog.item-views.table .items .item-wrap:last-child{height: 100%!important;}
.banner- .services{margin-bottom:0!important;}
.banner- .services .catalog .complectation-description{padding-bottom:0!important;}
.banner- .services .complectation-item{padding-bottom:40px!important;}
.maps{padding-bottom:40px;}
.green_maps{background:#269958;}
.green_maps h2{color:white;}
.green_maps h2{padding-top: 40px;}
.name.title h3{font-size: 25px; font-weight: 600;}
.campers_price{ font-size: 20px; position: absolute; bottom: 0;width: 100%;}
.campers_price h4{color:#ffffff!important;text-transform:unset!important;padding:25px!important; margin:0!important; font-weight: 600!important;background: rgba(33, 151, 84, 0.67);}
.properties_wrap.image_wrap .block{position	: relative; }
.base-complect {
  position: relative;
}

details,
summary {
  display: inline;
}
details[open] {
  display: contents;
}
details[open]::after {  /* пространство для записи "СВЕРНУТЬ" */
  display: block;
  content: "\00a0";
}
details[open] #textbox::after {  /* пространство для записи "СВЕРНУТЬ" */
  display: none;

}
summary {
  color: #f5a732;
  cursor: pointer;
}
details[open] summary {
  position: absolute;  /* переместить запись "СВЕРНУТЬ" вниз <div> */
  bottom: 0;
  left: 0;
}
summary::before {
  content: "Подробнее";
}
details:before{
	content:"";
		display:block;
		height:100px;
		position:relative;
		bottom:100px;
		margin-bottom: -100px;
		width: 100%;
		background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 100%)
}
details[open]:before{
		display:none;;
}
details[open] summary::before {
  content: "Скрыть";
}
.detail .galery .flexslider .slides > li a {height: auto !important;}
.footer_bottom .row .copy-block .confidentiality{
  float: none!important;
}
.credit-calc {
  text-align: center;
  width:100%
}
.credit-calc a {
  display:inline-block;
  margin: 0px 40px;
}

#lightboxOverlay { position: fixed !important; top: 0; left: 0; height: 100% !important; width: 100% !important; }
#lightbox { position: fixed !important; top: 50% !important; transform: translateY(-50%); }
.detail_left_block { width: 100% }
.wraps.chars .row {display: block}
#footer {margin-top: 20px;}
