/*!
* chiefSlider
*   site: https://itchief.ru/javascript/slider
*   github: https://github.com/itchief/ui-components
*
* Copyright 2018-2021 Alexander Maltsev
* Licensed under MIT (https://github.com/itchief/ui-components/blob/master/LICENSE)
*/
.dental-index .slider__wrapper {
  overflow: hidden;
}

.dental-index .slider__item {
  flex: 0 0 100%;
  max-width: 50%;
  height: 450px;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 7rem;
}
.dental-index .slider {
  position: relative;
}

.dental-index .slider__container {
  overflow: hidden;
}

.dental-index .slider__wrapper {
  /* overflow: hidden; */
}

.dental-index .slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

.dental-index .slider_disable-transition {
  transition: none;
}

.dental-index .slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
}

/* кнопки влево и вправо */

.dental-index .slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 50px;
  color: #fff;
  text-align: center;
  background: rgb(0 0 0 / 20%);
  transform: translateY(-50%);
}

.dental-index .slider__control_hide {
  display: none;
}

.dental-index .slider__control[data-slide="prev"] {
  left: 0;
}

.dental-index .slider__control[data-slide="next"] {
  right: 0;
}

.dental-index .slider__control:hover,
.dental-index .slider__control:focus {
  color: #fff;
  text-decoration: none;
  background: rgb(0 0 0 / 30%);
  outline: 0;
}

.dental-index .slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.dental-index .slider__control[data-slide="prev"]::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.dental-index .slider__control[data-slide="next"]::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* индикаторы */

.dental-index .slider__indicators {
  position: absolute;
  right: 0;
  /* bottom: 0; */
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-right: 15%;
  margin-bottom: 0;
  margin-left: 15%;
  padding-left: 0;
  list-style: none;
}

.dental-index .slider__indicators li {
  flex: 0 1 auto;
  box-sizing: content-box;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgb(118 118 118 / 50%);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  cursor: pointer;
}

.dental-index .slider__indicators li.active {
  background-color: rgb(106 103 103 / 90%);;
}
.dental-index .slider__item img{width: 100%;    object-fit: contain;}
@media (max-width: 991px){
.dental-index .slider__item{height: 300px;}
.dental-index .slider__control[data-slide="prev"]{left: auto;}
.dental-index .slider__control[data-slide="next"]{right: 16px;}
.callorder{padding: 0!important; min-height: 100px!important;}
.forma{margin-bottom: 0px!important;}
.dental-catalog .btn-block{margin: 30px 0;}
}
@media (max-width: 767px){
.dental-catalog-block{margin-bottom: 50px;}
}
@media (max-width: 425px){
.dental-index .slider__item{height: 230px;}
}
