/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

section.page-top h1 {
    margin-bottom: -3px;
    margin-top: 10px;
}


.text {
    font-size: 16px;
}

.text h2, .text h3 {
    font-size: 24px;
}

.text p {
    line-height: 24px;
    color: #555555;
}

/* Начало - Жалюзи */

.production .col-text {
    margin-right: 0;
    margin-left: 24px;
}

.production, .x-ray-service {
    background-color: #f7f7f8;
    padding: 60px 20px 60px 0px;
}

.production p {
    margin: 0;
}

.blinds .inline-block, .production .inline-block {
    margin-top: 25px;
}

.graphic .inline-block {
    margin-top: 5px;
}

.blinds .inline-block span, .production .inline-block span, .x-ray-service .inline-block span, .graphic .inline-block span {
    font-weight: bold;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.blinds h2 {
    margin-top: 0px;
}

.production h2 {
    margin-top: 10px;
}

.col-text {
    margin-right: 24px;
}

.blinds .col-text, {
    padding: 5px 0;
}

.plus {
    margin: 50px 0 30px 0;
}

.plus h2 {
    text-align: center;
    margin-bottom: 50px;
}

.two-col {
    display: flex;
}

.text img {
    width: 400px;
}

.plus-blok {
    display: flex;
    justify-content: center;
    width: 100%;
}

.plus-item {
    width: 400px;
    padding: 0 20px;
    text-align: center;
}

.plus-heading {
    font-weight: bold;
    margin: 10px 0;
}

.plus-blok .icon {
    width: 50px;
}

.blue-border p {
    margin-bottom: 0;
}

.blue-border {
    border-radius: 2px;
    border-top: 2px solid #0088cc;
    border-bottom: 2px solid #0088cc;
    padding: 40px;
    font-weight: bold;
}

.blinds {
    margin-bottom: 60px;
}

.x-ray-service {
    padding-right: 0;
}

.col-text {
    padding: 0px 20px;
}

.forma {
    margin-bottom: 50px;
}

.fields, .send {
    display: flex;
    justify-content: space-between;
}

.callorder {
    border-radius: 2px;
    background-color: #0088cc;
    color: #fff;
    padding: 10px 30px 25px;
    min-height: 150px;
}

.callorder__title h2 {
    color: #ffffff;
}

.callorder__text {
    line-height: 18px;
}

.callorder input[type=submit] {
    width: 130px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: #0088cc;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0;
}

.callorder input[type=text] {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: #fff;
    display: inline-block;
    padding: 20px 16px 19px;
    color: #51555d;
    font-family: "Myriad Pro",sans-serif;
    font-size: 15px;
    border: none;
    margin-bottom: 20px;
}

.callorder input[type=checkbox] {
    margin-right: 10px;
}

.callorder .start-text {
    margin-bottom: 20px;
}

.forma .btn {
    margin: 0;
}

/* Конец - Жалюзи */


/* Начало - Панели */

.text .panel {
    margin-bottom: 30px;
}

.text .panel h1 {
    line-height: 40px;
}

.vertical-img {
    height: 270px;
}

.white {
    background-color: #ffffff;
}

/* Конец - Панели */


/* Начало - Проектирование */

.text .design .row {
    display: flex;
    justify-content: space-between;
}

.text ul.blue-mark li::before {
    content: '';
    width: 6px;
    height: 6px;
    top: 9px;
    border-radius: 3px;
    background-color: #0088cc;
}

.content ul.blue-mark li::before {
    content: '';
    width: 6px;
    height: 6px;
    top: 10px;
    border-radius: 3px;
    background-color: #0088cc;
}

.blue-mark p {
    margin-bottom: 20px;
}

.step-pic--wrap {
    position: relative;
    width: 50px;
}

.step-pic {
    display: inline-block;
    border-radius: 50%;
    background-color: #0088cc;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 14px;
}

.graphic {
    background-color: #f7f7f8;
    padding: 50px 20px 40px;
    margin-top: 30px;
}

.why-do {
    padding: 60px 20px;
}

.why-do h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 40px
}

.blue-mark h3 {
    margin-top: 0px;
}

.graphic .col-img {
    margin-top: 70px;
}

.text table {
    background-color: #f7f7f8;
}

.tel-text {
    font-weight: bold;
    margin: 40px 20px;
}

.tel-text a {
    font-size: 20px;
}

.text-bold {
    margin: 20px 0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.text table p {
    margin-bottom: 0px;
}

.text table .blue-mark {
    margin: 0 10px;
}

.text table .blue-tr {
    background-color: #0088cc;
    font-weight: bold;
}

.text table .blue-tr p{
    padding: 10px 0px;
    color: #fff;
}

.text table .dop-uslugi {
    padding-left: 20px;
}

.text table .dop-uslugi p {
    line-height: 30px;
}

.detail .text img {
    max-width: none;
}

/* Конец - Проектирование */

.remainigLicense div a,
.remainigLicense div {
    color: #fff !important;
    font-size: 16px;
}

.remainigLicense input[type="checkbox"] + label::before, .remainigLicense input[type="radio"] + label::before{
    background-color: #0250BB;
}
.remformsubmit {
    width: 130px;
    height: 50px;
    border: 2px solid #ffffff !important;
    border-radius: 3px;
    background-color: #0088cc !important;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0;
    float: right;
}
.form-footer > div{
    padding: 0
}
.forma .start-text {
    padding: 15px 15px 0;
}
.form-control {
    margin-bottom: 20px;
}
.forma .form-footer {
    margin: 0 15px;
}
.forma label {
    color: #fff;
    font-size: 15px;
}

@media screen and (max-width: 1280px) {
    .clothes .x-ray-service .col-text, .screens .x-ray-service .col-text {
        padding-bottom: 30px;
    }
}

.clothes .step-pic, .screens .step-pic {
    padding-top: 12px;
}

.clothes .text-normal {
    text-align: center;
}

.cert-items .slides li{
    padding: 5px;
}

.cert-items .slides .item {
    border: 1px solid #f2f2f2 !important;
    padding: 15%;
}
.title.cert-title {
    text-align: center;
    padding: 5px 0;
}

.certslidertitle {
    font-size: 2em;
    margin-bottom: 30px;
}

.cert-items .flex-direction-nav li,
.cert-items .flex-direction-nav {
    opacity: 1 !important;
}
.cert-items .flexslider .flex-direction-nav,
.cert-items .flex-next,
.cert-items .flex-prev {
    opacity: 1;
    visibility: visible  !important;
}

.detail .cert-items .flex-direction-nav.opacity1 {
    top: 50% !important;
}

/* TABS */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.flex {
  display: flex;
}

.bullets {
  margin-bottom: 24px;
  align-items: center;
}

.bullets .icon {
  padding-right: 24px;
}

.bullets .title {
  font-size: 1.3em;
  font-weight: 600;
  padding-bottom: 12px;
}

.plus h2 {
  text-align: left;
}

div[data-sid="HIDE_CATEGORY"],
div[data-sid="HIDE_PRICE"] {
  display: none
}

.slides .footer-button .btn {
  display: none;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.tabs .tab-content{padding: 40px 15px 15px;}
ul li{margin-bottom: 0px;}

/*Landing CSS*/

.dental-banner .slides > li > .maxwidth-theme > .row > div{float: left;}
.dental-banner .inner .title{color: white!important;}
.dental-banner .inner .text-block p{color: white;}
.dental-banner .form.contacts{margin: 0;background-color: rgb(255, 255, 255);border-radius: 20px;box-shadow: 0px 12px 33px -7px rgb(0 0 0 / 9%);color: #333;padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;}
.dental-banner .form .required-star{display: none;}
.dental-banner .form .form-group{margin-bottom:15px;}
.dental-banner .form .form-group i{display: none;}
.dental-banner .form .form-group label{position: absolute; top: 12px;font-size: 14px!important; left: 12px; z-index: 1;}
.dental-banner .form .form-group label.error{top: -18px!important;font-size: 10px!important;}
.dental-banner .form .form-group.input-focused label{display: none;}
.dental-banner .form-control{font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;border: 1px solid #ccc;height: 44px;border-width: 2px;padding: 10px 12px;border-radius: 5px;}
.dental-banner form{padding: 20px;  border-width: 3px;border-style: solid;border-color: rgb(66, 166, 255);border-radius: 10px;}
.dental-banner form .btn{    width: 100%;margin: 0;border-radius: 5px;background-color: #f57600;border-color: #f57600;}
.dental-banner form .btn:hover{background-color: rgb(221, 106, 0);border-color: rgb(221, 106, 0);}
.dental-banner .slides .licence_block a{color:#f57600;font-size: 13px!important;}
.dental-banner .slides .text .inner{padding-top: 200px;}
.dental-banner .slides > li > .maxwidth-theme > .row{font-size: 10px;}
.dental-banner .form.contacts .form-group textarea{height: 44px;}
.dental-banner .form.contacts .dental-textable{  padding-bottom: 0px; margin-bottom: 0;}

.dental-catalog .btn-block{text-align: center;}
.dental-catalog .btn{margin: 0;border-radius: 5px;background-color: #f57600;border-color: #f57600;}
.dental-catalog .btn:hover{background-color: rgb(221, 106, 0);border-color: rgb(221, 106, 0);}

.dental-index h2{text-align: center;font-size: 40px;line-height: 1.1;letter-spacing: 0em;opacity: 1;font-weight: 500;color: #333;}
.dental-index h3{font-size: 25px;color: #333;font-weight: 500;}
.dental-index .number_tizers{color: rgb(0, 0, 0); opacity: 0.05; font-weight: bold; font-style: normal; font-size: 164px; line-height: 1; margin-bottom: -77px;}
.dental-index .line{width: 12%; height: 3px; background-color: rgb(245, 118, 0); border-radius: 0px;}
.dental-index .form .licence_block{margin: 0px 0px 0px;}
.row-dental .col-md-8 .title{padding: 0 0 40px 0;}
.row-dental{padding: 35px 0;}

.dental-banner-tizer p{border-left: 7px solid #d4912b;margin-bottom: 40px;padding-left: 10px;}
.drag-block.TEASERS_INDEX {display: none;}
.dental-proizvodstvo{margin-bottom: 100px;}
.dental-zapros{width: 50%; margin-bottom: 40px;}
.dental-catalog-block{margin-bottom: 100px;}
.dental-textable{text-align: center;font-size: 16px;  line-height: 1.5;letter-spacing: 0.043750000000000004em;padding-bottom: 20px;}

.body ul li:before{position: absolute;}

.dental-banner .slides .success .text{height: auto!important; line-height: normal!important;}
.dental-banner .slides .success .text p{font-size: 16px;}
.dental-banner .slides .success .title{display: block!important;}


@media (min-width: 992px){
  .dental-banner .slides .success{margin-top: 40%;}
  .in_service_maxwidth-theme{display: flex;align-items: center;}
  .customers .row{display: flex;justify-content: space-around;}
}

@media (min-width: 768px){
  .customers .row{display: flex;justify-content: space-around;}

  .customers .col-sm-4{border: 1px solid #e3e3e3;margin-bottom: 16px; margin-right: 10px;}
}

/*Landing CSS end*/

.ajax_basket .right_dok .link{display: none;}
.fill-block ul li a .text{padding: 0px 1px 0px 0px!important;}
.tabcontent{display: block;}
#mobileheader {
top: 0;
position: fixed;
width: 100%;
}

.banners-big .slides .text .inner{opacity: 1!important;}

/*CSS SERVICES*/
.step-picc{color: #0088cc;font-weight: bold;display: inline-block;font-size: 89px;}
.text-step{font-size: 20px;font-weight: 600; padding-top: 15px; padding-bottom: 30px;}
.in_service{margin-bottom: 0px;}
.in_service .item_block{float: left;}
.services_med #desc .text{margin: 40px 0;}
.in_service .text h1{color: white;}
.in_service  p{color: white;}
.in_service .banner-tizer{display:none;}
.in_service .banner-tizer p { border-left: 7px solid #d4912b; margin-bottom: 40px; padding-left: 10px;}
.in_service_row{background-color:rgba(0,0,0,.3); height:100%;  top:0; left:0;padding: 40px 0;}
.services_med .tab{ border: 0px solid #ccc; background-color: #ffffff;}
.services_med .two-col{justify-content: space-around;}
.services_med h2{font-size: 40px;padding-bottom: 50px;font-weight: 500;padding-left: 5px;line-height: 40px;}
#table_price tbody tr:nth-child(even){background: rgb(204, 204, 204);}
#services_hr{border-top: 1px solid #000000;margin-top: 25px;}
.services_med .list_block{padding: 25px 0;}
.what_contains .row{padding: 30px 0;}
.services_med  .list_tab{padding: 36px;}

.services_med .faq .row,.services_med .algorithm .row{display: flex; flex-flow: row nowrap;}
.services_med .faq .col-md-6,.services_med .algorithm .col-md-6,.services_med .faq .col-md-12{margin: 20px; border-radius: 7px;   border: 1px solid #e3e3e3;}
.services_med .button-wrapper{text-align: center; padding-top: 30px;}
.services_med form .btn{background-color: #0088cc;border-color: #0088cc;}
.services_med span.btn{background-color: #0088cc;border-color: #0088cc; color: white;border-radius: 5px;}
.services_med .row b{font-size:22px;}
.services_med {font-size:16px;}
.what_contains h3 img{height: 20px!important;width: auto; margin-top: -5px; margin-left: -2px;}
.services_med .about .row{display: flex; align-items: center;}
.services_med{margin: -16px;}
.services_med #desc .maxwidth-theme{width: 80%;padding-left: 24px !important;padding-right: 24px !important;}
.list_background{background: rgb(245, 245, 245);;}
.services_med #desc{margin-top:0px!important;}
.services_med .advantages .row{display: flex; flex-flow: row nowrap;}
.services_med .advantages .col-md-3{margin: 5px; background-color: rgb(255, 255, 255); border-radius: 5px;padding: 25px; }
.services_med table tr td{padding: 8px!important;}

.body_services .main > .container{padding-bottom: 0!important;}
.in_service h1{color: white;}
.form .form-header .title{margin-bottom: 0px!important;}
.form .form-group{ margin-bottom: 10px;}
.form-control{margin-bottom: 0px;}
.form.popup .form-footer{    padding: 0px 53px 10px;}
.form.popup .form-body{padding: 0px 53px 0px;}
.form.inline{margin-top: 60px!important;}
.body_services .detail .drag_block > div{margin-bottom: -28px!important;}
@media (max-width: 991px){
  .header_nopacity{margin-top: 45px;}
  .in_service_row{padding:60px 20px 5px 30px;}
.container-dental {width: 85%;margin-left: auto;margin-right: auto;}
.slider-left{display: flex; flex-direction: column-reverse;}
.services_med .dental-zapros{width: 85%;}
.dental-zapros{width: 85%;}
.dental-textable{font-size: 13px;}
.dental-banner .row-dental{padding-top: 20px!important; height: auto!important; display: grid!important;width: 85%; margin: 0 auto!important;}
.dental-banner .inner .title{padding-bottom: 20px;text-align: center;}
.dental-banner-tizer p{padding-left: 10px; border-left: 3px solid #d4912b; margin-bottom: 6px;text-align: left;}
.dental-banner .form.contacts .col-sm-12{padding-top: 10px!important;}
.dental-banner.long-banner .slides > li{height: 820px;}
.dental-banner.long-banner .flexslider, .dental-banne.long-banner .slides{height: 820px;}
/*CSS SERVICES*/
.services_med .faq .row, .services_med .algorithm .row{display: block!important;}
.services_med .about .row{display: block!important;}
.in_service_row .col-md-5.dental-banner{display: none;}
.services_med .advantages .row{display: block!important;}
.services_med .about img{display: none;}
.body_services .banners-content .maxwidth-banner > .row{margin: 60px 0 0;}
.customers .address{height: 60px!important;}
.customers .title{height: 40px!important;}
}
@media (max-width: 767px){
.bx-newslist-title {text-align: center;}
.dental-index h2{font-size: 29px;}
.banners-big.long-banner{ margin-top: 60px!important;}
/*CSS SERVICES*/
.composition_cabinet .col-sm-4 {text-align: center;}
.services_med #desc .maxwidth-theme{width: 100%!important;}
.services_med h2{font-size: 27px;padding: 0!important;line-height: 27px;}
.services_med .row b{font-size:16px;}
.services_med {font-size:14px;}
.step-picc{font-size: 60px;}
.services_med .list_tab{padding:20px 10px!important;}
.services_med .dental-zapros{width: 100%!important;}
.customers .img{  height: 100%!important;}
#amofroms_main_wrapper.sidebar_right .amoforms__fields__editor-sidebar{display: none;}
#amofroms_main_wrapper.sidebar_right{flex-direction: column;}
#amofroms_main_wrapper.sidebar_right .amoforms-form{width: 100%;border-top-right-radius: inherit;  border-bottom-right-radius: inherit;}
}
@media (max-width: 425px){
.dental-banner .row-dental{display: block!important;}
}
html {scroll-behavior: smooth;}
.dental-banner .form .input-filed label{display: none;}
.customers hr{border-top: 2px solid rgb(217, 217, 217);margin: 6px 0px 25px!important;}
.customers i{color:#0088cc;    margin: 0px 10px 0px 0px;font-size: 20px;}
.customers .address{font-size: 14px;height: 35px;}
.customers .title{font-weight: 500;margin-top: 10px;height: 30px;}
.customers .img{width: 100%;  height: 200px!important;}
.customers img{height: 100%;width: 100%; object-fit: cover;}
