
/* Thumb Info */
a.thumb-info {
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	max-width: 100%;
}

a.thumb-info:hover span.thumb-info-action-icon {
	right: 0;
	top: 0;
}

a.thumb-info:hover span.thumb-info-action {
	filter: alpha(opacity=100);
	opacity: 1;
}

a.thumb-info span.thumb-info-action-icon {
	-moz-border-radius: 0 0 0 25px;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-border-radius: 0 0 0 25px;
	-webkit-transition: all 0.3s;
	background: #CCC;
	border-radius: 0 0 0 25px;
	display: inline-block;
	font-size: 25px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: -100px;
	text-align: center;
	top: -100px;
	transition: all 0.3s;
	width: 50px;
}

a.thumb-info span.thumb-info-action-icon i {
	font-size: 24px;
	left: 3px;
	position: relative;
	top: -4px;
}

a.thumb-info:hover span.thumb-info-title {
	background: #000;
}

a.thumb-info span.thumb-info-action {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	background: rgba(36,27,28, .9);
	bottom: 0;
	color: #FFF;
	filter: alpha(opacity=0);
	height: 100%;
	left: 0;
	opacity: 0.0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s;
	width: 100%;
}

a.thumb-info span.thumb-info-inner {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	display: block;
	transition: all 0.3s;
	white-space: nowrap;
}

a.thumb-info span.thumb-info-title {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	background: rgba(36,27,28, .9);
	bottom: 10%;
	color: #FFF;
	font-size: 18px;
	font-weight: 700;
	left: 0;
	letter-spacing: -1px;
	padding: 9px 11px 9px;
	position: absolute;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	text-transform: uppercase;
	transition: all 0.3s;
	z-index: 1;
}

a.thumb-info span.thumb-info-type {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #CCC;
	border-radius: 2px;
	display: inline-block;
	float: left;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	margin: 8px -2px -15px -2px;
	padding: 2px 9px;
	text-transform: none;
}

a.thumb-info:hover img {
	-moz-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}

a.thumb-info img {
	-moz-border-radius: 3px;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-border-radius: 3px;
	-webkit-transition: all 0.2s linear;
	border-radius: 3px;
	position: relative;
	transition: all 0.2s linear;
}

span.thumb-info-caption {
	padding: 10px 0;
}

span.thumb-info-caption p {
	font-size: 0.9em;
	line-height: 20px;
	margin: 0 0 8px;
	padding: 10px;
}

span.thumb-info-social-icons {
	border-top: 1px dotted #DDD;
	margin: 0;
	padding: 15px 0;
	display: block;
}

span.thumb-info-social-icons a {
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background: #CCC;
	border-radius: 25px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}

span.thumb-info-social-icons a:hover {
	text-decoration: none;
}

span.thumb-info-social-icons a span {
	display: none;
}

span.thumb-info-social-icons a i {
	color: #FFF;
	font-size: 0.9em;
	font-weight: normal;
}

a.thumb-info.secundary span.thumb-info-title {
	background: transparent;
	bottom: auto;
	left: 0;
	right: 0;
	top: 35%;
	text-align: center;
	opacity: 0;
}

a.thumb-info.secundary span.thumb-info-type {
	float: none;
}

a.thumb-info.secundary:hover span.thumb-info-title {
	top: 42%;
	opacity: 1;
}

/* Thumbnail Gallery */
ul.thumbnail-gallery {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

ul.thumbnail-gallery li {
	display: inline-block;
	margin: 10px 10px 0 0;
	padding: 0;
}

/* Navs */
ul.nav-list.primary > li {
	margin: 0;
	padding: 0;
}

ul.nav-list.primary > li a {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	background-position: 9px 16px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #EDEDDE;
	padding: 8px 20px;
	transition: all 0.3s;
}