body .banners-content{margin-bottom:0;}
.main_blocks{font-weight: 900;display: flex;}
.main_blocks p{margin: 5px 0;}
.main_blocks img{object-fit: contain;width: 37px!important;height: 37px;}
.main_blocks_row{padding-bottom: 20px;}
.catalog.detail .galery{padding: 0 0 0 0!important;}
.detail .galery .item img{ width: 100%!important; }
.detail .content.wttabs{padding-top: 0!important;}
.catalog.detail .head>.maxwidth-theme>.row>.item:first-of-type:after{right: 0px!important;}
.banners-big .flexslider{max-height: 450px!important;}
.flex-active-slide{max-height: 450px;}
.tizer{text-align: center;}
.sections.linked.item-views.vacancys .item{padding: 10px!important;margin-right: 100px!important;}
.sections.linked.item-views.vacancys .item .arrow_open{top: 0px!important;width: 25px!important;height: 25px!important;}
.wttabs .row{display: flex;flex-direction: row;flex-wrap: wrap;}
.wttabs .row .char{order: 1}
.wttabs .row .vacancys{order: 2}
.wttabs .row .reviews{order: 3}
h4{color: #F5A732!important;}
.formcontacts{background: #F5A732;}
.formcontacts .titlee{color: white;}
.form-control{border-radius: 5px!important; background: white!important;}
.formcontacts .styled-block1{margin-bottom: 40px;margin-top: 50px;}
.body:not(.index) .main > .container {    padding-bottom: 0!important;}
a.scroll-to-top.ROUND_COLOR, a.scroll-to-top.RECT_COLOR {    background-color: #2f3338;}
body.round_button .btn.btn-lg {    border-radius: 5px!important;}
.btn.btn-primary {  background-color: #219754!important;    border-color: #219754!important;}

.tizers{margin-bottom: 40px;margin-top:40px;}
#tabs{  overflow: auto;  width: 100%;  list-style: none;  margin: 0;  padding: 0;}
#tabs li{  margin: 0;  padding: 0;  float: left;}
#tabs a{color: #333;padding: 0 5px;text-decoration: none;}
#tabs a:hover{color: #219754D4;}
#tabs a:focus{outline: 0;}
#tabs #current a{color: #219754D4;}
ul li:before {content: none!important;}
.link-block-more{display: none;}
.bottom_detail{display: none;}
.reviews{width: 100%!important;}
.formcontact{left: calc(50% - 640px/2);color: white}
.formcontact a{color: white}
.bx_filter input[type="checkbox"]:checked+label.onoffswitch-label:before{
    background: #269958!important;
}

.page-top .row{border-bottom: 1px solid #F5A630!important;}
.formcontact .input-filed label:not(.error) {top: -30px!important;
    color: white!important;}
.title_tizers{font-weight: bold;color: #000000;font-size: 20px;}
.tizers h4{text-align: center;font-size: 18px;font-weight: bold;}
.tizers h5{text-align: center;font-size: 14px;font-weight: bold;}
a.scroll-to-top{
    background-color: #269958!important;
}
