.owl-carousel__dot.active::after {
  border-color: #2665af;
}
a.grey {
  color: #818181;
}
a.grey:hover {
  color: #2665af;
}
.dark_link:hover {
  color: #2665af;
}
.btn-inline {
  color: #2665af;
}
.btn-inline.black:hover {
  color: #2665af;
}
.btn-inline.rounded:hover i {
  background: #2665af;
}
body .fa.big-icon {
  background: #2665af;
}
body .fa.big-icon.grey {
  color: #2665af;
  background: #efefef;
}
.icon-text {
  color: #fff;
  background: #2665af;
}
.icon-text .fa {
  color: #fff;
}
.icon-text.grey {
  color: #222;
  background: #efefef;
}
.icon-text.grey .fa {
  color: #2665af;
}
a.scroll-to-top.ROUND_COLOR,
a.scroll-to-top.RECT_COLOR {
  background-color: #2665af;
}
a.scroll-to-top.ROUND_COLOR:hover,
a.scroll-to-top.RECT_COLOR:hover {
  background-color: #2d78d1;
}
.underline {
  border-bottom: 2px solid #2665af;
}
blockquote::before {
  color: #2665af;
}
.review .it:before {
  color: #2665af;
}
.styled-block {
  border-left-color: #2665af;
}
.list.icons .fa {
  color: #2665af;
}
table.table th {
  background-color: #2665af;
}
hr.colored_line {
  border-color: #2665af;
}
.label.label-default {
  background: #93a6bc;
}
.label.label-primary {
  background: #b8c2cd;
}
.label.label-success {
  background: #5cb85c;
}
.label.label-warning {
  background: #f0ad4e;
}
.label.label-danger {
  background: #d9534f;
}
.svg.colored svg path {
  fill: #2665af;
}
#main .header-cart--hcolor-count .header-cart__count {
  background-color: #2b74c8 !important;
}
.search-tags-cloud .tags a:hover {
  background: #2665af;
}
.breadcrumb a:hover {
  color: #222;
}
.breadcrumb a:active {
  color: #173e6c;
}
.breadcrumb li:hover > a {
  color: #2b74c8;
}
.pagination .active a,
.pagination .active span {
  border-color: #2665af !important;
  background-color: #2665af !important;
}
.pagination li:not(.active):hover a {
  border-color: #2665af !important;
  color: #2665af;
}
.pagination a:hover .fa {
  color: #2665af;
}
.pagination li.prev:hover a svg path,
.pagination li.next:hover a svg path {
  fill: #2665af;
}
.item-views.blocks h3.line:after {
  background: #2665af;
}
.nav-direction .flex-direction-nav li a {
  background: #2665af;
}
.nav-direction .flex-direction-nav li a:hover {
  background: #2b74c8;
}
.show_props .char_title:hover svg path {
  fill: #2665af;
}
.cls-cluster2 {
  fill: #2665af;
}
.social-icons li:hover a {
  border-color: #2b74c8;
  background-color: transparent;
}
.accordion-head.accordion-open a,
.accordion-head:hover a {
  color: #2665af;
}
.detail .gallery-block .small-gallery ul.items li.flex-active-slide,
.detail .gallery-block .small-gallery ul.items li:hover {
  border-color: #2665af;
}
.flex-direction-nav a:hover,
.flex-direction-nav a:hover::before {
  color: #2b74c8;
  border-color: #2b74c8;
}
.color-controls .flex-direction-nav a {
  background: #2665af;
}
.color-controls .flex-direction-nav a:hover {
  background: #2b74c8;
}
span.zoom {
  background-color: #2665af;
}
span.zoom:hover {
  background-color: #2b74c8;
}
.wr_scrollbar .scrollbar .handle {
  background: #2665af;
}
.banners-small .item .title a:hover {
  color: #2665af !important;
}
.banners-big.view_2 .slides  li .maxwidth-theme .row .tablet_text {
  background-color: #2665af;
}
.banners-big.view_2 .flexslider .slides li .wrap .tablet_text .banner_buttons .btn:hover {
  color: #2665af !important;
}
.teasers.item-views.front.icons .item a:hover {
  color: #2665af !important;
}
.front-projects.item-views.table .item .info {
  border-top-color: #2665af;
}
.front-projects.item-views.table .item a:hover .info {
  background: #324860;
}
.front-projects.item-views.table .item a:hover .info:before {
  border-bottom-color: #2665af;
}
.item-views .item .title a:hover {
  color: #2665af;
}
.docs-block .iblocks:hover .icons-block a,
.iblocks .icons-block a:hover {
  background: #2665af;
}
.docs-block .iblocks:hover .text-block .text {
  color: #2665af !important;
}
.item-views .property.price .fa,
.item-views .property.price .price_val {
  color: #2665af;
}
.item-views .item:hover .property .fa {
  color: #2665af;
}
.link-block-more .dark-color:hover:before {
  background: #2665af;
}
.tabs.item-views.table .title,
.history.item-views.table .title {
  color: #2665af;
}
.history.item-views .title {
  color: #2665af;
}
.detail .galery #slider.flexslider:hover .flex-direction-nav {
  background: #2b74c8;
}
.detail .galery #carousel .slides li.flex-active-slide {
  border-color: #2665af;
}
.detail .reviews .item .review .icons:before {
  color: #2665af;
}
.detail .galery #carousel .flex-direction-nav a:hover::before {
  color: #2665af;
}
.catalog.group .price .price_val {
  color: #2665af;
}
.select-outer i.fa {
  color: #2665af;
}
.item-views.table.bblock .item .info {
  border-top-color: #2665af;
}
.popup_regions .items .item.current {
  background: #2665af;
}
#headerfixed .nav-pills>li.active>a,
#headerfixed .nav>li>a:focus,
#headerfixed .nav>li>a:hover,
#headerfixed .nav-pills>li.active>a,
#headerfixed .nav-pills>li.active>a:focus,
#headerfixed .nav-pills>li.active>a:hover,
#headerfixed .dropdown-menu>.active>a,
#headerfixed .dropdown-menu>.active>a:focus,
#headerfixed .dropdown-menu>.active>a:hover,
#headerfixed .dropdown-menu>li>a:focus,
#headerfixed .dropdown-menu>li>a:hover {
  color: #2665af;
}
.item .sticker-block {
  color: #2665af;
}
.news_block .item .sticker {
  background: #2665af;
}
.reviews.item-views.slider .item .preview-text-wrapper .quote svg path {
  fill: #2665af;
}
.profit-front-block .item .image {
  background: #2665af;
}
.item-views .item .title a.colored {
  color: #2665af;
}
.float-banners.v2 .item:hover:after {
  background: #2665af;
}
.marker .mcls-1 {
  fill: #2665af;
}
.bx-yandex-view-layout .pane_info_wrapper .pane_info .email a:hover {
  color: #2665af;
}
.marker:hover .mcls-1 {
  fill: #2d78d1;
}
.subscribe-edit-main .form input[type=checkbox] + label:hover:after,
.subscribe-edit-main .form input[type=checkbox]:checked + label:after,
.subscribe-edit-main .form input[type=radio] + label:hover:after,
.subscribe-edit-main .form input[type=radio]:checked + label:after {
  background-color: #2665af;
  border-color: #2665af;
}
.subscribe-edit-main font.notetext {
  border-color: #2665af;
}
