/* item */
.services-list__item {
  position: relative;
}
.services-list__item--big-padding {
  padding: 40px;
}
@media (max-width: 767px) {
  .services-list__item--big-padding {
    padding: 32px;
  }
}
.services-list__item.services-list__item--has-additional-text {
  cursor: pointer;
  padding: 0;
}
.services-list__item.services-list__item--has-additional-text.services-list__item--cursor-initial {
  cursor: initial;
}
.services-list__item .maxwidth-theme--half {
  width: 100%;
}
.services-list__item--has-additional-text {
  overflow: hidden;
}
.services-list__item-image-wrapper--PICTURE .services-list__item-image {
  border-radius: 0px;
}
@media (min-width: 601px) {
  .services-list--img-side .services-list__wrapper:nth-child(even) .services-list__item {
    flex-direction: row !important;
  }
  .services-list__wrapper--padding {
    padding: 70px 0;
    border-bottom: 1px solid #efefef;
    border-bottom-color: var(--stroke_black);
  }
  .services-list__wrapper--border-bottom {
    border-bottom: 1px solid #efefef;
    border-bottom-color: var(--stroke_black);
  }
  .services-list--img-side .services-list__wrapper--border-bottom {
    border: none;
  }
  .services-list .services-list__wrapper--padding:first-child {
    padding-top: 0;
  }
  .services-list .services-list__wrapper--padding:nth-last-child(2) {
    padding-bottom: 0;
    border-bottom: 0;
  }
}
@media (max-width: 600px) {
  .services-list__item.flexbox--direction-row-reverse,
  .services-list__item.flexbox--direction-row {
    flex-direction: column;
  }
  .services-list__item.maxwidth-theme,
  .services-list__item-text-wrapper .maxwidth-theme {
    padding-left: 0;
    padding-right: 0;
  }
}

/* additional text */
.services-list__item-additional-text-wrapper {
  position: absolute;
  bottom: 33px;
  left: 40px;
  right: 40px;
  z-index: 1;
}
.services-list__item:hover .services-list__item-additional-text-wrapper {
  opacity: 0;
}

/* text */
.services-list__item--has-additional-text .services-list__item-text-wrapper {
  opacity: 0;
  visibility: hidden;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 4px 4px 2px 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 0;
  max-height: 100%;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}
.services-list__item--has-additional-text .services-list__item-text-top-part {
  overflow-y: auto;
}
.services-list__item--has-additional-text
  .services-list__item-text-wrapper
  .services-list__item-text-top-part:not(.mCustomScrollbar) {
  visibility: hidden;
}
.services-list__item--has-additional-text .services-list__item-text-top-part .mCSB_container {
  padding: 35px 40px 0 40px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.services-list__item--has-additional-text:hover .services-list__item-text-wrapper {
  opacity: 1;
  visibility: visible;
}
.services-list__item-text-bottom-part {
  padding: 28px 0 0 0;
}
.services-list__item--has-additional-text .services-list__item-text-bottom-part {
  padding: 21px 40px 23px 40px;
  position: relative;
}
.services-list__item--has-additional-text .services-list__item-text-bottom-part:before {
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  background-color: #fff;
  background-color: var(--black_bg_black);
  opacity: 0.2;
}
.services-list__item--has-bg .services-list__item-text-wrapper .dark_link,
.services-list__item--has-bg .services-list__item-text-wrapper .color_333 {
  color: #fff;
  /* color: var(--black_bg_black); */
}
.services-list__item--has-bg .services-list__item-text-wrapper .dark_link.color_light--opacity:hover {
  opacity: 1;
}
.services-list__item:not(.services-list__item--has-additional-text) .services-list__item-text-wrapper > *,
.services-list__item--has-additional-text .services-list__item-text-top-part .mCSB_container > * {
  cursor: initial;
}
.services-list__item--has-additional-text
  .services-list__item-text-wrapper
  .services-list__item-text-top-part
  .mCSB_container
  > div:last-of-type {
  margin-bottom: 22px;
}
.services-list__item--has-additional-text
  .services-list__item-text-wrapper:not(.services-list__item-text-wrapper--has-bottom-part)
  .services-list__item-text-top-part
  .mCSB_container
  > div:last-of-type {
  margin-bottom: 35px;
}
.services-list--img-trl .services-list__item-text-top-part {
  word-break: break-word;
}
.bx-ie .services-list__item-text-wrapper {
  flex-basis: auto;
}
.bx-ie .maxwidth-theme--half.flex-1 {
  flex-basis: auto;
}
@media (min-width: 601px) {
  .services-list--img-srl .services-list__item-text-wrapper {
    padding-top: 40px;
  }
  .services-list--img-srl .services-list__wrapper--border-bottom .services-list__item-text-wrapper {
    padding-bottom: 40px;
  }
  .services-list__item-image-wrapper--LEFT + .services-list__item-text-wrapper > * {
    padding-left: 59px;
  }
  .services-list__item-image-wrapper--RIGHT + .services-list__item-text-wrapper > *,
  .services-list__item-image-wrapper--SIDE + .services-list__item-text-wrapper > * {
    padding-right: 59px;
  }
  .services-list--img-side
    .services-list__wrapper:nth-child(even)
    .services-list__item-image-wrapper--SIDE
    + .services-list__item-text-wrapper
    > * {
    padding-right: 0;
    padding-left: 59px;
  }
  .services-list__wrapper--border-bottom .services-list__item-image-wrapper--LEFT + .services-list__item-text-wrapper {
    align-items: flex-start;
  }
  .services-list__wrapper--border-bottom .services-list__item-image-wrapper--SIDE + .services-list__item-text-wrapper,
  .services-list__wrapper--border-bottom .services-list__item-image-wrapper--RIGHT + .services-list__item-text-wrapper {
    align-items: flex-end;
  }
  .services-list__wrapper--border-bottom
    .services-list__item-image-wrapper--LEFT
    + .services-list__item-text-wrapper
    .maxwidth-theme--half {
    padding-right: 32px;
  }
  .services-list__wrapper--border-bottom
    .services-list__item-image-wrapper--SIDE
    + .services-list__item-text-wrapper
    .maxwidth-theme--half,
  .services-list__wrapper--border-bottom
    .services-list__item-image-wrapper--RIGHT
    + .services-list__item-text-wrapper
    .maxwidth-theme--half {
    padding-left: 32px;
  }
  .services-list--img-side
    .services-list__wrapper--border-bottom:nth-child(even)
    .services-list__item-image-wrapper--SIDE
    + .services-list__item-text-wrapper,
  .services-list--img-side
    .services-list__wrapper--border-bottom:nth-child(even)
    .services-list__item-image-wrapper--RIGHT
    + .services-list__item-text-wrapper {
    align-items: flex-start;
  }
  .services-list--img-side
    .services-list__wrapper--border-bottom:nth-child(even)
    .services-list__item-image-wrapper--SIDE
    + .services-list__item-text-wrapper
    .maxwidth-theme--half,
  .services-list--img-side
    .services-list__wrapper--border-bottom:nth-child(even)
    .services-list__item-image-wrapper--RIGHT
    + .services-list__item-text-wrapper
    .maxwidth-theme--half {
    padding-right: 32px;
  }
  .bx-ie .services-list--img-srl .services-list__item-text-wrapper,
  .bx-ie .services-list--img-trl .services-list__item-text-wrapper {
    flex-basis: 0;
  }
}
@media (max-width: 600px) {
  .services-list--img-srl .services-list__item-text-wrapper {
    justify-content: space-between;
  }
  .services-list__item-text-wrapper .flexbox.maxwidth-theme--half,
  .services-list__item-text-wrapper .flexbox.maxwidth-theme {
    justify-content: space-between;
  }
  .services-list--img-srl .services-list__item-image-wrapper + .services-list__item-text-wrapper {
    padding-top: 26px;
  }
}

/* image */
.services-list__item-image-wrapper {
  position: relative;
}
.services-list__item-image-wrapper--TOP {
  margin: 0 0 33px 0;
  display: flex;
  flex-direction: row;
}
.services-list__item-image-wrapper--TOP .services-list__item-link,
.services-list__item-image-wrapper--TOP > span {
  width: 140px;
  height: 140px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.services-list__item-image-wrapper--TOP.services-list__item-image-wrapper--PICTURE .services-list__item-link,
.services-list__item-image-wrapper--TOP.services-list__item-image-wrapper--PICTURE > span {
  width: 120px;
  height: 120px;
}
.services-list__item-image-wrapper--ICONS .services-list__item-link,
.services-list__item-image-wrapper--ICONS > span {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.services-list__item-image-wrapper--ICONS a svg,
.services-list__item-image-wrapper--ICONS > span svg {
  max-width: 100%;
  max-height: 100%;
}
.services-list__item-image-wrapper--BG {
  padding-top: 126%;
  width: 100%;
}
.services-list__item-image-wrapper--BG:after {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  top: 51%;
  bottom: 0%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.services-list__item-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.services-list--img-srl .services-list__wrapper--padding .services-list__item-image-wrapper .services-list__item-link,
.services-list--img-srl .services-list__wrapper--padding .services-list__item-image-wrapper > span {
  position: relative;
  padding-top: 64%;
  max-height: 479px;
  display: block;
}
.services-list--img-srl
  .services-list__wrapper--border-bottom
  .services-list__item-image-wrapper
  .services-list__item-link,
.services-list--img-srl .services-list__wrapper--border-bottom .services-list__item-image-wrapper > span {
  position: relative;
  padding-top: 64%;
  max-height: 100vh;
  height: 100%;
  display: block;
}
#main
  .services-list--img-srl
  .services-list__wrapper--border-bottom
  .services-list__item-image-wrapper
  .services-list__item-link.sticky-block,
#main
  .services-list--img-srl
  .services-list__wrapper--border-bottom
  .services-list__item-image-wrapper
  > span.sticky-block {
  top: 0;
}
.services-list--img-trl .services-list__item-image-wrapper .services-list__item-link,
.services-list--img-trl .services-list__item-image-wrapper > span {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.services-list--img-trl
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS)
  .services-list__item-link,
.services-list--img-trl .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS) > span {
  width: 110px;
  height: 110px;
}
.services-list--img-trl
  .grid-list--items-3
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS)
  .services-list__item-link,
.services-list--img-trl
  .grid-list--items-3-wide
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS)
  .services-list__item-link,
.services-list--img-trl
  .grid-list--items-3
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS)
  > span,
.services-list--img-trl
  .grid-list--items-3-wide
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS)
  > span {
  width: 90px;
  height: 90px;
}
.services-list--img-trl
  .grid-list--items-1
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS)
  .services-list__item-link,
.services-list--img-trl
  .grid-list--items-1-wide
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS)
  .services-list__item-link,
.services-list--img-trl
  .grid-list--items-1
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS)
  > span,
.services-list--img-trl
  .grid-list--items-1-wide
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS)
  > span {
  width: 140px;
  height: 140px;
}
.services-list--img-trl
  .grid-list--items-1
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS).services-list__item-image-wrapper--PICTURE
  .services-list__item-link,
.services-list--img-trl
  .grid-list--items-1-wide
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS).services-list__item-image-wrapper--PICTURE
  .services-list__item-link,
.services-list--img-trl
  .grid-list--items-1
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS).services-list__item-image-wrapper--PICTURE
  > span,
.services-list--img-trl
  .grid-list--items-1-wide
  .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ICONS).services-list__item-image-wrapper--PICTURE
  > span {
  width: 120px;
  height: 120px;
}
.services-list--img-trl
  .grid-list--items-1
  .services-list__item-image-wrapper.services-list__item-image-wrapper--BIG_PICTURES
  .services-list__item-link,
.services-list--img-trl
  .grid-list--items-1
  .services-list__item-image-wrapper.services-list__item-image-wrapper--BIG_PICTURES
  > span {
  width: 300px;
  height: 200px;
}
.bx-ie #main .sticky-block {
  top: 0;
}
@media (min-width: 992px) {
  .grid-list--items-3--wide .services-list__item-image-wrapper--BG,
  .grid-list--items-3 .services-list__item-image-wrapper--BG {
    padding-top: 100%;
  }
  .grid-list--items-2--wide .services-list__item-image-wrapper--BG,
  .grid-list--items-2 .services-list__item-image-wrapper--BG {
    padding-top: 67%;
  }
}
@media (max-width: 991px) {
  .services-list__item-image-wrapper--BG {
    padding-top: 67%;
  }
}
@media (min-width: 601px) {
  .services-list__wrapper--padding .services-list__item-image-wrapper--LEFT .services-list__item-image {
    right: 14px;
  }
  .services-list__wrapper--padding .services-list__item-image-wrapper--RIGHT .services-list__item-image,
  .services-list__wrapper--padding .services-list__item-image-wrapper--SIDE .services-list__item-image {
    left: 14px;
  }
  .services-list--img-side
    .services-list__wrapper--padding:nth-child(even)
    .services-list__item-image-wrapper--SIDE
    .services-list__item-image {
    right: 14px;
    left: 0;
  }
  .services-list--img-trl .services-list__item-image-wrapper--TOP_RIGHT .services-list__item-link,
  .services-list--img-trl .services-list__item-image-wrapper--TOP_RIGHT > span {
    margin-left: 48px;
  }
  .services-list--img-trl .services-list__item-image-wrapper--TOP_LEFT .services-list__item-link,
  .services-list--img-trl .services-list__item-image-wrapper--TOP_LEFT > span {
    margin-right: 32px;
  }
  .services-list--img-trl .grid-list--items-1 .services-list__item-image-wrapper--TOP_LEFT .services-list__item-link,
  .services-list--img-trl
    .grid-list--items-1-wide
    .services-list__item-image-wrapper--TOP_LEFT
    .services-list__item-link,
  .services-list--img-trl .grid-list--items-1 .services-list__item-image-wrapper--TOP_LEFT > span,
  .services-list--img-trl .grid-list--items-1-wide .services-list__item-image-wrapper--TOP_LEFT > span {
    margin-right: 48px;
  }
}
@media (max-width: 600px) {
  #main .services-list__item-image-wrapper--SIDE .sticky-block {
    top: 0;
  }
  .services-list--img-srl .services-list__item-image-wrapper {
    flex-grow: 0;
    flex-basis: auto;
  }
  .services-list--img-srl
    .services-list__item-image-wrapper:not(.services-list__item-image-wrapper--ROUND_PICTURES)
    .services-list__item-image {
    border-radius: 4px;
  }
  .mobile-scrolled .services-list__item-image-wrapper--BG {
    padding-top: 150%;
  }
  .mobile-scrolled .services-list__item-image-wrapper--BG:after {
    top: 40%;
  }
  .services-list--img-trl .services-list__item-image-wrapper {
    margin: 0 0 33px 0;
    padding-bottom: 66.6%;
  }
  .services-list--img-trl
    .grid-list--items-1
    .services-list__item-image-wrapper.services-list__item-image-wrapper--BIG_PICTURES
    .services-list__item-link,
  .services-list--img-trl
    .grid-list--items-1
    .services-list__item-image-wrapper.services-list__item-image-wrapper--BIG_PICTURES
    > span {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
@media (max-width: 424px) {
  .services-list--img-trl
    .services-list__item-image-wrapper.services-list__item-image-wrapper--BIG_PICTURES
    .services-list__item-link,
  .services-list--img-trl .services-list__item-image-wrapper.services-list__item-image-wrapper--BIG_PICTURES > span {
    max-width: 300px;
    padding-top: 67%;
    width: 100%;
    height: auto;
  }
}

/* arrow */
.services-list__item .arrow-all {
  right: 0;
  top: 0;
}
.services-list__item--section .arrow-all__item-line {
  transition-delay: 0.1s;
}
.services-list__item-additional-text-top-part .arrow-all {
  right: -25px;
  top: initial;
  bottom: 16px;
}
.services-list__item-text-top-part .arrow-all {
  right: -25px;
  top: 9px;
}
.services-list--img-trl .services-list__item-text-top-part .arrow-all {
  right: 0;
}

.services-list__item--has-bg .services-list__item-text-top-part .arrow-all {
  right: 0;
}
.services-list__item--has-bg .services-list__item-additional-text-top-part .arrow-all {
  right: 0;
}
.services-list__item--has-bg .services-list__item-text-top-part .services-list__item-title {
  padding-right: 35px;
}
.services-list__item--has-bg .services-list__item-additional-text-top-part .services-list__item-title {
  padding-right: 25px;
}

@media (max-width: 767px) {
  .services-list__item .arrow-all--wide {
    display: none;
  }
}
@media (min-width: 601px) {
  .services-list--img-trl .services-list__item-image-wrapper .arrow-all {
    display: none;
  }
}
@media (max-width: 600px) {
  .services-list--img-trl .services-list__item-text-top-part .arrow-all {
    display: none;
  }
}

/* item sections */
.services-list__item-section {
  margin: 0 0 10px 0;
}

/* title */
.services-list__item-title {
  position: relative;
}
.services-list__item--has-additional-text .services-list__item-text-top-part .services-list__item-title {
  margin: 0 0 33px 0;
}
.services-list__item--has-additional-text
  .services-list__item-text-wrapper--has-bottom-part
  .services-list__item-title {
  margin-bottom: 0;
}
.services-list__item-link--absolute {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
@media (min-width: 601px) {
  .services-list--img-trl .services-list__item-title {
    padding-right: 54px;
  }
}
@media (max-width: 600px) {
  .services-list--img-srl .services-list__item-title {
    font-size: 1.6em;
    line-height: calc(1em + 7px);
  }
}

/* preview text */
.services-list__item-text-top-part .services-list__item-title + .services-list__item-preview-wrapper {
  margin: 17px 0 0 0;
}
.services-list__item:not(.services-list__item--has-additional-text)
  .services-list__item-text-top-part
  .services-list__item-childs
  + .services-list__item-preview-wrapper {
  margin: 21px 0 0 0;
}
.services-list__item--has-additional-text
  .services-list__item-text-top-part
  .services-list__item-title
  + .services-list__item-preview-wrapper {
  margin: -15px 0 0 0;
}
.services-list__item--has-additional-text
  .services-list__item-text-top-part
  .services-list__item-childs
  + .services-list__item-preview-wrapper {
  margin-top: -15px;
}
.services-list__item--has-additional-text
  .services-list__item-text-wrapper--has-bottom-part
  .services-list__item-text-top-part
  .services-list__item-title
  + .services-list__item-preview-wrapper {
  margin-top: 18px;
  margin-bottom: 0;
}
.services-list__item:not(.services-list__item--has-additional-text) .services-list__item-preview {
  max-height: 66px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-line-clamp: 3;
}
.right_block .services-list__item:not(.services-list__item--has-additional-text) .services-list__item-preview {
  max-height: initial;
  display: block;
  -webkit-line-clamp: initial;
  -moz-line-clamp: initial;
}
.bx-ie .services-list__item:not(.services-list__item--has-additional-text) .services-list__item-preview {
  max-height: 104px;
}
@media (max-width: 600px) {
  .services-list__item-preview-wrapper {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
  }
}

/* properties */
.services-list__item-properties {
  margin: 20px 0 0 0;
}
.services-list__item-properties-item-wraper {
  padding: 0 0 0 15px;
  position: relative;
}
.services-list__item-properties-item-wraper:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 9px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #9e9e9e;
  background: var(--theme-base-color);
}
.services-list__item-properties-item-wraper + .services-list__item-properties-item-wraper {
  margin-top: 5px;
}
.services-list__item--has-additional-text .services-list__item-properties-item-wraper:before {
  background: #fff;
}

/* section childs */
.services-list__item-childs {
  margin: 17px 0 0 0;
}
.services-list__item--has-additional-text
  .services-list__item-text-top-part
  .services-list__item-title
  + .services-list__item-childs {
  margin: -15px 0 35px 0;
}
.services-list__item-childs > ul {
  margin: 0;
}
.services-list__item-childs > ul > li {
  display: inline;
  line-height: calc(1em + 10px);
} /*25px*/
.services-list__item-childs-item-separator {
  color: #ccc;
  margin: 0 7px 0 4px;
}
.services-list__item--has-additional-text .services-list__item-childs-item-separator {
  color: #fff;
}

/* btn */
.services-list__item-text-bottom-part .services-list__item-price-wrapper + .btn {
  margin: 35px 0 0 0;
}
@media (max-width: 600px) {
  .services-list__item-text-bottom-part .btn,
  .services-list__item-text-bottom-part:not(.services-list__item-text-bottom-part--has-price) {
    display: none;
  }

  .grid-list:not(.mobile-scrolled) .services-list__item .services-list__item-additional-text-wrapper {
    bottom: 13px;
    left: 20px;
    right: 20px;
  }
  .services-list__item--no-scrolled.services-list__item--has-additional-text .services-list__item-text-bottom-part {
    padding: 21px 20px 16px 20px;
  }
  .services-list__item--no-scrolled.services-list__item--has-additional-text
    .services-list__item-text-top-part
    .mCSB_container {
    padding: 15px 20px 0 20px;
  }
  .grid-list:not(.mobile-scrolled) .services-list__item .services-list__item-image-wrapper--BG {
    padding-top: 90%;
  }
}
