/* CSS kod pishite v etom faile, chotobi pri ustanovke obnovlenii ne bilo problem  */
/* --------------------------------------- */
/* Here you can put custom css rules for your site */

/* CAMPER QUIZ */
.tabcontent {
  width: 100%;
  height: 100%;
  display: none;
  padding: 6px 12px;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.quiz-btn {
    z-index: 20 !important;
}
#quiz-modal .campers-list {
  padding: 0px 0px 26px 16px;
}

#quiz-modal .camper-item {
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  background: #FFF;
  border-radius: 8px;
  margin-right: 12px;
}

#quiz-modal .camper-item.active {
  /* create a BIG glow */
  box-shadow: 0px 0px 20px #269958;
  -moz-box-shadow: 0px 0px 20px #269958;
  -webkit-box-shadow: 0px 0px 20px #269958;
  background: #269958;
  color: #FFF;
}

#quiz-modal .camper-info .img img {
  width: 100%;
  max-height: 160px;
  object-fit: cover;
}


#quiz-modal .camper-info h3,
#quiz-modal .camper-info div,
#quiz-modal #first-step h2 {
  color: #FFF;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#quiz-modal #first-step {
  color: #FFF;
}

#quiz-modal #first-step h2 {
  font-size: 1.9em;
}
#quiz-modal .camper-info .price {
  font-size: 1.2em;
}


#quiz-modal .complectations-list {
  display: flex;
  flex-wrap: wrap;
}

#quiz-modal .complectations-list .complectation-item {
  width: 33%;
  padding: 16px;
}

#quiz-modal .complectations-list .complectation-item.active img {
  box-shadow: 0px 0px 20px #FFF;
  -moz-box-shadow: 0px 0px 20px #FFF;
  -webkit-box-shadow: 0px 0px 20px #FFF;
}

#quiz-modal .complectations-list .complectation-item .image {
  height: 190px;
  cursor: pointer;
}


#quiz-modal .complectations-list .complectation-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#quiz-modal .complectations-list .complectation-item .name {
  color: #FFF;
  font-size: 1.1em;
  margin-top: 0.8em;
}

#quiz-modal .step-name {
  padding: 1.2em 0;
  color: #c7c7c7;
  font-size: 1.18em;
  text-decoration: underline;
}

#quiz-modal .camper-info {
  min-height: 500px;
}

#quiz-modal .camper-info h3 {
  margin: 0px 0px 20px 0px
}

#quiz-modal .camper-image {
  margin-top: 24px;
}
#quiz-modal #fourth-step .camper-name,
#quiz-modal #fourth-step .complectation-name {
  font-size: 1.2em;
  text-decoration: underline;
  color: #FFF;
}

#quiz-modal #fourth-step .base-complectation {
  font-size: 0.82em;
  color: #FFF;
  margin: 8px 0px;
  line-height: 1.5em;
  max-height: 370px;
  overflow: auto;
}

#quiz-modal #fourth-step .camper-image img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

#quiz-modal #fourth-step .item {
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
}

#quiz-modal #fourth-step .item .checkbox  {
  width: 10%;
}
#quiz-modal #fourth-step .item .info  {
  width: 70%;
}
#quiz-modal #fourth-step .item .price  {
  width: 20%;
}

#quiz-modal #fourth-step .item .info .previewtext {
  font-size: 0.9em;
  color: #a9a9a9;
  line-height: 1.2em;
}

#quiz-modal #fourth-step .item .info a:hover {
  color: #a9a9a9;
}

#quiz-modal #fourth-step .complectation-items .list {
  max-height: 500px;
  overflow: auto;
  margin: 20px 0px;
  border-bottom: 1px solid #4a4949;
}

#quiz-modal input#complect{
  position: relative;
}

#quiz-modal input[type="checkbox"]:checked::after {
  top: -3px;
  left: -6px;
}

#quiz-modal .info a {
    text-decoration: underline;
}
#quiz-modal .info .title {
    color: #f5a732;
}

#quiz-modal .complectation-items .common-price {
  font-size: 1.6em;
  color: #219754;
}

.quiz-form  .form.inline {
  padding: 0px;
}
.quiz-form .form.inline .form-inner {
  background: #FFF;
  padding: 31px;
  border-radius: 15px;
  opacity: 0.95;
}

#quiz-modal div[data-sid="PRODUCT"],
#quiz-modal div[data-sid="COMPLECT"],
#quiz-modal div[data-sid="NEED_PRODUCT"],
#quiz-modal div[data-sid="COMPLECT_PRICE"] {
  display: none;
}

.quiz-pagination {
  margin-top: 14px;
}

.start-quiz-message {
  max-width: 400px;
  margin: auto;
  margin-top: 200px;
}

.quiz-nav {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: 24px;
}

.quiz-nav .num {
  color: #c7c7c7;
  font-size: 0.78em;
}

#quiz-modal {
  background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) ),  url(https://camper-ural.ru/upload/iblock/7a7/7znw1wh620sph8e840pw7ulcl8dtphry.jpg);
  background-size: cover;
}

#quiz-modal {
  min-width: 75%;
  min-height: 700px;
  background-size: cover;
}

.grecaptcha-badge {
  display: none;
}


.header-tizer {
  width: 100%;
  height: 32px;
  display: flex;
  padding: 4px 20px;
  background-color: #F5A732;
  justify-content: center;
  align-items: center;
}

.header-tizer a {
  color: #FFF;
  text-decoration: underline;
  text-align: center;
  font-size: 0.9em;
  font-weight: 600;
}

@media(max-width: 768px) {
  #quiz-modal {
    min-width: 100%;
    min-height: auto;
    background-size: cover;
    padding: 12px;
  }

  .start-quiz-message {
      margin-top: 20px;
  }
  #quiz-modal #first-step h2 {
    font-size: 1.4em
  }

  #quiz-modal .step-name {
    padding: 1.2em 0;
    color: #c7c7c7;
    font-size: 0.9em;
    text-decoration: underline;
  }
  #quiz-modal .complectations-list .complectation-item .image {
    display: none;
  }
  #quiz-modal .complectations-list .complectation-item {
    width: 100%;
    font-size: 0.82em;
    padding: 6px 12px;
    background: #FFF;
    border-radius: 8px;
    margin-bottom: 12px;

  }
  #quiz-modal .complectations-list .complectation-item .name {
    margin-top: 0px;
    color: #000;
  }

  #quiz-modal .complectations-list .complectation-item.active {
    /* create a BIG glow */
    box-shadow: 0px 0px 20px #269958;
    -moz-box-shadow: 0px 0px 20px #269958;
    -webkit-box-shadow: 0px 0px 20px #269958;
    background: #269958;
    color: #FFF;
    background: #269958;
  }

  #quiz-modal .complectations-list .complectation-item.active .name {
    color: #FFF;
  }

  #quiz-modal .camper-item {
    width: 100%;
    margin-bottom: 12px;
  }

  #quiz-modal .camper-info .description {
    display: none
  }

  #quiz-modal .camper-info #camper-name {
    display: none;
  }

  #quiz-modal .camper-info .price {
    font-size: 1em;
    color: #FFF;
  }

  #quiz-modal .quiz-nav {
    flex-wrap: wrap;
    margin-top: 12px;
  }

  #quiz-modal .quiz-nav .btn {
    padding: 6px 12px;
    font-size: 0.7em;
    border-radius: 2px
  }
  .quiz-form .form.inline, .quiz-form .maxwidth-theme {
    padding: 0px !important;
  }

  #quiz-modal #fourth-step .base-complectation {
    max-height: auto;
  }

  #quiz-modal .camper-info {
    min-height: auto;
  }
  .header-tizer {
    height: 38px;
  }
  .header-tizer a {
    font-size: 0.72em;
    line-height: 1.1;
    font-weight: 500;
  }
}


.base-complect.spoiler details{width: 100%;}
@media(min-width: 769px) {
  .amo-button-holder {right: 80px;bottom: 15px;}

}
