/* CSS kod pishite v etom faile, chotobi pri ustanovke obnovlenii ne bilo problem  */
/* --------------------------------------- */
/* Here you can put custom css rules for your site */

/* CAMPER QUIZ */
.tabcontent {
  width: 100%;
  height: 100%;
  display: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.quiz-btn {
    z-index: 20 !important;
}
.inline-quiz .campers-list {
  padding: 0px 0px 26px 16px;
}

.inline-quiz .camper-item {
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  background: #FFF;
  border-radius: 8px;
  margin-right: 12px;
}

.inline-quiz .camper-item.active {
  /* create a BIG glow */
  box-shadow: 0px 0px 20px #269958;
  -moz-box-shadow: 0px 0px 20px #269958;
  -webkit-box-shadow: 0px 0px 20px #269958;
  background: #269958;
  color: #FFF;
}

.inline-quiz .camper-info .img img {
  width: 100%;
  /* max-height: 160px; */
  object-fit: cover;
}


.inline-quiz .camper-info h3,
.inline-quiz .camper-info div,
.inline-quiz #first-step h2 {
  color: #000;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.inline-quiz #first-step {
  color: #000;
}

.inline-quiz #first-step h2 {
  font-size: 1.9em;
}
.inline-quiz .camper-info .price {
  font-size: 1.2em;
  margin-top: 1em;
}


.inline-quiz .complectations-list {
  display: flex;
  flex-wrap: wrap;
}

.inline-quiz .complectations-list .complectation-item {
  width: 33%;
  padding: 16px 16px 16px 0px;
}

.inline-quiz .complectations-list .complectation-item.active img {
  box-shadow: 0px 0px 20px #f5a732;
  -moz-box-shadow: 0px 0px 20px #f5a732;
  -webkit-box-shadow: 0px 0px 20px #f5a732;
}

.inline-quiz .complectations-list .complectation-item .image {
  height: 240px;
  cursor: pointer;
}


.inline-quiz .complectations-list .complectation-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.inline-quiz .complectations-list .complectation-item .name {
  color: #4c4c4c;
  font-size: 1.1em;
  margin-top: 0.8em;
}

.inline-quiz .step-name {
  padding: 1.2em 0;
  color: #000;
  font-size: 1.18em;
  text-decoration: underline;
}

.inline-quiz .camper-info {
  min-height: 500px;
}

.inline-quiz .camper-info h3 {
  margin: 0px 0px 20px 0px
}

.inline-quiz .camper-image {
  margin-top: 24px;
}
.inline-quiz #third-step .camper-name,
.inline-quiz #third-step .complectation-name {
  font-size: 1.2em;
  text-decoration: underline;
  color: #219754;
}

.inline-quiz #third-step .base-complectation {
  font-size: 0.82em;
  color: #424242;
  margin: 8px 0px;
  line-height: 1.5em;
  max-height: 300px;
  overflow: auto;
}

.inline-quiz #third-step .camper-image img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.inline-quiz #third-step .item {
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
}

.inline-quiz #third-step .item .checkbox  {
  width: 10%;
}
.inline-quiz #third-step .item .info  {
  width: 70%;
}
.inline-quiz #third-step .item .price  {
  width: 20%;
}

.inline-quiz #third-step .item .info .previewtext {
  font-size: 0.9em;
  color: #a9a9a9;
  line-height: 1.2em;
}

.inline-quiz #third-step .item .info a:hover {
  color: #a9a9a9;
}

.inline-quiz #third-step .complectation-items .list {
  max-height: 500px;
  overflow: auto;
  margin: 20px 0px;
  border-bottom: 1px solid #4a4949;
}

.inline-quiz input#complect{
  position: relative;
}

.inline-quiz input[type="checkbox"]:checked::after {
  top: -3px;
  left: -6px;
}

.inline-quiz .info a {
    text-decoration: underline;
}
.inline-quiz .info .title {
    color: #f5a732;
}

.inline-quiz .complectation-items .common-price {
  font-size: 1.6em;
  color: #219754;
}

.quiz-form  .form.inline {
  padding: 0px;
}
.quiz-form .form.inline .form-inner {
  background: #FFF;
  padding: 31px;
}

.inline-quiz div[data-sid="PRODUCT"],
.inline-quiz div[data-sid="COMPLECT"],
.inline-quiz div[data-sid="NEED_PRODUCT"],
.inline-quiz div[data-sid="COMPLECT_PRICE"] {
  display: none;
}

.quiz-pagination {
  margin-top: 14px;
}

.start-quiz-message {
  max-width: 400px;
  margin: auto;
  margin-top: 200px;
}

.quiz-nav {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: 24px;
  padding-right: 24px;
  margin-bottom: 14px;
}

.quiz-nav .num {
  color: #4c4c4c;
  font-size: 0.78em;
}

.quiz-nav button {
  padding: 4px 16px !important;
  background-color: #269958;
  border-color: #269958;
}

.quiz-nav button span {
  font-size: 0.9em;
}

.inline-quiz {

}

.inline-quiz {
  min-height: 700px;
  background-size: cover;
}

.inline-quiz #second-step h3 {
  color: #269958;
}
.grecaptcha-badge {
  display: none;
}

.inline-quiz .form {
  border: 1px solid #dbdbdb;
  padding: 24px;
}

.quiz-form-footer {
  padding-left: 31px;
  margin-bottom: 24px;
}

.header-tizer {
  width: 100%;
  height: 32px;
  display: flex;
  padding: 4px 20px;
  background-color: #F5A732;
  justify-content: center;
  align-items: center;
}

.header-tizer a {
  color: #FFF;
  text-decoration: underline;
  text-align: center;
  font-size: 0.9em;
  font-weight: 600;
}

@media(max-width: 768px) {
  #amoforms_form{width: 100%!important;}
  #amofroms_main_wrapper{flex-direction: column-reverse!important;}
  .amoforms__fields__editor-sidebar{display: none;}
  #amofroms_main_wrapper.sidebar_right .amoforms-form{border-top-right-radius: inherit;border-bottom-right-radius:  inherit;}
  .preset_leaf .amoforms-form{padding: 35px 45px!important;}
  section.page-top {
    padding-bottom: 0px;
  }
  section.page-top h1 {
    font-size: 1.1em;
    margin: 16px 0px 0px 0px;
  }

  .inline-quiz .camper-info .price {
    font-size: 1em;
    font-weight: 600;
  }
  .inline-quiz {
    min-width: 100%;
    min-height: auto;
    background-size: cover;
    padding: 12px;
  }

  .start-quiz-message {
      margin-top: 20px;
  }
  .inline-quiz #first-step h2 {
    font-size: 1.4em
  }

  .inline-quiz .step-name {
    padding: 1.2em 0;
    color: #c7c7c7;
    font-size: 0.9em;
    text-decoration: underline;
  }
  .inline-quiz .complectations-list .complectation-item .image {
    display: none;
  }
  .inline-quiz .complectations-list .complectation-item {
    width: 100%;
    font-size: 0.82em;
    padding: 6px 12px;
    background: #FFF;
    border-radius: 8px;
    margin-bottom: 12px;

  }
  .inline-quiz .complectations-list .complectation-item .name {
    margin-top: 0px;
    color: #f5a732;
  }

  .inline-quiz .complectations-list .complectation-item.active {
    /* create a BIG glow */
    box-shadow: 0px 0px 20px #f5a732;
    -moz-box-shadow: 0px 0px 20px #f5a732;
    -webkit-box-shadow: 0px 0px 20px #f5a732;
    background: #269958;
    color: #FFF;
    background: #269958;
  }

  .inline-quiz .complectations-list .complectation-item.active .name {
    color: #FFF;
  }

  .inline-quiz .camper-item {
    width: 100%;
    margin-bottom: 12px;
  }

  .inline-quiz .camper-info .description {
    display: none
  }

  .inline-quiz .camper-info #camper-name {
    display: none;
  }


  .inline-quiz .quiz-nav {
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 24px;
  }

  .inline-quiz .quiz-nav .btn {
    padding: 6px 12px;
    font-size: 0.7em;
    border-radius: 2px
  }
  .quiz-form .form.inline, .quiz-form .maxwidth-theme {
    padding: 0px !important;
  }

  .inline-quiz #third-step .base-complectation {
    max-height: auto;
  }

  .inline-quiz .camper-info {
    min-height: auto;
  }
  .header-tizer {
    height: 38px;

  }

  .header-tizer a {
    font-size: 12px;
    line-height: 1.1;
    font-weight: 500;
  }
  .quiz-nav .num{
    font-size: 12px;
  }
}


 details{width: 100%;}
@media(min-width: 768px) {
  .amo-button-holder {right: 80px;bottom: 15px;}
  .catalog_detail .textcols {
  	white-space: nowrap;
  }
  .catalog_detail .textcols-item {
  	white-space: normal;
  	display: inline-block;
  	width: 49%;
  	vertical-align: top;
    font-size: 14px;
  }
  .catalog_detail .textcols .textcols-item:first-child {
  	margin-right: 2%;
  }
}

.catalog_detail .head .row>.item{padding-bottom: 10px!important;height: 100%!important;}
.catalog_detail .char-wrapp .props_table{position: relative;}
.catalog_detail_base-price-header{align-items: flex-start!important;}
.catalog_detail .textcols{display: block;}
.catalog_detail .details_description{display: none;}
.textcols{display: none;}
/* div[data-id='185'] { display: none!important;} */
.mega-menu table td .wrap > a{    padding: auto 10px auto!important;}
