/* 15px/24px Montserrat (Default) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
body,body div.bx-yandex-map,.fancybox-title{ font: 15px/25px "Montserrat", Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,.popup-window{font-family:"Montserrat", Arial, sans-serif;}
body .breadcrumb > li:after{margin-top:-3px;}
body .item-views.type_2_within.within.services-items .item .toogle>span:before{top:3px;}
.basket_order .items>.head .btn{padding-top:7px;}
.item-views .item .btn.btn-xs{padding-top:8px;}

.header-v9 .menu-row.bgcolored .mega-menu table td .wrap > a,
.header-v10 .menu-row.bgcolored .mega-menu table td .wrap > a,
.header-v11 .menu-row.bgcolored .mega-menu table td .wrap > a,
.header-v12 .menu-row.bgcolored .mega-menu table td .wrap > a{padding-top:17px;padding-bottom:18px;}
body .contacts_list .contacts-stores .item .show_on_map>span svg,
body .contacts-stores .item .top-wrap .show_on_map>span svg{top:1px;}

body .btn.btn-default.btn-sm{padding-top:10px;}
body .btn.btn-xs, .bx-firefox .btn.btn-xs{padding-top:8px;}
