.items.complectations {padding-top: 40px;}
.items.complectations .title {font-size: 1.32em; font-weight: 600;}
.front.catalog h3 {color: #f5a732; font-size: 1.3em; padding: 20px 0px; text-align: center;}
.front.catalog .short-desc {color: #279a57; font-weight: 600; font-size: 1em; width: 100%; padding: 12px 0px; text-align: center;}
.front.catalog .base-complect {font-size: 1em; line-height: 1.6em;}

.front.catalog .price {font-size: 1.2em; color: #f5a732; text-align: center; width: 100%; margin-top: 24px}
.front.catalog .link { width: 100%; margin: 24px; text-align: center;}
.front.catalog .item-image,
.front.catalog .item-image a {height: 280px; display: block;}
.front.catalog .item-image img { height: 100%; width: 100%; object-fit: cover; }

/* QUIZ BUTTON */
.quiz-btn {
  /* position: static;
  left: 20px;
  bottom: 20px; */
  width:auto;
  display: block;
  padding: 16px 20px;
  background: #F5A732;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  overflow-x: hidden;
  position: fixed;
  bottom: 30px;
  left: 20px;
  text-align: center;
  width: 230px;
  z-index: 2;
}
.quiz-btn:hover ,
.quiz-btn:active ,
.quiz-btn:focus {
  background: #ffa724;
  color: #ffffff !important;
}


.quiz-btn .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite linear;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

.blocker {
  z-index: 20 !important;
  background-color: rgba(0,0,0,0.85);
}

.modal a.close-modal {
  top: 10px!important;
  right: 10px!important;
}
