body h1 {font-weight: 300;}
body h1, body h2, body h3, body h4, body h5, body h6 {font-weight: 300;}
body .item-views.blocks h3, body .item-views.blocks h3.title, body .group-content h3{font-weight: 300;}

body.all_title_3 .item-views.list .item .title, body.all_title_3 .item-views.table .item .title a, body.all_title_3 .module_products_list td.item-name-cell .title,
body.all_title_3 .item-views.sections .item .title a, body.all_title_3 .wrap_tizer .wrap_outer .inner_text, body.all_title_3 .sections_wrapper .list .item .name, body.all_title_3 .head-block .item-link .title,
body.all_title_3 .news_block .item .name{font-weight: 300;}
body.all_title_3 .banners-big .slides .title{font-weight: 300;}
body.all_title_3 .bx-yandex-view-layout .pane_info_wrapper .pane_info .title_block{font-weight: 300;}
body.all_title_3 .portfolio.item-views .link .item .top_title, body.all_title_3 .wrap_tizer .preview, body.all_title_3 .float-banners .items .item .title, body.all_title_3 .licenses.item-views.table .item .title,
body.all_title_3 .tabs .nav.nav-tabs a, body.all_title_3 .accordion-head, body.all_title_3 .banners-small .item .title, body.all_title_3 .title-block-middle, body.all_title_3 .title-block-big,
body.all_title_3 .item-views.table.with-comments .item .title, body.all_title_3 .item-views.table-elements .item .body-info .title{font-weight: 300;}
body.all_title_3 .basket .items .item .description .name, body.all_title_3 .basket_order .items>.head .title{font-weight: 300;}
body.all_title_3 .titles_block, body.all_title_3 .form .form-header .title, body.all_title_3 .dark_table, body.all_title_3 .form.contacts .title, body.all_title_3 .tizers_block2 .item .title .top-text{font-weight: 300;}
body.all_title_3 .mega-menu table td .wrap > a {font-weight: 500;}
body.all_title_3 header * {font-weight: 300;}
body.all_title_3 .banners-big .slides .text-block {font-weight: 300;}
body.all_title_3 .btn {font-weight: 400;}
body.all_title_3 p {font-weight: 300;}
body.all_title_3 a {font-weight: 300;}
body.all_title_3 div {font-weight: 300;}
body.all_title_3 .logo_and_menu-row .phone a {font-weight: 500;}
body.all_title_3 footer .phones .phone a {font-weight: 500;}
body.all_title_3 .reviews.item-views.slider .item .title {font-weight: 500;}
body.all_title_3 .buy_block .counter input {font-weight: 400;}
body.all_title_3 .stickers .stickers-wrapper > div {font-weight: 400;}
body.all_title_3 .mega-menu table td.wide_menu > .wrap > .dropdown-menu > li > a {font-weight: 400;}
/*body.all_title_3 .side-menu > li > a {font-weight: 300;}*/