.instagram_ajax .instagram .item{float:left;width:25%;padding:0;position:relative;text-align:center;overflow: hidden;border:none;margin:0px;box-shadow:none;}
.instagram_ajax .instagram .item.user{background:#f2f2f2;text-align:left;display:none;}
.instagram_ajax .instagram .item.user .body2{padding:27px 30px;font-size:13px;line-height:18px;color:#333333;}
.instagram_ajax .instagram .item.user .image{margin:0 auto 12px;width:36px;height:36px;}
.instagram_ajax .instagram .item.user .name{margin:0 0 17px;font-size:20px;color:#FFF;}
.instagram_ajax .instagram .item.user .button a{border-color:#557fa2;}
.instagram_ajax .instagram .item.user .link{margin:8px 0 0;font-size:16px;font-weight:bold;line-height:1.1;}
.instagram_ajax .instagram .item .image{position:relative;padding:100% 0 0;}
.instagram_ajax .instagram .item .image:after{content:"";position:absolute;bottom:30px;left:30px;width:36px;height:36px;display:block;display:none;}
.instagram_ajax .instagram .item .image img{max-width:100%;max-height:100%;width: 100%;}
.instagram_ajax .instagram .item .desc a{position:absolute;top:0;right:0;bottom:0;left:0;}
.instagram_ajax .instagram .item .desc{position:absolute;top:100%;right:0;bottom:0;left:0;text-align:left;color:#FFF;line-height:1.5384em;z-index:1;transition: top 0.3s ease;-moz-transition: top 0.3s ease;-ms-transition: top 0.3s ease;-o-transition: top 0.3s ease;-webkit-transition: top 0.3s ease;}
.instagram_ajax .instagram .item .desc * {color:#FFF!important;}
.instagram_ajax .instagram .item:after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;opacity:0;visibility:hidden;background:rgba(0,0,0,0.6);transition: opacity 0.3s ease;-moz-transition: opacity 0.3s ease;-ms-transition: opacity 0.3s ease;-o-transition: opacity 0.3s ease;-webkit-transition: opacity 0.3s ease;}
.instagram_ajax .instagram .item:hover:after{opacity:1;visibility:visible;}
.instagram_ajax .instagram .item:hover .desc{top:0;}
.instagram_ajax .instagram .item .desc .wrap{padding:30px;position:relative;}
.instagram_ajax .instagram .item .date{position:relative;padding:0 0 0 30px;}
.instagram_ajax .instagram .item .date .svg{position:absolute;left:0;top:2px;}
.instagram_ajax .instagram .item .date svg path{fill:#FFF;}
.instagram_ajax .instagram .item .date>span{opacity:0.7;}
.instagram_ajax .instagram .item .desc .text{padding-top:21px;overflow:hidden;text-overflow:ellipsis;}
.instagram_ajax .instagram .item .mCSB_scrollTools{opacity:1;}
.instagram_ajax .instagram .item.bottom_desc .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{height:100%;}
.instagram_ajax .instagram .item.bottom_desc .desc{height:100%;}
.instagram_ajax .instagram .item.bottom_desc .desc .wrap{position:absolute;left:0;right:0;bottom:0;}
/* .instagram_ajax .title_block {margin: 0 38px 0 0;} */
.instagram_ajax .right_link_block{float: right; position: relative; z-index: 1;}
.instagram_ajax .front .flex-direction-nav{ top: 50%; margin-top: -15px;}
.instagram_ajax .items .flex-direction-nav li a{height: 42px; width: 42px;}
.instagram_ajax .items .flex-direction-nav li a:hover{border-radius: 100%;}
.instagram_ajax .items .flex-direction-nav li a.flex-prev:hover:before{background: url(/bitrix/templates/aspro-allcorp2/images/svg/Arrow_left_sm.svg) 0 0 no-repeat;}
.instagram_ajax .items .flex-direction-nav li a.flex-next:hover:before{background: url(/bitrix/templates/aspro-allcorp2/images/svg/Arrow_right_sm.svg) 0 0 no-repeat;}
.instagram_ajax .items .front .flex-direction-nav a:before, .instagram_ajax .items .flex-direction-nav a:before{left: 50%; top: 14px;}
.instagram_ajax .items .flex-direction-nav a.flex-next:before{ margin-left: 6px;}
.instagram_ajax .items .flex-direction-nav a.flex-prev:before{ margin-left: -7px;}
