/*
--------------------
Connecting fonts
--------------------
*/
@font-face {
    font-family: "manrope";
    src: local("Manrope"),
         url(../fonts/manrope.woff2) format('woff2'),
         url(../fonts/manrope.woff) format('woff');
}

@font-face {
    font-family: "manrope";
    src: local("Manrope"),
         url(../fonts/manrope-medium.woff2) format('woff2'),
         url(../fonts/manrope-medium.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "manrope";
    src: local("Manrope"),
         url(../fonts/manrope-semibold.woff2) format('woff2'),
         url(../fonts/manrope-semibold.woff) format('woff');
    font-weight: 600;
}

/*
--------------------
Основные стили
--------------------
*/
body {
    font-family: "manrope", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #222239;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body, html {height: 100%;}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input, textarea, a:focus, input:focus, button:active, button:focus, select:focus {outline:none !important; box-shadow: none !important;}
button::-moz-focus-inner {border: 0 !important;}

input::-webkit-input-placeholder {color: var(--text-grey, var(--Grey-text, #7D7D7D));}
input:-moz-placeholder {color: var(--text-grey, var(--Grey-text, #7D7D7D));}
input::-moz-placeholder {color: var(--text-grey, var(--Grey-text, #7D7D7D));}
input:-ms-input-placeholder {color: var(--text-grey, var(--Grey-text, #7D7D7D));}

p {
    margin: 0 0 15px;
    line-height: 1.3;
}

a {
    text-decoration: none;
    color: #222239;
    line-height: 1.4;
}

a:hover {text-decoration: underline;}

h1, h2, .title-h2 {
    display: block;
    font-size: 44px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -3px;
    margin: 0 0 40px;
}

h2, .title-h2 {
    margin: 0 auto 50px;
    text-align: center;
}

.left h2, .left .title-h2 {text-align: left;}

h3, h4, .title-h3, .title-h4 {
    display: block;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 20px;
}

h3, .title-h3 {    
    font-size: 32px;  
    letter-spacing: -2px;  
}

h4, .title-h4 {
    font-size: 24px;
    letter-spacing: -1px;
}

section, .partners, .padblk {padding: 50px 0;}
.row {margin: 0 -20px;}
.row > div {padding: 0 20px;}

body.modal-open-noscroll {
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grey {background: var(--Grey, #F4F4F4);}

.btn {
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 0.01em;
    padding: 10px 24px;
    font-family: "manrope";
    font-weight: 400;
    font-size: 16px;
    color: #212529;
}

.btn-danger {
    border-radius: 90px;
    background: var(--primary-red, #CC2F2F);
    font-weight: 600;
    line-height: 1.1;
    color: #ffffff;
}

.btn-danger:hover, .btn-danger:focus {background: #BE0C0C; text-decoration: none;}
.btn-danger.disable {background: #DFDFDF}

.btn-arrow {
    padding: 14px 14px 14px 34px;
    display: table;
}

.btn-arrow:after {
    content: "";
    margin-left: 18px;
    width: 38px;
    height: 38px;
    background: url(../img/arrow.svg) center / cover no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.marg {margin: 0 30px;}
.padb {padding-bottom: 100px;}

/* styles for modal */
.modal-content {border-radius: 16px;}
.modal-body {padding: 30px 70px 40px;}

.modal .btn-close {
    background: url(../img/close.svg) center no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99;
    padding: 0;
}

.modal-header {
    border-radius: 16px 16px 0px 0px;
    background: var(--Blue, #152659);
    padding: 26px;
    justify-content: center;
}

.modal-body p {
    text-align: center;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 0;
}

.order p {
    text-align: left;
}

.modal-body .title-h2 {
    text-align: center;
    margin-bottom: 10px;
}

.modal-body form {margin-top: 30px;}

.form-control {
    padding: 18px;
    border-radius: 8px;
    border: 1px solid var(--Grey-stroke, #D5D5D5);
    margin-bottom: 10px;
    height: 54px;
    border-radius: 8px !important;
}

input::-webkit-input-placeholder {color:rgba(33, 33, 56, 0.6);}
input:-moz-placeholder {color:rgba(33, 33, 56, 0.6);}
input::-moz-placeholder {color:rgba(33, 33, 56, 0.6);}
input:-ms-input-placeholder {color:rgba(33, 33, 56, 0.6);}

.modal-body form .form-control {
    display: block;
    width: 100%;
    padding: 15px 18px;
    font-size: 16px;
    line-height: 1;
    border-radius: 8px !important;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border: 1px solid var(--Grey-stroke, #D5D5D5);
    background: url(../img/alert-yes.svg) 97% center no-repeat;
}

.was-validated .form-control:invalid {
    border: 1px solid var(--primary-red, #CC2F2F);
    background: url(../img/alert-no.svg) 97% center no-repeat;
}

.invalid-feedback {
    margin: 0 0 10px;
    color: var(--primary-red, #CC2F2F);
    font-size: 14px;
    line-height: 1.1;
}

.modal-body form textarea, .order form textarea {
    width: 100%;
    resize: none;
    height: 94px;
}

.modal-body form button, .order-block form button {
    display: block;
    width: 100%;
    padding: 20px 24px;
    margin: 20px 0;
}

.modal-dialog {
    width: 96%;
    max-width: 620px;
}

.input-group {position: relative;}

.modal-body .input-group label, .order-block .input-group label {
    position: absolute;
    top: 15px;
    left: 18px;
    width: 80%;
    z-index: 99;
    color:rgba(33, 33, 56, 0.6);   
    cursor: text; 
}

.modal-body .input-group label span, .order-block .input-group label span {color: var(--Red, rgba(204, 46, 46, 0.6))}

#sent-modal .title-h3 {text-align: center;}

.order-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order h2 {margin-left: 0;}

/* checkbox */
.checks {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.checkbox {display: none;}

.checkbox-custom {
    position: relative;
    min-width: 13px;
    width: 13px;
    height: 13px;
    border: 1px solid rgba(33, 33, 56, 0.5);
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}

.checkbox:checked + .checkbox-custom {border: none;}

.checkbox:checked + .checkbox-custom::before {
    content: "";
    background: rgba(21, 38, 89, 1) url(../img/check2.svg) center no-repeat;
    background-size: 8px;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

.label {
    color:rgba(33, 33, 56, 0.5);
    margin-left: 8px;
    text-align: left;
    font-size: 13px;
    line-height: 1;
}

.label a {color:rgba(33, 33, 56, 0.5);}
.label a:hover {text-decoration: underline;}

.adds {
    display: flex;
    align-items: center;
}

.modal-body form .adds button, .order form .adds button {
    color: var(--White, #FFF);
    line-height: 1.1;
    padding: 12px 15px;
    border-radius: 8px;
    background: var(--Blue, #152659);
    min-width: 0;
    max-width: 148px;
    margin: 0;
    border: none;
}

.adds span {
    color:rgba(33, 33, 56, 0.5);
    margin-left: 15px;
    line-height: 1.1;
    max-width: 50%;
}

#sent-modal .modal-body {padding: 70px;}

#sent-modal .modal-body p {
    max-width: 70%;
    margin: 0 auto;
}

#sent-modal .btn-close,
#Online-order .btn-close {filter: invert(1);}

#Online-order .modal-dialog {max-width: 1340px;}
.order {padding: 100px 30px;}

#Online-order .modal-content {
    background: var(--Grey, #F4F4F4);
    border-radius: 0;
}

.order h2, .order .title-h2 {
    margin-bottom: 20px;
    text-align: left;
}

.order .title-h2 {margin-left: 0;}

.order p a {color: var(--Red, #CC2F2F);}
.order form textarea {margin-bottom: 0;}

.order img {
    margin-top: auto;
    border-radius: 16px;
    max-width: 100%;
}

.order-block {
    border-radius: 20px;
    background: var(--White, #FFF);
    padding: 40px;
}

.order-block p {
    max-width: 70%;
    text-align: left;
    margin-bottom: 30px;
}

.order-block .flex {
    flex-wrap: wrap;
    align-items: flex-start;
}

.order-block .input-group, .order-block .adds {width: 48%}
.order-block form button.btn-sent {width: 48%;}

.order-left {width: 37%;}
.order-right {width: 63%;}

.modal-body.order .row > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*
--------------------
Styles for Header
--------------------
*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #ffffff;
    padding-bottom: 24px;
}

.header-block {padding: 24px 30px;}

.logo {order: 1;}

.search {
    order: 3;
    width: 100%;
    max-width: 372px;
    margin-left: 70px;
    margin-right: auto;
}

.search form {
    border-radius: 8px;
    background: var(--Grey, #F4F4F4);
    padding: 11px 14px;
}

.search form input {
    font-size: 14px;
    line-height: 1.4;
    border: none;
    background: none;
    width: 100%;
}

.search form button {
    background: url(../img/icon-search.svg) no-repeat;
    width: 15px;
    height: 16px;
    margin-left: 14px;
    border: none;
    cursor: pointer;
}

.contact-block {
    margin-right: 60px;
    font-size: 14px;
    font-weight: 600;
    order: 4;
}

.contact-block ul li:not(:last-child) {margin-bottom: 3px;}
.whatsapp {color: #0CA427;}
.application {order: 5;}

.application .btn-danger {
    text-transform: uppercase;
    padding: 14px 24px;
    font-size: 14px;
}

.contact-block ul li a {
    display: flex;
    align-items: center;
}

.contact-block ul li a:before {
    content: "";
    margin-right: 8px;
    width: 10px;
    height: 10px;
}

.tel-block ul li a:before {background: url(../img/icon-phone.svg) no-repeat;}
.contact-block ul li .email:before {background: url(../img/icon-email.svg) no-repeat;}

.contact-block ul li .whatsapp:before {
    background: url(../img/icon-whatsapp.svg) no-repeat;
    width: 12px;
    height: 12px;
}

nav {order: 2;}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li:not(:last-child){border-right: 1px solid #DFDFDF;}

nav li {
    padding: 17px 49px;
}

nav li a {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    display: block;
}

nav li:hover {background: var(--primary-red, #CC2F2F);}
nav li:hover a, nav li:hover .btn {color: #ffffff; text-decoration: none;}
nav li:hover .dropdown-menu a {color: #222239;}

.dropdown-toggle {
    background: none;
    border: none;
    padding: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;
    width: 100%;
}

.dropdown:hover .dropdown-menu, .dropdown-menu.show {
    display: block;
    background: #ffffff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
}

.dropdown-menu li:not(:last-child) {border: none; border-bottom: 1px solid #DFDFDF;}

.dropdown-menu li a {
    color: var(--text-black, var(--Text, #222239));
    font-weight: 500;
    line-height: 1;
    text-transform: none;
}

.dropdown-menu li {padding: 14px;}

.dropdown-menu li a {
    text-align: left;
    font-size: 12px;
}
.dropdown {position: relative;}

.dropdown .btn {
    background: url(../img/check.svg) center no-repeat;
    width: 6px;
    height: 6px;
    margin-left: 4px;
    padding: 0;
}

nav li:hover .btn, .dropdown .btn:hover, .dropdown .btn.show {filter: brightness(0) invert(1);}
.dropdown-menu li:hover {background: var(--primary-red, #CC2F2F);}
nav li:hover  .dropdown-menu li:hover a {color: #ffffff; text-decoration: none;}

.mobile-nav {
    display: none;
    padding: 12px 50px;
}

.mobile-nav:before {
    content: "";
    background: url(../img/nav.svg) no-repeat;
    width: 12px;
    height: 10px;
    margin-right: 8px;
}

.mobile-nav:after {
    content: "";
    background: url(../img/check.svg) no-repeat;
    width: 6px;
    height: 6px;
    margin-left: 8px;
    filter: brightness(0) invert(1);
}

header.fixed .mobile-nav {
    display: flex;
    align-items: center;
}

header.fixed {
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    padding-bottom: 0;
}

header.fixed nav .nav-blk {display: none;}
header.fixed nav, header.fixed .search {margin-left: 50px;}
header.fixed nav {background: none;}


header.fixed nav.active {position: relative;}

header.fixed nav.active .nav-blk {
    display: block;
    position: absolute;
    top: 69px;
    background: #ffffff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    min-width: 200px;
    text-align: left;
}

header.fixed nav.active .nav-blk li:not(:last-of-type) {border-bottom: 1px solid #DFDFDF;}
header.fixed nav.active .nav-blk li {padding: 14px; text-align: left;}

header.fixed nav.active .dropdown:hover .dropdown-menu {
    top: 0;
    left: 100%;
}


/*
--------------------
Styles for Offer
--------------------
*/
.offer {
    background: url(../img/offer-bg.jpg) top center / cover no-repeat;
    padding: 100px 0;
    border-radius: 30px;
    color: var(--primary-white, #FFF);
}

.offer h1 {
    font-size: 52px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -3px;
    margin:0 0 30px;
    max-width: 760px;
}

.offer p {
    font-weight: 500;
    margin-bottom: 55px;
    max-width: 570px;
}


/*
--------------------
Styles for Catalog
--------------------
*/
.catblk {
    border-radius: 16px;
    background: var(--Grey, #F4F4F4);
    padding: 30px 30px 5px;
    display: block;
    height: 100%;
}

.catblk span {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
    max-width: 100%;
}

.catblk span:after {
    content: "";
    background: url(../img/arrow3.svg) center no-repeat;
    border: 1px solid #CC2F2F;
    border-radius: 50%;
    min-width: 42px;
    width: 42px;
    height: 42px;
    margin-left: 15%;
    transition: 0.2s linear background;
}

.catblk:hover {text-decoration: none; color: #222239;}
.catblk:hover span:after {background: #CC2F2F url(../img/arrow4.svg) center no-repeat;}
.catblk:focus span:after {background: #BE0C0C url(../img/arrow4.svg) center no-repeat;}
.catblk img {max-width: 100%; mix-blend-mode: multiply;}
.catalog {padding: 100px 0 10px;}
.catalog-block > div {margin-bottom: 40px;}


/*
------------------------
Styles for Why-us
------------------------
*/
.why-us {
    border-radius: 30px;
    background: var(--Blue, #152659);
    margin: 50px 30px;
    color: var(--primary-white, #FFF);
}

.titles {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-bottom: 35px;
    letter-spacing: 0;
    border-radius: 90px;
    background: rgba(255, 255, 255, 0.10);
    display: inline-flex;
}

div.why-us-info {
    border-right: 1px solid rgba(255, 255, 255, 0.20);
    padding-right: 40px;
}

.why-us-info p {
    margin: 35px 0 60px;
    max-width: 90%;
    font-weight: 500;
}

.why-us-info img {
    border-radius: 16px;
    max-width: 100%;
    display: block;
}

div.why-us-block {padding-left: 0;}

.why-us-description p {
    margin-bottom: 40px;
}

.why-us-description ul {
    counter-reset: list;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.why-us-description ul li {
    margin-bottom: 40px;
    width: 50%;
    padding: 0 20px;
}

.why-us-description ul li:before {
    counter-increment: list;
    content: "0" counter(list);
    margin-bottom: 20px;
    display: flex;
    display: block;
    color: var(--primary-white, #FFF);
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -1px;
    border-radius: 90px;
    background: var(--primary-red, #CC2F2F);
    padding: 6px 0px;
    max-width: 50px;
}

.why-us-block > div {padding-left: 40px;}

.why-us-video {
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
}

.why-us-video-block {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.10);
    padding: 30px;
}

.why-us-video img {border-radius: 16px;}
.why-us-video p {margin: 0 0 0 40px;}

.video-play {position: relative;}

.video-play:before {
    content: "";
    width: 60px;
    height: 60px;
    background: #ffffff url(../img/play.svg) center no-repeat;
    background-size: 10px;
    margin: 0 auto 14px;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

.why-us-video a.comp {
    color: var(--primary-white, #FFF);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    display: block;
    margin-top: 40px;
}

.why-company .why-us-description ul li:nth-last-child(-n+2) {margin-bottom: 0;}

.why-us-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.why-us-info h2 {margin-left: 0;}

.why-us-info img:last-child {margin-top: auto;}

.reviews-block.articles img {
    max-height: 190px;
}

/*
------------------------
Styles for Slider block
------------------------
*/
.slider-block {position: relative;}

.title-flex {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

.title-flex h2 {margin-bottom: 0;}

.all-reviews {
    color: var(--primary-red, #CC2F2F);
    font-weight: 600;
    line-height: 1.3;
}

.slider-block .swiper-button-prev,
.slider-block .swiper-button-next {
    width: 44px;
    height: 44px;
    background: #152659;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    margin-top: 0;
}

.slider-block .swiper-button-prev {left: -82px;}
.slider-block .swiper-button-next {right: -82px;}

.slider-block .swiper-button-prev:after,
.slider-block .swiper-button-next:after {
    content: "";
    background: url(../img/arrow2.svg) center no-repeat;
    width: 10px;
    height: 16px;
}

.slider-block .swiper-button-prev:after {transform: rotate(180deg);}

.reviewsSwiper img {
    width: 100%;
    border-radius: 16px;
    border: 1px solid var(--stroke-grey, #DFDFDF);
}

.review-info {margin-top: 20px;}
.review-info span {display: block;}

.review-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
}

.review-city {
    color: var(--text-grey, var(--Grey-text, #7D7D7D));
    line-height: 1.3;
}

.reviews-block .row > div {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reviews-block .row > div img {
    max-width: 100%;
    margin-bottom: auto;
}

.review-item { border: 1px solid #ececec;  border-radius: 12px; padding: 14px;}

.partner-blk {
    border-radius: 8px;
    border: 1px solid var(--stroke-grey, #DFDFDF);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.partner-blk img {max-width: 100%;}


/*
------------------------
Styles for Sertificates
------------------------
*/
.padd {padding: 100px 0;}
.smb {margin: 0 auto;}
.sertificate-blk img {max-width: 100%; max-height: 400px;}
.smb {padding-bottom: 60px;}

.sertificate-blk span {
    display: block;
    margin: 19px 0 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.sertificate-blk a {
    display: block;
    color: var(--primary-red, #CC2F2F);
    font-weight: 600;
    line-height: 1.3;
    margin-top: auto;
}

.sertificate-blk a:first-child {margin-top: 0;}

.sertificate-blk {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 40px;
}

.smb .sertificate-blk span {margin-bottom: 36px;}


/*
--------------------
Styles for Call-us
--------------------
*/
.call-us h2 {
    text-align: left;
    margin-bottom: 20px;
}

.call-us p {margin-bottom: 50px;}

.call-us a {
    display: flex;
    align-items: center;
    color: #0CA427;
    font-weight: 500;
    line-height: 1.4;
}

.call-us a:before {
    content: "";
    background: url(../img/whatsapp.svg) center / cover no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.call-us-block {
    border-radius: 16px;
    background: var(--primary-white, #FFF);
    padding: 40px;
}

.call-us-block p {
    margin-bottom: 55px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -1px;
}


/*
--------------------
Styles for Benefits
--------------------
*/
.benefits {
    background: url(../img/benefits-bg.jpg) center / cover no-repeat;
    border-radius: 30px;
    margin-top: 50px;
}

.benefit-info img {
    margin-bottom: 50px;
    display: block;
    border-radius: 10px;
}

.benefit-info ul { 
    position: relative; 
    display: grid;
    gap: 60px 140px;
    grid-template-areas:
      "benefit1 benefit2 ."
      "benefit3 benefit4 benefit5";
}

.benefit-info ul:after {
    content: "";
    border-top: 1px solid rgba(255, 255, 255, 0.50);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
}
  
.benefit-info ul li {position: relative;}
.benefit1 {grid-area: benefit1; max-width: 180px;}
.benefit2 {grid-area: benefit2; width: 250px;}
.benefit3 {grid-area: benefit3; width: 220px;}
.benefit4 {grid-area: benefit4; width: 250px;}
.benefit5 {grid-area: benefit5; width: 175px;}
.benefit6 {grid-area: benefit6;}

.benefit2:before, .benefit2:after,
.benefit4:before, .benefit4:after {
    content: "";
    background: rgba(255, 255, 255, 0.50);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
}

.benefit2:before, .benefit4:before {left: -28%;}
.benefit2:after, .benefit4:after {right: -32%;}

.benefit-info ul li {
    color: var(--primary-white, #FFF);
    font-size: 20px;
    line-height: 1.3;
}

.play-blk {
    margin-left: auto;
    text-align: center;
}

.benefits .play {
    width: 80px;
    height: 80px;
    background: #ffffff url(../img/play.svg) center no-repeat;
    margin: 0 auto 14px;
    display: block;
    border-radius: 50%;
}

.play-blk span {
    display: block;
    color: rgba(255, 255, 255, 0.7);
}


/*
----------------------
Styles for Breadcrumb
----------------------
*/
.breadcrumb {
    padding: 20px 0 30px;
    margin: 0;
    font-size: 13px;
    align-items: center;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item+.breadcrumb-item {padding-left: 0;}

.breadcrumb-item+.breadcrumb-item::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    color: #7D7D7D;
    content: ">";
    margin: 0 10px;
    padding: 0;
}

.breadcrumb-item a, .breadcrumb-item.active {color: #7D7D7D}


/*
-----------------------
Styles for requisites
-----------------------
*/
.requisites {padding-bottom: 100px;}

.table td {
    padding: 14px 0;
    line-height: 1.4;
    text-align: left;
}

.requisites .table td:nth-child(odd) {
    width: 40%;
    font-weight: 600;
}

.table-block:last-child {margin-bottom: 0;}
.table-block td:last-child {text-align: right;}


/*
--------------------
Styles for Propose
--------------------
*/
.propose-block {
    padding: 40px;
    border-radius: 16px;
    background: var(--Grey, #F4F4F4);
    height: 100%;
    position: relative;
}

.propose-block:after {
    content: "";
    background: var(--primary-red, #CC2F2F) url(../img/propose-icon1.svg) center no-repeat;
    min-width: 46px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: auto;
    position: absolute;
    top: 40px;
    right: 40px;
}

.propose .row > div:nth-child(2) .propose-block:after {background: var(--primary-red, #CC2F2F) url(../img/propose-icon2.svg) center no-repeat;}

.propose .title-h3 {
    margin-bottom: 40px;
    max-width: 60%;
}

.propose-block span {max-width: 75%;}

.propose-block p {
    margin-bottom: 0;
    line-height: 1.3;
}

.information-block .propose-block {
    border: 1px solid var(--stroke-grey, #DFDFDF);
    background: #ffffff;
}

.information-block .row > div:nth-child(1) .propose-block:after {background: var(--primary-red, #CC2F2F) url(../img/propose-icon3.svg) center no-repeat;}
.information-block .row > div:nth-child(2) .propose-block:after {background: var(--primary-red, #CC2F2F) url(../img/propose-icon4.svg) center no-repeat;}
.information-block .row > div:nth-child(1)  .propose-block span {max-width: 69%;}


/*
--------------------------
Styles for Questionnaires
--------------------------
*/
.questionnaires .row {margin: 0;}

.questionnaires .row > div {
    padding: 0 30px 40px;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}

.questionnaires-blk {
    display: flex;
    flex-direction: column;
}

.questionnaires-blk span {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
}

.questionnaires-blk span:before {
    content: "";
    min-width: 36px;
    width: 36px;
    height: 36px;
    margin-right: 16px;
    background: var(--primary-red, #CC2F2F) url(../img/icon.svg) center no-repeat;
    border-radius: 10px;
}

.questionnaires-blk p {
    margin: 14px 0;
    color: var(--text-grey, var(--Grey-text, #7D7D7D));
}

.questionnaires-blk a {
    color: var(--primary-red, #CC2F2F);
    font-weight: 600;
    line-height: 1.3;
    display: block;
    margin-top: auto;
}

/*
----------------------
Styles for Pagination
----------------------
*/
ul.pagination {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

ul.pagination li {
    margin: 0 4px;
}

ul.pagination li a {
    background: var(--Grey, #F4F4F4);
    color: var(--text-grey, var(--Grey-text, #7D7D7D));
    text-align: center;
    font-weight: 600;
    line-height: 1;
    width: 36px;
    height: 36px;
    border-radius: 0;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.page-item.active .page-link {
    background: var(--primary-red, #CC2F2F);
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

/*
--------------------
Styles for Delivery
--------------------
*/
.delivery {
    position: relative;
    overflow: hidden;
}

.delivery:after {
    content: "";
    background: url(../img/map.svg) right center / contain no-repeat;
    width: 850px;
    height: 494px;
    position: absolute;
    left: 57%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

.delivery-info {
    padding: 15px;
    border-radius: 8px;
    background: var(--Grey, #F4F4F4);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    max-width: 572px;
    font-weight: 600;
}

.delivery-info:before {
    content: "";
    width: 34px;
    height: 34px;
    background: #CC2F2F url(../img/icon-delivery.svg) center no-repeat;
    margin-right: 10px;
    border-radius: 50%;
}

.delivery-info p {
    line-height: 1.1;
    margin-bottom: 0;
}

.circle {counter-reset: list;}

.circle li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DFDFDF;
    display: flex;
}

.circle li:last-child {margin-bottom: 0;}

.circle li:before {
    counter-increment: list;
    content: counter(list);
    min-width: 22px;
    width: 22px;
    height: 22px;
    background: #152659;
    margin-right: 15px;
    color: var(--primary-white, #FFF);
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.delivery-block li p {max-width: 95%;}
.delivery-block li p:not(:last-child) {margin-bottom: 10px;}

.delivery-page .information-block .row > div:nth-child(1) .propose-block:after {
    background: var(--primary-red, #CC2F2F) url(../img/icon3.svg) center no-repeat;
}

.delivery-page .information-block .row > div:nth-child(2) .propose-block:after {
    background: var(--primary-red, #CC2F2F) url(../img/icon2.svg) center no-repeat;
}

.list {padding-left: 20px;}
.list li {line-height: 1.3;}
.list li:not(:last-child) {margin-bottom: 10px;}

.question-block {
    border-radius: 16px;
    background: var(--Blue, #152659);
    padding: 40px 60px;
    align-items: flex-end;
}

.question-block p {
    max-width: 60%;
    color: var(--primary-white, #FFF);
    margin-bottom: 0;
}

.why-company {
    margin-top: 0;
    margin-bottom: 0;
}

/*
--------------------
Styles for Company
--------------------
*/
.info-text {
    max-width: 730px;
    margin-bottom: 40px;
}

.company-info p:last-child {margin-bottom: 0;}

.company-video img {
    width: 100%;
    border-radius: 16px;
}

.company-video .video-play:before {
    width: 80px;
    height: 80px;
    background-size: 14px;
}

.company-content p {max-width: 85%;}
.company-content p:last-child {margin-bottom: 0;}

.tegs {
    display: flex;
    flex-wrap: wrap;
}

.tegs a:hover {
    background: var(--primary-red, #CC2F2F);
    color: #ffffff;
    text-decoration: none;
}

.tegs {margin: 0 -8px;}
.tegs li {margin: 0 8px 12px;}

.tegs a {
    font-size: 14px;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 8px;
    background: var(--Grey, #F4F4F4);
    display: inline-block;
}

.company-propose .row > div .propose-block:after {content: none;}
.company-propose .propose-block p:not(:last-child) {margin-bottom: 10px;}

.company-propose .propose-block span {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-propose .propose-block span:after {
    content: "";
    background: var(--primary-red, #CC2F2F) url(../img/icon4.svg) center no-repeat;
    min-width: 46px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: auto;
}

.company-propose .row > div:nth-child(2) .propose-block span:after {background: var(--primary-red, #CC2F2F) url(../img/icon5.svg) center no-repeat;}

.lists li {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    display: flex;
}

.lists li:before {
    content: "";
    background: #CC2F2F;
    width: 6px;
    height: 6px;
    margin-right: 16px;
    border-radius: 50%;
    margin-top: 8px;
}

.company-garantee ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 580px;
    margin-left: auto;
}

.company-garantee ul li {width: 50%;}

.company-garantee ul li:nth-child(odd) {
    padding-right: 40px;
    border-right: 1px solid #DFDFDF;
}

.company-garantee ul li:nth-child(even) {padding-left: 40px;}

.company-garantee ul li:nth-child(-n+2) {
    margin-bottom: 40px;
    position: relative;
}

.company-garantee ul li:nth-child(-n+2):after {
    content: "";
    border-bottom: 1px solid #DFDFDF;
    position: absolute;
    top: calc(100% + 20px);
    width: 100%;
    left: 0;
}

.company-garantee ul li span {display: block;}
.company-garantee ul li p {margin-bottom: 0;}

.prise-blk {margin-top: 60px;}
.red {color: var(--primary-red, #CC2F2F);}
.bold {font-weight: 600;}
.table-block {margin-bottom: 30px;}
.table-block p.bold {margin-bottom: 20px;}

.prise-blk .bold,
.prise-blk .title-h4 {
    margin-bottom: 4px !important;
    margin-top: 10px;
}

.map-block iframe {
    width: 100%;
    height: 600px;
}

/*
--------------------
Styles for Contact
--------------------
*/
.contact-info span {
    display: block;
    width: 100%;
    max-width: 218px;
    margin-bottom: 0;
}

.contact-description {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.contact-blk {
    display: flex;
}

.contact-blk:nth-child(-n+2) {
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 40px;
}

.contact-blk:nth-child(odd) {
    border-right: 1px solid #DFDFDF;
    padding-right: 40px;
}

.contact-blk:nth-child(even) {padding-left: 40px;}
.contact-blk:nth-child(3), .contact-blk:nth-child(4) {padding-top: 40px;}
.contact-page h1 {margin-bottom: 20px;}
.contact-page {margin-bottom: 40px;}
.contact-info-blk ul a {display: block;}
.icons {display: flex;}
ul.icons {flex-direction: column;}
.icons:not(:last-child) {margin-bottom: 20px;}

.icons:before {
    content: "";
    min-width: 19px;
    width: 19px;
    height: 19px;
    margin: 2px 4px 0 0;
}

.contact-adress:before {background: url(../img/contact-icon1.svg) center no-repeat;}
.contact-tel:before {background: url(../img/contact-icon2.svg) center no-repeat;}
.contact-email:before {background: url(../img/contact-icon3.svg) center no-repeat;}


/*
--------------------
Styles for Catalog
--------------------
*/
.catalog-product-image {
    padding: 30px;
    border-radius: 16px;
    background: var(--Grey, #F4F4F4);
    margin-bottom: 20px;
    text-align: center;
}

.catalog-product-image img {max-width: 100%; height: 210px; object-fit: contain;   mix-blend-mode: multiply;}

.catalog-product-description span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
}

.catalog-product-title {margin-bottom: 10px;}
.catalog-product-description p {color: var(--text-grey, var(--Grey-text, #7D7D7D));}

.catalog-product-prise {
    color: var(--primary-red, #CC2F2F);
    margin-top: auto;
}

.catalog-slide .swiper-slide {height: auto;}

.catalog-product {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #222239;
}

.catalog-product:hover {
    color: #222239;
    text-decoration: none;
}

.catalog-product:hover span.catalog-product-title {text-decoration: underline;}

.catalog-product-description {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.catalog-slide .slider-block .swiper-button-prev,
.catalog-slide .slider-block .swiper-button-next {top: calc(50% - 68px);}

.blue {
    background: #152659;
    color: #ffffff;
}

.connect-block {
    padding: 60px 200px 0 80px;
    border-radius: 30px;
    align-items: flex-end;
}

.connect-info {max-width: 390px;}

.connect-info h2 {
    text-align: left;
    margin-bottom: 20px;
}

.connect-info p {
    margin-bottom: 40px;
    max-width: 80%;
}

.connect-info p a {
    color: #FFF;
    text-decoration: underline;
}
.connect-info .btn {margin-bottom: 60px;}
.connect-block img {border-radius: 16px 16px 0 0;}

.category-content h3 {
    text-align: left;
    margin-bottom: 6px;
}

.row-ul {margin-top: 40px;}
.row-ul > div {margin-bottom: 40px;}
.row-ul ul, .row-ul ol {margin-bottom: 0;}
.row-ul li span {font-weight: 600;}
.row-ul ol {padding-left: 20px;}

.title-h5 {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 20px;
}

.mb-40 {margin-bottom: 40px;}
.row-ul > div:not(:nth-child(3n)) {border-right: 1px solid #DFDFDF;}

.cat-blk {
    border-radius: 12px;
    background: var(--primary-grey, #F4F4F4);
    padding: 15px 30px;
    display: flex;
    align-items: center;
}

.cat-blk-image {
    min-width: 63px;
    width: 63px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.cat-blk-image img {max-width: 100%; mix-blend-mode: multiply;}
.card-image img {mix-blend-mode: multiply;}
.cat-blk span {
    display: block;
    font-weight: 600;
    line-height: 1.2;
}

.category-block .row {margin: 0 -10px;}

.category-block .row > div {
    padding: 0 10px;
    margin-bottom: 20px;
}

.category-block .row > div:nth-last-child(-n+2) {margin-bottom: 0;}

.category-nav .flex {padding: 14px 13px 14px 20px;}
.category-nav li .cat-title {padding: 17px 15px 17px 20px;}
.category-nav li.active .cat-title, .category-nav li:hover .cat-title {background: var(--primary-red, #CC2F2F);}
.category-nav li.active .cat-title a, .category-nav li:hover .cat-title a {color: #ffffff; text-decoration: none;}

.category-nav li.active button, .category-nav li:hover button {
    filter: brightness(0) invert(1);
    transform: rotate(0);
}

.category-nav, .category-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.category-nav li a {
    color: var(--text-black, var(--Text, #222239));
    line-height: 1;
    font-weight: 600;
    font-size: 14px;
    display: block;
}

.category-nav li:not(:last-child) {
    border-bottom: 1px solid #DFDFDF;
}

.category-nav button {
    border: none;
    width: 17px;
    height: 17px;
    background: url(../img/check.svg) center no-repeat;
    transform: rotate(-90deg);
}

.category-nav ul {background: var(--Grey, #F4F4F4);}
.category-nav ul a {font-size: 12px;}
.category-nav ul a:hover, .category-nav li ul ul li.active a {color: var(--primary-red, #CC2F2F); text-decoration: none;}
.category-nav ul li .flex a {font-weight: 500; line-height: 1.2;}
.category-nav ul li.active .flex a {color: var(--primary-red, #CC2F2F);}
.category-nav li.active ul li button {filter: none; margin-left: 21px;}
.category-nav li.active ul li.active button {background: url(../img/check-red.svg) center no-repeat;}
.category-nav li.active ul ul {border-top: 1px solid #DFDFDF;}
.category-nav li ul ul li {padding: 14px 20px 14px 30px;}
.category-nav li.active ul ul li a {font-weight: 400; line-height: 1.3;}

.btn-catalog {
    padding: 12px 24px;
    border-radius: 8px;
    background: var(--primary-red, #CC2F2F);
    color: var(--primary-white, #FFF);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 33px;
    display: flex;
    align-items: center;
}

.btn-catalog:before {
    content: "";
    background: url(../img/nav3.svg) no-repeat;
    width: 14px;
    height: 10px;
    margin-right: 10px;
}
.category-content table  {
    width: 100%;
    margin: 24px 0px;
    border: none;
    width: 100%;
}


.category-content table td {
    padding: 3px 6px;
    border-bottom: 1px solid #DFDFDF !important
}

.table th,
.category-content table th {
    font-weight: 600;
    line-height: 1.4;
    padding: 14px 0;
}

.table td, .table th {border-bottom: 1px solid #DFDFDF !important}

.category-table .table td:last-child, .category-content .table td:last-child {
    width: 25%;
    text-align: left;
}


.category-content .table-block, .category-table {margin-bottom: 60px;}
.category-table .table-block {margin-bottom: 40px;}
.category-content .table td:first-child {min-width: 70px;}
.mb-20, .category-content .table-block.mb-20 {margin-bottom: 20px;}

.category-blk {margin-bottom: 30px;}
.category-blk p:last-child {margin-bottom: 0;}

.category-prod {padding-bottom: 60px;}
.category-prod .row > div {margin-bottom: 40px;} 

.content h2,
.category-right h2 {
    text-align: left;
    margin-bottom: 20px;
}

.category-delivery {margin-top: 60px;}

.card-image {
    width: 400px;
    height: 400px;
    min-width: 400px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: var(--Grey, #F4F4F4);
    padding: 40px;
}

.card-image img {width: 100%;}

.product-prise {
    display: block;
    color: var(--primary-red, #CC2F2F);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: auto;
}

.card-block {margin-bottom: 60px;}

.card-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.card-info p {margin-bottom: 20px;}

.card-info a {
    display: block;
    margin-bottom: 40px;
    font-weight: 600;
}




/*
--------------------
Styles for Footer
--------------------
*/
footer {
    margin-top: auto;
    background: #1A233D;
    padding: 60px 0 30px;
}

.fblk span {
    display: block;
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 20px;
}

.footer-block {align-items: stretch;}

.fblk {
    display: flex;
    flex-direction: column;
}

.flogo a.map {margin-top: auto;}

.fcat a, .flogo a {
    display: block;
    color: rgba(255, 255, 255, 0.60);
    font-size: 13px;
    line-height: 1.4;
}

.ftel a, .ftel p {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
}

.flogo {max-width: 210px;}
.fcat {max-width: 270px;}
.fnav, .ftel {max-width: 240px;}

.fblk ul li:not(:last-child) {margin-bottom: 10px;}
.fcat ul li:not(:last-child) {margin-bottom: 13px;}

.fblk ul li p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.contact-block ul li p.adress:before {
    content: "";
    background: url(../img/icon-address.svg) no-repeat;
    width: 11px;
    height: 12px;
    margin-right: 8px;
}

.fblk .contact-block {
    margin-right: 0;
    order: 0;
}

.fblk .contact-block ul li a:before {opacity: 0.8;}

.ftel .call button {
    display: block;
    color: var(--primary-red, #CC2F2F);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    text-decoration-line: underline;
    margin:10px 0 52px;
    padding: 0;
    text-transform: none;
}

.fnav a {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    padding-top: 30px;
    margin-top: 40px;
}

.footer-bottom p, .footer-bottom a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 0;
}

#toTop {
    width: 36px;
    height: 36px;
    background: #CC2F2F url(../img/up.svg) center no-repeat;
    border-radius: 50%;
    position: fixed;
    right: 12px;
    bottom: 326px;
    z-index: 99;
}


/* SEARCH */

.search-block {
    margin: 24px 0px;
}

.search-block .search_subtitle {
    font-size: 1.08em;
    padding-bottom: 8px;
}

.search-block a {
    
    color: #CC2F2F;
}

.input-group-captcha {
    margin-top: 8px;
    order:99;
}

/*
--------------------
Styles for Adaptive
--------------------
*/
@media (min-width: 1200px) {
    .container {max-width: 1304px; padding: 0 20px;}
    body {padding-top: 172px;}
}

@media (min-width: 1200px) and (max-width: 1599px) {
    header.fixed .search {max-width: 20%;}
    header.fixed nav, header.fixed .search {margin-left: 30px;}
    .slider-block {width: 90%; margin: 0 auto;}  
    .slider-block .swiper-button-prev {left: -60px;}
    .slider-block .swiper-button-next {right: -60px;}
}

@media (max-width: 1399px) {
    body.lock {overflow: hidden;}
    body.lock:before, header.active:before {content: ""; background: rgba(0, 0, 0, 0.30); position: fixed; top: 0; left: 0; width: 100%; height: 100%;}
    nav li {padding: 17px 40px;}
    header.fixed .navs {display: none;}
    header.fixed nav.active .nav-blk { margin-bottom: 35px; box-shadow: none; display: flex;flex-direction: column;width: 100%; order: 1; background: none; position: relative; top: 0;}
    header.fixed nav ul li {width: 100%;}
    .search {max-width: 23%;}
    header.fixed .logo {margin-right: auto;}
    header.fixed .application, header.fixed .contact-block {margin: 0 auto;}
    header.fixed .search {order: 6; width: 43px; position: relative; margin: 0 0 0 auto;}
    header.fixed .search form {position: absolute; cursor: pointer; right: 0; top: 50%; border-radius: 30px; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); transition: width 0.5s linear, border-radius 0.5s linear; min-width:43px; width: 43px; height: 44px; background: #F4F4F4 url(../img/icon-search.svg) center no-repeat; overflow: hidden;}
    header.fixed .search form input {width: 0; padding: 0;}
    header.fixed .search form button {margin-left: 0; width: 0; padding: 0;}
    header.fixed .search.active form {width: 300px; background: #F4F4F4; border-radius: 8px; transition: width 0.5s linear;}
    header.fixed .search.active form input {width: 200px;}
    header.fixed .search.active form button {width: 15px; margin-left: 14px;}
    header.fixed .mobile-nav {border: none; width: 43px; height: 43px; padding: 0; font-size: 0; background: #CC2F2F url(../img/nav2.svg) center no-repeat;}
    header.fixed .mobile-nav.active {z-index: 99; position: relative; background: url(../img/close.svg) center no-repeat; font-size: 0;}
    header.fixed .mobile-nav:before, header.fixed .mobile-nav:after {content: none;}
    header.fixed nav {order: 7; margin-left: 20px;}
    header.fixed nav.active .navs {display: flex; flex-direction: column; background: #1A233D; padding: 60px 28px 40px; width: 90%; max-width: 436px; position: fixed; right: 0; top: 0; height: 100%; overflow: auto;}
    header.fixed nav.active .navs li {padding: 16px 0;}
    header.fixed nav.active .navs li a {color: #ffffff; font-size: 16px;}
    header.fixed nav.active .navs li a.whatsapp {color: #0CA427;}
    header.fixed nav.active .nav-blk li:not(:last-of-type), header.fixed nav.active .nav-blk li {border-bottom: 1px solid rgba(255, 255, 255, 0.30); border-right: none;}
    header.fixed nav.active .dropdown:hover .dropdown-menu {position: relative; left: 0; background: none;}
    header.fixed nav.active .dropdown .dropdown-menu li {border: none; padding: 10px 0;}
    header.fixed nav.active .dropdown .dropdown-menu a {color: rgba(255, 255, 255, 0.60); font-weight: 400; line-height: 1.4;}
    header.fixed nav.active .dropdown:hover .dropdown-menu, header.fixed nav.active .dropdown-menu.show {display: none;}
    header.fixed nav.active .dropdown .btn {filter: brightness(0) invert(1); width: 15px; height: 15px; background-size: 7px;}
    header.fixed nav.active .dropdown.active .dropdown-menu {padding-bottom: 10px; border: none; background: none; box-shadow: none; display: block; transition: all 0.3s ease; position: relative; top: 6px;}
    header.fixed nav.active .dropdown.active:hover {background: none;}
    header.fixed nav.active .dropdown {cursor: pointer;}
    header.fixed nav.active li:not(:last-child) {border-right: none;}
    header.fixed nav.active .navs .contact-block {margin: 0; order: 3;}
    header.fixed nav.active .navs .contact-block ul {display: block;}
    header.fixed nav.active .navs .contact-block.tel-block {margin: 0 0 32px;}
    header.fixed nav.active .contact-block ul li {padding: 0;}
    header.fixed nav.active .contact-block ul li:not(:last-child) {margin-bottom: 8px;}
    header.fixed nav.active .search {width: 100%; order: 2; max-width: 100%; margin: auto 0 50px}
    header.fixed nav.active .search form {width: 100%; position: relative; background: none; padding: 0; border-radius: 8px;}
    header.fixed nav.active .search form input {width: 70%; border-radius: 8px; background: var(--Grey, #F4F4F4); padding: 11px 14px;}
    header.fixed nav.active .search form button {width: 28%; margin-left: 2%; padding: 11px; border-radius: 8px; background: var(--primary-red, #CC2F2F); color: var(--primary-white, #FFF); font-size: 14px; font-weight: 600; line-height: 1.4; height: auto;}
    header.fixed nav.active .search form button:before {content: "Найти"}
    .benefit-info ul {gap: 40px 100px;}
    .benefit3 {width: 200px;}
    .benefit2:before, .benefit4:before {left: -20%;}
    .benefit2:after, .benefit4:after {right: -20%;}
    .why-us-video p {font-size: 15px;}
    nav li:hover {background: none;}
}

@media (max-width: 1199px) {
    body {padding-top: 110px;}
    .padd {padding: 60px 0;}
    .marg {margin: 0 12px; padding: 60px 40px;}
    .marg .container {padding: 0;}
    .logo {margin-right: auto;}
    .mobile-nav {display: block;}
    .application, .navs {display: none;}
    header .mobile-nav {width: 43px; height: 43px; padding: 0; font-size: 0; background: #CC2F2F url(../img/nav2.svg) center no-repeat;}
    header .search {order: 6; width: 43px; position: relative; margin: 0 0 0 auto;}
    header .search form {position: absolute; right: 0; top: 50%; border-radius: 30px; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); transition: width 0.5s linear, border-radius 0.5s linear; min-width:43px; width: 43px; height: 44px; background: #F4F4F4 url(../img/icon-search.svg) center no-repeat; overflow: hidden;}
    header .search form input {width: 0; padding: 0;}
    header .search form button {margin-left: 0; width: 0; padding: 0;}
    header .search.active form {width: 300px; background: #F4F4F4; border-radius: 8px; transition: width 0.5s linear;}
    header .search.active form input {width: 200px;}
    header .search.active form button {width: 15px; margin-left: 14px;}
    .flogo img {max-width: 160px;}
    .fblk span, .fnav a, .ftel a, .ftel p, .ftel .call button {font-size: 13px;}
    .fcat a {font-size: 12px;}
    .ftel .call button {margin-bottom: 40px;}
    .fcat {max-width: 200px;}
    footer {padding-top: 40px;}
    .offer h1 {font-size: 42px; max-width: 70%;}
    .offer p {margin-bottom: 35px;}
    h1, h2, .title-h2 {letter-spacing: -2px;}
    .row {margin: 0 -12px;}
    .row > div {padding: 0 12px;}
    .catalog-block > div {margin-bottom: 24px;}
    section, .partners, .padblk {padding: 30px 0;}
    .padb {padding-bottom: 60px;}
    .smb {padding-bottom: 20px;}
    .benefits {margin-top: 30px;}
    .catalog {padding: 60px 0 6px;}
    .offer {padding-bottom: 36px;}
    .catblk span {font-size: 18px;}
    .catblk {padding: 24px 24px 0;}
    .catblk span:after {width: 36px; height: 36px; min-width: 36px;}
    .reviews .swiper-button-prev, .reviews .swiper-button-next {display: none;}
    .partners .slider-block, .catalog-slide .slider-block {width: 91%; margin: 0 auto;}
    .slider-block .swiper-button-prev, .slider-block .swiper-button-next {width: 32px; height: 32px;}
    .slider-block .swiper-button-prev:after, .slider-block .swiper-button-next:after {background-size: 8px;}
    .slider-block .swiper-button-prev {left: -40px;}
    .slider-block .swiper-button-next {right: -40px;}
    .partner-blk {height: 84px;}
    .partner-blk img {max-width: 65%;}
    .call-us-block p {font-size: 22px;}
    .call-us h2, h2, .title-h2 {font-size: 34px;}
    .benefit-info ul li {font-size: 16px;}
    .benefit-info ul {gap: 48px; grid-template-areas:"benefit1 benefit2 benefit6" "benefit3 benefit4 benefit5";}
    .play-blk {display: flex; align-items: center; margin-left: 0;}
    .play-blk span {margin-left: 20px; max-width: 120px; text-align: left;}
    .benefits .play {margin: 0; width: 48px; height: 48px; background-size: 9px;}
    .benefit1 {max-width: 140px;}
    .benefit2, .benefit4 {max-width: 200px;}
    .benefit5 {max-width: 150px;}
    .play-blk span {max-width: 135px;}
    .benefit2:before, .benefit4:before {left: -24%;}
    .benefit2:after, .benefit4:after {right: -40%;}
    .why-us-info p {max-width: 60%;}
    .why-us-info img.why-picture {display: none;}
    div.why-us-info {border: none;}
    .why-us-block > div {padding-left: 0;}
    .why-us-info p {margin: 32px 0;}
    .modal-body {padding: 30px 60px;}
    .order-block p {max-width: 90%;}
    .modal-body p.title {font-size: 36px;}
    .order-block .input-group, .order-block .adds {width: 100%;}
    .order-block .adds {margin-bottom: 10px;}
    .order-block .input-group:nth-child(1) {order: 1;}
    .order-block .input-group:nth-child(2) {order: 5;}
    .order-block .input-group:nth-child(3) {order: 2;}
    .order-block .input-group:nth-child(4) {order: 6;}
    .order-block .input-group:nth-child(5) {order: 3;}
    .order-block .input-group:nth-child(7) {order: 4; margin-bottom: 10px;}
    .order-block .adds {order: 7; margin-bottom: 0;}
    .propose-title {margin-bottom: 28px; max-width: 65%;}
    .propose-block {padding: 24px;}
    .title-h4 {font-size: 20px;}
    .propose-block:after {top: 24px; right: 24px;}
    .delivery-info p {font-size: 15px;}
    .question-block {padding: 40px;}
    .question-block p {max-width: 63%;}
    .order h2, .order .title-h2 {margin-bottom: 14px;}
    h3, .title-h3 {font-size: 28px;}
    .propose .title-h3 {max-width: 80%;}
    .modal-body.order {padding: 60px 12px;}
    .company-content-left {margin-bottom: 32px; display: flex; align-items: center;}
    .company-content-left span {width: 40%; margin-bottom: 0;}
    .company-content-left p {width: 60%;}
    .map-block iframe {height: 350px;}
    .contact-blk {flex-direction: column;}
    .contact-blk span, .icons:not(:last-child) {margin-bottom: 14px;}
    .contact-page {margin-bottom: 28px;}
    .contact-page p {max-width: 53%;}
    .connect-block {padding: 40px 40px 0 40px; border-radius: 16px;}
    .connect-info .btn {margin-bottom: 40px;}
    .catalog-product-image {padding: 22px; margin-bottom: 14px;}
    .catalog-product-description span {font-size: 16px;}
    .catalog-product-description p {font-size: 14px; margin-bottom: 14px;}
    .row-ul {margin-top: 28px;}
    .row-ul > div, .mb-40 {margin-bottom: 28px;}
    .title-h5 {font-size: 18px;}
    .cat-blk {padding: 14px;}
    .cat-blk-image {margin-right: 20px;}
    .cat-blk span, .table td {font-size: 14px;}
    .category h1 {max-width: 80%;}
    .category-delivery {margin-top: 32px;}
    .quest .question-block p {max-width: 50%;}
    .order img {display: none;}
    .order-block {border-radius: 16px;}
}

@media (min-width: 992px) and (max-width: 1199px) {
    .card-image {width: 260px; height: 260px; min-width: 260px; padding: 20px;}
    .card-info h1 {font-size: 20px; letter-spacing: -1px;}
    .product-prise {font-size: 16px;}
    .card-info a {margin-bottom: 20px;}
    .card-info .btn-arrow {padding: 10px 10px 10px 20px;}
    .card-info .btn-arrow:after {width: 30px; height: 30px;}
    .card-info p {font-size: 14px;}
}

@media (min-width: 992px) {
    .questionnaires .row div:nth-child(n+5) {padding-top: 40px;}
    .questionnaires .row div:nth-child(4n+1) {padding-left: 0;}
    .questionnaires .row div:nth-child(4n) {border-right: none; padding-right: 0;}
}

@media (max-width: 991px) {
    .catalog-product-image img {height: 160px;}
    body {padding-top: 101px; font-size: 14px;}
    h1 {font-size: 32px; margin-bottom: 28px;}
    h2, .why-us-description p, .title-h3, .title-h2, h3, .propose .title-h3 {margin-bottom: 28px; font-size: 26px; letter-spacing: -1px;}
    .call-us h2 {margin-bottom: 14px;}
    .title-flex {margin-bottom: 28px;}
    .container {max-width: 768px;}
    .header-block {padding: 20px 12px;}
    .footer-block {flex-wrap: wrap;}
    .flogo {width: 100%; max-width: 100%; margin-bottom: 28px;}
    .flogo img {max-width: 128px;}
    .fblk span {margin-bottom: 14px;}
    .footer-bottom {padding-top: 20px;}
    footer {padding-bottom: 20px;}
    .offer h1 {font-size: 32px; margin-bottom: 28px;}
    .offer p {margin-bottom: 32px; font-size: 14px; max-width: 75%;}
    .btn-arrow, .call-us p {font-size: 14px;}
    .btn-arrow:after {width: 24px; height: 24px;}
    #toTop {bottom: 13%;}    
    .review-info {margin-bottom: 14px;}
    .review-title {font-size: 16px; margin-bottom: 6px;}
    .review-city {font-size: 12px;}
    .sertificate-blk span {font-size: 16px; margin: 13px 0 8px;}
    .call-us-block {padding: 24px;}
    .call-us-block p {font-size: 15px; margin-bottom: 24px;}
    .call-us p {margin-bottom: 28px;}
    .benefit-info img {max-width: 280px; margin-bottom: 36px;}
    .benefit-info ul li {font-size: 14px; display: flex; align-items: center; line-height: 1.4;}
    .benefit1 {max-width: 125px;}
    .benefit2, .benefit4 {max-width: 175px; margin-left: -40px;}
    .benefit2:before, .benefit4:before {left: -14%;}
    .benefit2:after, .benefit4:after {right: -23%;}
    .benefit5 {width: 180px; max-width: 180px;}
    .benefits {border-radius: 15px;}
    .why-us-info img {max-width: 280px;}
    .why-us-info p, .why-us-description ul li, .why-us-video p, .why-us-video a.comp {font-size: 14px;}
    .why-us-description ul {margin: 0 -12px 8px;}
    .why-us-description ul li {margin-bottom: 24px; padding: 0 12px;}
    .why-us-video {padding-top: 32px;}
    .video-play:before {width: 48px; height: 48px; background-size: 8px;}
    .modal-body p, .modal-body form .form-control,.modal-body .input-group label, .order-block .input-group label, .adds span {font-size: 14px;}
    .modal-body p.title {font-size: 26px;}
    .modal-dialog {max-width: 536px;}
    .modal-body form button {font-size: 14px; padding: 18px;}
    .order-block .input-group, .order-block .adds {width: 100%;}
    .modal-body form button {min-width: 202px;}
    .label {font-size: 12px;}
    .order-block {padding: 28px;}
    .requisites .table td, .order-left p {font-size: 14px;}
    .form-control {height: 51px;}
    .modal-body form button, .order-block form button {padding: 13px 25px; font-size: 14px; width: 100%; max-width: 202px;}
    .propose-block span {max-width: 80%;}
    h4, .title-h4 {font-size: 18px;}
    .propose-block:after {width: 36px; height: 36px; min-width: 36px;}
    .propose-block p {font-size: 13px;}
    .smb .sertificate-blk a, .delivery-info p {font-size: 14px;}
    .smb .sertificate-blk span {margin-bottom: 27px;}
    .breadcrumb {font-size: 11px;}
    .reviews-block .row > div, .sertificate-blk {margin-bottom: 24px;}
    .questionnaires-blk span {font-size: 16px;}
    .questionnaires-blk p, ul.pagination li a {font-size: 14px;}
    .smb {padding-bottom: 36px;}
    .delivery-info:before {width: 26px; height: 26px; background-size: 10px; min-width: 26px;}
    .circle li {font-size: 14px; padding-bottom: 14px; margin-bottom: 14px;}
    .delivery:after {left: 70%;}
    .titles {font-size: 12px;}
    .order-block p.title-h4 {font-size: 18px; font-weight: 600;}
    .question-block p {font-size: 20px;}
    .company-content-left span {font-size: 24px; width: 45%;}
    .company-content-left p {font-size: 14px; width: 50%; margin-left: auto;}
    .company-content-left {align-items: flex-start;}
    .company-garantee ul {flex-direction: column;}
    .lists li {font-size: 14px;}
    .company-garantee ul li:nth-child(-n+2), .company-garantee ul li:nth-child(odd), .company-garantee ul li:nth-child(even) {padding-left: 0; padding-right: 0;}
    .company-garantee ul li {width: 100%;}
    .company-garantee ul li:nth-child(-n+2) {margin-bottom: 14px;}
    .company-garantee ul li:not(:last-child){border-bottom: 1px solid #DFDFDF; padding-bottom: 14px; margin-bottom: 14px;}
    .company-garantee ul li span {display: inline;}
    .company-garantee ul li:nth-child(-n+2):after {content: none;}
    .company-garantee ul li:nth-child(odd) {border-right: none;}
    .company-propose .propose-block span:after, .company-propose .row > div:nth-child(2) .propose-block span:after {width: 36px; height: 36px; min-width: 36px; background-size: 12px;}
    .prise-blk {margin-top: 40px;}
    .contact-page p {max-width: 59%;}
    .contact-info span {font-size: 20px;}
    .contact-blk:nth-child(odd) {padding-right: 30px;}
    .contact-blk:nth-child(even) {padding-left: 30px;}
    .contact-blk:nth-child(3), .contact-blk:nth-child(4) {padding-top: 30px;}
    .contact-blk:nth-child(-n+2) {padding-bottom: 30px;}
    .icons:before {min-width: 16px; width: 16px; height: 16px;}
    .connect-block img {max-width: 256px;}
    .category-prod .row > div {margin-bottom: 24px;}
    .category-prod {padding-bottom: 36px;}
    .category-nav {display: none;}
    .category-left {position: relative;}
    .quest .question-block p {font-size: 18px;}
    .btn-catalog.active {border-radius: 8px 8px 0 0; background: var(--primary-red, #CC2F2F); border-color: #CC2F2F;}
    .btn-catalog.active:focus {border-color: #CC2F2F; background: var(--primary-red, #CC2F2F);}
    .category-nav.active {box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.14); display: block; width: 100%; max-width: 448px; position: absolute; left: 12px; top: 42px; background: #fff;}
    .card-image {width: 360px; height: 360px; min-width: 360px; padding: 37px; margin-right: 24px;}
    .category h1 {max-width: 100%; margin-bottom: 14px;}
    .product-prise {font-size: 18px;}
    .card-info a {margin-bottom: 28px;}
    .why-us {border-radius: 16px;}
    .breadcrumb-item+.breadcrumb-item::before {width: 10px; height: 10px;}
}

@media (min-width: 768px) and (max-width: 991px){
    .questionnaires .row div {padding: 0 21px 28px;}
    .questionnaires .row div:nth-child(n+4) {padding-top: 28px;}
    .questionnaires .row div:nth-child(3n+1) {padding-left: 0;}
    .questionnaires .row div:nth-child(3n) {border-right: none; padding-right: 0;}
    .delivery-block {min-width: 505px;}
    .company-video img {height: 360px; object-fit: cover;}
    .delivery-block .title-h3 {font-size: 20px;}
}

@media (min-width: 768px) {
    .btn-ctlg {display: none;}
}

@media (max-width: 767px) {
    body {padding-top: 70px;}
    .marg {margin: 0 4px; padding: 40px 30px;}
    .benefits {margin-top: 30px;}
    .container {padding: 0 20px;}
    .header-block {padding: 10px;}
    .logo img {max-width: 120px;}
    .contact-block {font-size: 12px;}
    header.fixed nav {margin-left: 10px; width: 43px; height: 43px;}
    header.fixed nav.active .navs {max-width: 295px;}
    header.fixed nav.active .navs li {padding: 10px 0;}
    header.fixed nav.active .navs li a {font-size: 14px;}
    header.fixed nav.active .dropdown .dropdown-menu li {padding: 7px 0;}
    header.fixed nav.active .dropdown .dropdown-menu a {font-size: 13px;}
    header.fixed .mobile-nav.active {background-size: 20px; position: absolute; top: -10px; right: -10px;}
    header.fixed nav.active .navs {padding: 30px 20px 26px;}
    header.fixed nav.active .search form input, header.fixed nav.active .search form button {font-size: 12px; padding: 8px; border-radius: 4px;}
    header.fixed nav.active .search {margin-bottom: 48px;}
    header.fixed nav.active .nav-blk {margin-bottom: 26px;}
    .fblk {max-width: 30%;}
    .fcat {max-width: 35%;}
    .flogo {max-width: 100%;}
    .fblk span, .fnav a, .ftel a, .ftel p, .ftel .call button {font-size: 12px;}
    .offer h1 {font-size: 28px; margin-bottom: 20px; max-width: 81%; letter-spacing: -1px;}
    h1, h2, .title-h2, .title-h3 {letter-spacing: -1px;}
    h1 {font-size: 32px; margin-bottom: 28px;}
    .offer p {margin-bottom: 50px; max-width: 91%;}
    .btn-arrow {font-size: 12px; padding: 10px 10px 10px 20px;}
    .btn-arrow:after {width: 20px; height: 20px;}
    .catblk {padding: 20px 20px 0; border-radius: 12px;}
    .catblk span {font-size: 15px;}
    .reviews .swiper-slide, .sertificate-blk {max-width: 232px;}
    .partners .slider-block {width: 100%;}
    .partners .slider-block .swiper-button-prev, .partners .slider-block .swiper-button-next {display: none;}
    .partners .swiper-slide {max-width: 200px;}
    .partner-blk {padding: 0;}
    .call-us-block {padding: 20px; margin-bottom: 26px;}
    .call-us p {margin-bottom: 24px; max-width: 80%; letter-spacing: -0.5px;}
    .footer-bottom p, .footer-bottom a {font-size: 11px;}
    .call-us a {font-size: 14px;}
    .benefit-info ul {display: grid; grid-template-columns: 1fr 1.4fr; grid-template-rows: 1fr 1fr 1fr; gap: 40px 48px;grid-template-areas:"benefit1 benefit2" "benefit3 benefit4" "benefit5 benefit6";}  
    .benefit-info ul li:after {content: none;}
    .benefit6:before {content: ""; background: rgba(255, 255, 255, 0.50); width: 1px; height: 100%; position: absolute; top: 0; left: -14%;}
    .benefit6, .benefit2, .benefit4 {width: 100%; max-width: 170px;}
    .benefits .play {width: 32px; height: 32px; min-width: 32px; background-size: 7px;}
    .play-blk span {margin-left: 16px; max-width: 120px;}
    .benefit6:before, .benefit2:before, .benefit4:before {left: -30px;}
    .benefit-info img {max-width: 220px; margin-bottom: 24px;}
    .benefit-info ul:after {top: 30%;}
    .benefit-info ul:before {content: ""; border-top: 1px solid rgba(255, 255, 255, 0.50); position: absolute; width: 100%; top: 70%; left: 0;}
    .why-us-info img {max-width: 220px; border-radius: 8px;}
    .why-us-info p {max-width: 80%;}
    .why-us-description ul li {font-size: 13px;}
    .why-us-video {border-top: none; padding-top: 0;}
    .why-us-video-block {display: none;}
    .why-us-video a.comp {margin-top: 0;}
    .benefit2, .benefit4 {margin-left: 0;}
    .all-reviews {margin-top: 26px; display: block;}
    .order img {display: none;}
    .order-block {margin-top: 26px;}
    .modal-body form .adds button, .order form .adds button {min-width: 0;}
    .order {padding: 50px 20px;}
    .order-block p {max-width: 70%;}
    .order-left, .order-right {width: 100%;}
    .order-left p strong {color: var(--Red, #CC2F2F);}
    .propose-title {max-width: 85%;}
    .propose .row > div:not(:last-child), .information-block .row > div:not(:last-child) {margin-bottom: 14px;}
    .order .container {padding: 0;}
    .smb .sertificate-blk {max-width: 100%; margin-bottom: 20px;}
    .smb {padding-bottom: 40px;}
    .smb .sertificate-blk span {margin-bottom: 10px;}
    .smb .sertificate-blk span {font-size: 14px;}
    .questionnaires .row div {padding: 0 20px 20px;}
    .questionnaires .row div:nth-child(n+3) {padding-top: 20px;}
    .questionnaires .row div:nth-child(odd) {padding-left: 0;}
    .questionnaires .row div:nth-child(even) {border-right: none; padding-right: 0;}
    .delivery:after {content: none;}
    .delivery-info {margin-bottom: 24px;}
    .question-block {padding: 30px 16px; flex-direction: column; align-items: flex-start;}
    .question-block p {margin-bottom: 26px; max-width: 90%; font-size: 16px;}
    .company-video .video-play:before {width: 60px; height: 60px; background-size: 12px;}
    .tegs a {padding: 10px 14px; font-size: 12px;}
    .tegs {margin: 0 -4px;}
    .tegs li {margin: 0 4px 8px;}
    .company-propose .row div:not(:last-child) {margin-bottom: 14px;}
    .company-garantee ul {margin-top: 20px;}
    .company-video img {height: 240px;}
    .info-text {margin-bottom: 20px;}
    .contact-blk {font-size: 13px;}
    .contact-page p {max-width: 80%;}
    .questions .container {padding: 0 4px;}
    .connect-block img {display: none;}
    .connect-info {max-width: 100%;}
    .catalog-slide .slider-block {width: 100%;}
    .catalog-slide .swiper-slide {max-width: 155px;}
    .catalog-slide .slider-block .swiper-button-prev, .catalog-slide .slider-block .swiper-button-next {display: none;}
    .catalog-product-description span {font-size: 13px;}
    .catalog-product-description p {font-size: 10px;}
    .connect .container {padding: 0 4px;}
    .connect-block {padding: 30px 16px; border-radius: 12px;}
    .connect-info .btn {margin-bottom: 0;}
    .connect-info p {margin-bottom: 26px;}
    .category-block .row > div:nth-last-child(-n+2):not(:last-child) {margin-bottom: 20px;}
    .row-ul > div:not(:nth-child(3n)) {border-right: none;}
    .category-content .table td:first-child {min-width: 0;}
    .table th:not(:last-child), .table td:not(:last-child) {padding-right: 10px;}
    .category-table .table th:last-child, .category-content .table td:last-child {width: 80px;}
    .category-table .table td:last-child {width: 30%;}
    .category-content .tables td:last-child {width: 15%;}
    .category-prod .row > div {margin-bottom: 20px;}
    .category-prod {padding-bottom: 30px;}
    .category-delivery {margin-top: 30px;}
    .quest .question-block p {max-width: 90%;}
    .card-block {margin-bottom: 50px; flex-direction: column;}
    .card-image, .product-prise {margin-bottom: 20px;}
    .btn-ctlg {margin: 2px auto 44px;}
    .why-us {border-radius: 12px;}
    .map-block .container {padding: 0;}
    .map-block iframe {height: 360px;}
    .order-block {border-radius: 12px;}
    .breadcrumb-item+.breadcrumb-item::before {width: 8px; height: 8px; margin: 0 8px;}
    .delivery-block .title-h3 {font-size: 16px;}

    .category-content table  {
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        overflow-x: auto;
        /* white-space: nowrap; */
    }
}

@media (max-width: 575px) {
    h1 {font-size: 24px; margin-bottom: 22px;}
    .breadcrumb {font-size: 10px;}
    body {padding-top: 62px;}
    .row {margin: 0 -6px;}
    .row > div {padding: 0 6px;}
    h2, .title-h2, .title-h3, .why-us-description p, .propose .title-h3 {font-size: 22px; margin-bottom: 20px;}
    .call-us h2 {margin-bottom: 14px;}
    section, .partners, .padblk {padding: 25px 0;}
    .padb {padding-bottom: 50px;}
    .smb {padding-bottom: 30px;}
    .benefits {margin-top: 25px;}
    .padd {padding: 50px 0;}
    .marg {padding: 40px 16px;}
    .catalog {padding-top: 50px;}
    header.fixed .search {display: none;}
    header.fixed nav {width: 36px; height: 36px;}
    header.fixed nav.active .search {display: block;}
    header.fixed .mobile-nav {width: 36px; height: 36px; background-size: 16px;}
    header .tel-block li:not(:first-child) a, header .whatsapp-block a:not(.whatsapp) {display: none;}
    header .contact-block ul li a {font-size: 0; width: 36px; height: 36px; border-radius: 36px; background: var(--Grey, #F4F4F4); justify-content: center; display: flex;}
    header .contact-block ul li a:before {margin: 0;}
    header.fixed .contact-block {margin: 0 0 0 10px;}
    header .contact-block ul li:not(:last-child) {margin: 0;}
    header .whatsapp-block {order: 2;}
    header .tel-block {order: 3;}
    header .tel-block ul li a:before {background: url(../img/tel.svg) no-repeat; width: 12px; height: 12px;}
    header .contact-block ul li header .whatsapp:before {background: url(../img/whatsapp.svg) no-repeat; width: 14px; height: 14px;}
    header.fixed nav.active .navs .contact-block.tel-block {margin-bottom: 20px;}
    header.fixed nav.active .contact-block ul li:not(:last-child) {margin-bottom: 4px;}
    header.fixed nav.active .tel-block li:not(:first-child) a, header.fixed nav.active .whatsapp-block a:not(.whatsapp) {display: flex;}
    header.fixed nav.active .contact-block ul li a {font-size: 12px; width: 100%; height: auto; background: no-repeat; justify-content: flex-start;}
    header.fixed nav.active .tel-block ul li a:before {background: url(../img/icon-phone.svg) left center no-repeat; width: 9px; height: 9px;}
    header.fixed nav.active .contact-block ul li a:before {margin-right: 8px;}
    header.fixed nav.active .contact-block ul li .whatsapp:before {background: url(../img/icon-whatsapp.svg) left center no-repeat;}
    .fblk {max-width: 100%; width: 100%;}
    footer {padding-bottom: 26px;}
    .footer-bottom {flex-direction: column; align-items: flex-start; padding-top: 26px;}
    .footer-bottom p, .footer-bottom a:not(:last-child) {margin-bottom: 10px;}
    .fblk:not(:last-child) {margin-bottom: 24px;}
    .ftel span {display: none;}
    .ftel {position: relative;}
    .fblk .call {position: absolute; top: 0; left: 52%;}
    .fblk .tel-block {margin-bottom: 24px;}
    .ftel .call button {margin: 0;}
    .fnav ul {column-count: 2;}
    .offer {margin: 0 4px;}
    .offer h1 {font-size: 24px; max-width: 270px;}
    .offer p {font-size: 13px; max-width: 250px;}
    .catblk {padding: 16px; display: flex; justify-content: space-between;}
    .catblk span {font-size: 14px; flex-direction: column; max-width: 160px; margin: 0;}
    .catblk img {height: 90px;}
    .catblk span:after {width: 24px; height: 24px; margin-left: 0; min-width: 24px; background-size: 7px;}
    .catalog {padding: 50px 0;}
    .catalog-block > div {margin-bottom: 8px;}
    .catalog-block > div:last-child {margin-bottom: 0;}
    .reviews .swiper-slide, .sertificate-blk {max-width: 155px;}
    .partners .swiper-slide {max-width: 130px;}
    .partner-blk {height: 52px; padding: 0 20px;}
    .partner-blk img {max-width: 100%; max-height: 32px;}
    .sertificate-blk span {font-size: 12px; margin: 9px 0 8px;}
    .call-us-block {padding: 16px;}
    .footer-bottom p, .footer-bottom a {font-size: 10px;}
    .call-us p, .why-us-info p {max-width: 100%; font-size: 13px;}
    .call-us a, .benefit-info ul li {font-size: 13px;}
    .benefit1, .benefit3, .benefit5 {width: 100%; max-width: 100%;}
    .benefit6:before, .benefit2:before, .benefit4:before {left: -25px;}
    .benefit6, .benefit2, .benefit4 {max-width: 160px;}
    .play-blk span {max-width: 110px;}
    .why-us-description ul {margin: 0;}
    .why-us-description ul li:before {padding: 4px 0px; margin-bottom: 10px;}
    .why-us-description ul li {width: 100%; padding: 0;}
    .why-us {margin-bottom: 25px;}
    .why-us-description p {max-width: 90%;}
    .modal-body p.title {font-size: 22px; margin-bottom: 14px;}
    .modal-body p, .modal-body form .form-control, .order-block .input-group label, .adds span {font-size: 12px;}
    .modal-body form button {font-size: 12px; padding: 14px;}
    .label {font-size: 10px;}
    .modal-body p, .modal-body form .form-control, .order-block .input-group label, .adds span {font-size: 13px;}
    .order-block {padding: 20px;}
    .order-block p {max-width: 70%; margin-bottom: 20px;}
    #sent-modal .modal-body {padding: 50px;}
    #sent-modal .modal-body p {text-align: center; max-width: 100%;}
    .modal-header img {max-width: 140px;}
    .modal-body {padding: 20px 26px 26px;}
    .order, .modal-body.order {padding: 50px 20px;}
    .modal-body form .adds button, .order form .adds button {max-width: 130px; font-size: 13px;}
    .requisites .table tr:not(:last-child) {border-bottom: 1px solid #DFDFDF; padding-bottom: 14px; margin-bottom: 14px;}
    .requisites .table tr, .requisites .table td {display: block; width: 100%;}
    .requisites .table td:nth-child(odd) {width: 100%; margin-bottom: 6px;}
    .requisites .table td {padding: 0; border: none !important;}
    .form-control, .modal-body .input-group label, .order-block .input-group label {font-size: 13px;}
    .order-block form button.btn-sent {width: 100%; max-width: 100%;}
    h4, .title-h4 {font-size: 16px; margin-bottom: 14px;}
    .propose-block p {font-size: 13px;}
    .propose-block:after, .propose .row > div:nth-child(2) .propose-block:after,
    .information-block .row > div:nth-child(1) .propose-block:after,
    .information-block .row > div:nth-child(2) .propose-block:after {width: 30px; min-width: 30px; height: 30px; background-size: 12px;}
    .smb .sertificate-blk span {font-size: 12px;}
    .reviews-block .row > div {margin-bottom: 20px;}
    .questionnaires-blk span:before {width: 24px; height: 24px; min-width: 24px; margin-right: 10px;}
    .questionnaires-blk span {font-size: 14px;}
    .questionnaires-blk p {font-size: 12px; margin: 10px 0;}
    .questionnaires-blk a {font-size: 12px;}
    ul.pagination li {margin: 0 3px;}
    ul.pagination li a {font-size: 13px; width: 31px; height: 31px;}
    .delivery-info {padding: 14px;}
    .delivery-info p, .circle li {font-size: 13px;}
    .circle li:last-child {padding-bottom: 0; border-bottom: none;}
    .titles {font-size: 10px; padding: 9px 14px;}
    .order-block p.title-h4 {font-size: 16px;}
    #sent-modal .title-h3 {font-size: 20px;}
    .company-video img {height: 200px;}
    .company-video .video-play:before {width: 44px; height: 44px; background-size: 10px;}
    .company-content-left {flex-direction: column; margin-bottom: 20px;}
    .company-content-left span, .company-content-left p {width: 100%; margin-left: 0;}
    .company-content-left span {font-size: 16px; margin-bottom: 14px;}
    .company-content-left p {font-size: 13px; max-width: 100%;}
    .company-propose .propose-block span:after, .company-propose .row > div:nth-child(2) .propose-block span:after {width: 30px; height: 30px; min-width: 30px; background-size: 10px;}
    .contact-page p {max-width: 100%;}
    .contact-page {margin-bottom: 24px;}
    .contact-info span {font-size: 16px;}
    .icons:before {min-width: 14px; width: 14px; height: 14px;}
    .contact-blk {width: 100%;}
    .contact-blk:not(:last-child){border-bottom: 1px solid #DFDFDF;}
    .contact-blk:nth-child(-n+2), .contact-blk:nth-child(3) {padding: 0 0 20px; margin-bottom: 20px; border-right: none;}
    .contact-blk:last-child {padding: 0;}
    .cat-blk {padding: 16px;}
    .cat-blk span {font-size: 13px;}
    .cat-blk-image {width: 44px; height: 50px; min-width: 44px;}
    .category-block .row > div, .category-block .row > div:nth-last-child(-n+2):not(:last-child) {margin-bottom: 8px;}
    .title-h5 {font-size: 16px; margin-bottom: 10px;}
    .row-ul > div, .mb-40 {margin-bottom: 20px;}
    .btn-catalog {font-size: 13px; padding: 8px 16px;}
    .category-nav.active {top: 35px; left: 6px; width: calc(100% - 12px);}
    .category-nav li a {font-size: 12px;}
    .category-nav li .cat-title, .category-nav .flex {padding: 14px 14px 14px 16px;}
    .category-nav li ul ul li {padding: 14px 24px;}
    .category-content .table td:last-child {word-break: break-all;}
    .card-image {width: 220px; height: 220px; min-width: 220px; padding: 20px;}
    .btn-ctlg {margin: 26px auto 0;}
}

@media (max-width: 374px) {
    .call-us a, .benefit-info ul li, .adds span {font-size: 11px;}
    .benefits .play {width: 26px; height: 26px; min-width: 26px; background-size: 6px;}
    .play-blk span {margin-left: 10px;}
    .label {font-size: 9px;}
    .modal-body form .adds button, .order form .adds button {padding: 10px; max-width: 120px;}
    .order-block p {max-width: 85%;}
    h4, .title-h4 {font-size: 14px;}
    .propose-block p {font-size: 12px;}
    .propose-block {padding: 20px;}
    .propose-block:after {top: 20px; right: 20px;}
    .propose .title-h3 {font-size: 19px;}
    .smb .sertificate-blk span {font-size: 11px;}
    .smb .sertificate-blk a {font-size: 12px;}
}