.popular_container {
    padding:70px 0px;
    border-top: 1px solid #e5e5e5;
    border-top: 1px solid var(--stroke_black);
}
@media (max-width:768px) {
    .catalog_banner__wrapper {
        display:none;
    }
}
