.icon-block__icon {
  margin-right: 11px;
  margin-top: -2px;
  display: none;
}
.icon-block__icon--right {
  margin: 0px 0px 0px 36px;
  display: none;
}
.icon-block__only-icon {
  display: none;
}

.icon-block__wrapper {
  display: flex;
  align-items: center;
}

.icon-block--with_icon .icon-block__icon {
  display: block;
}
.icon-block--only_icon .icon-block__icon {
  display: none;
}
.icon-block--only_icon .icon-block__only-icon {
  display: flex;
  margin: 0;
}
.icon-block--only_icon .icon-block__name,
.icon-block--only_icon .more-arrow {
  display: none;
}

.icon-block-with-counter {
  display: block;
}
.icon-block-with-counter__inner {
  align-items: flex-end;
  display: flex;
  height: 20px;
  margin: 0px;
  position: relative;
}

@media (max-width: 1100px) {
  .icon-block--only_icon-1100 .icon-block__icon {
    display: none;
  }
  .icon-block--only_icon-1100 .icon-block__only-icon {
    display: flex;
    margin: 0;
  }
  .icon-block--only_icon-1100 .icon-block__name,
  .icon-block--only_icon-1100 .more-arrow {
    display: none;
  }
}
@media (max-width: 1200px) {
  .icon-block--only_icon-1200 .icon-block__icon {
    display: none;
  }
  .icon-block--only_icon-1200 .icon-block__only-icon {
    display: flex;
    margin: 0;
  }
  .icon-block--only_icon-1200 .icon-block__name,
  .icon-block--only_icon-1200 .more-arrow {
    display: none;
  }
}
@media (max-width: 1300px) {
  .icon-block--only_icon-1300 .icon-block__icon {
    display: none;
  }
  .icon-block--only_icon-1300 .icon-block__only-icon {
    display: flex;
    margin: 0;
  }
  .icon-block--only_icon-1300 .icon-block__name,
  .icon-block--only_icon-1300 .more-arrow {
    display: none;
  }
}
@media (max-width: 1400px) {
  .icon-block--only_icon-1400 .icon-block__icon {
    display: none;
  }
  .icon-block--only_icon-1400 .icon-block__only-icon {
    display: flex;
    margin: 0;
  }
  .icon-block--only_icon-1400 .icon-block__name,
  .icon-block--only_icon-1400 .more-arrow {
    display: none;
  }
}
@media (max-width: 1500px) {
  .icon-block--only_icon-1500 .icon-block__icon {
    display: none;
  }
  .icon-block--only_icon-1500 .icon-block__only-icon {
    display: flex;
    margin: 0;
  }
  .icon-block--only_icon-1500 .icon-block__name,
  .icon-block--only_icon-1500 .more-arrow {
    display: none;
  }
}
@media (max-width: 1600px) {
  .icon-block--only_icon-1600 .icon-block__icon {
    display: none;
  }
  .icon-block--only_icon-1600 .icon-block__only-icon {
    display: flex;
    margin: 0;
  }
  .icon-block--only_icon-1600 .icon-block__name,
  .icon-block--only_icon-1600 .more-arrow {
    display: none;
  }
}

@media (max-width: 1100px) {
  .icon-block--no_icon-1100 .icon-block__icon {
    display: none;
  }
}
@media (max-width: 1500px) {
  .icon-block--no_icon-1500 .icon-block__icon {
    display: none;
  }
}

.icon-block__icon--top {
  align-self: flex-start;
}

.icon-block--only_icon .sites__dropdown {
  left: -15px;
  padding-top: 8px;
}
@media (max-width: 1100px) {
  .icon-block--only_icon-1100 .sites__dropdown {
    left: -15px;
    padding-top: 8px;
  }
}
@media (max-width: 1200px) {
  .icon-block--only_icon-1200 .sites__dropdown {
    left: -15px;
    padding-top: 8px;
  }
}
@media (max-width: 1300px) {
  .icon-block--only_icon-1300 .sites__dropdown {
    left: -15px;
    padding-top: 8px;
  }
}
@media (max-width: 1400px) {
  .icon-block--only_icon-1400 .sites__dropdown {
    left: -15px;
    padding-top: 8px;
  }
}
@media (max-width: 1500px) {
  .icon-block--only_icon-1500 .sites__dropdown {
    left: -15px;
    padding-top: 8px;
  }
}

.icon-block--only_icon .phones__dropdown {
  padding-top: 8px;
  top: 100%;
}
@media (max-width: 1100px) {
  .icon-block--only_icon-1100 .phones__dropdown {
    padding-top: 8px;
    top: 100%;
  }
  .icon-block--only_icon-1100 .phones__dropdown .dropdown {
    left: -23px;
  }
}
@media (max-width: 1200px) {
  .icon-block--only_icon-1200 .phones__dropdown {
    padding-top: 8px;
    top: 100%;
  }
  .icon-block--only_icon-1200 .phones__dropdown .dropdown {
    left: -23px;
  }
}
@media (max-width: 1300px) {
  .icon-block--only_icon-1300 .phones__dropdown {
    padding-top: 8px;
    top: 100%;
  }
  .icon-block--only_icon-1300 .phones__dropdown .dropdown {
    left: -23px;
  }
}
@media (max-width: 1400px) {
  .icon-block--only_icon-1400 .phones__dropdown {
    padding-top: 8px;
    top: 100%;
  }
  .icon-block--only_icon-1400 .phones__dropdown .dropdown {
    left: -23px;
  }
}
