body.jqm-initied #panel,
body.jqm-initied .basket_bottom_block > div,
body.jqm-initied .basket_fly_forms > div,
body.jqm-initied .basket_wrapp .opener,
body.jqm-initied .scroll-to-top,
body.jqm-initied .style-switcher,
body.jqm-initied .ui-panel-top-devices-inner,
body.jqm-initied .page-top,
body.jqm-initied .body > div > div,
body.jqm-initied .body > div > header > div > div,
body.jqm-initied footer,
body.jqm-initied .fixed_wrapper,
body.jqm-initied.wf .wrapper1 > div {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.filter-none,
.filter-none > div,
.filter-none > header > div {
  -webkit-filter: none !important;
  filter: none !important;
}
#popup_iframe_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.popup.loading-state:not(.widget_frame) {
  background-color: #fff;
  background-color: var(--black_bg_black);
}
.jqmWindow {
  display: none;
  position: fixed;
  min-width: 250px;
  max-width: 580px;
  background: white;
  background: var(--black_bg_black);
  animation: toggle_opacity 200ms;
  max-height: 100%;
  width: 100%;
  border-radius: 4px;
}
.review_frame.popup {
  max-width: 700px;
}
.ocb_frame.popup:not(.success) {
  max-width: 957px;
}
.auth_frame.popup {
  max-width: 520px;
}
.jqmOverlay {
  background: #3a3f44;
  opacity: 0.7 !important;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 998;
}
.jqmOverlay.mobp {
  z-index: 994;
}
.jqmOverlay.waiting {
  z-index: 997;
}
.jqmClose.top-close {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 0px;
  right: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}
.top-close.top-close--small {
  width: 44px;
  height: 40px;
}
.top-close--small svg {
  width: 10px;
  height: 10px;
}
.mobile .jqmWindow.popup {
  overflow: hidden;
  overflow-y: auto;
}
.jqmWindow .mCSB_container {
  /* margin-bottom: 0; */
}

/*goods popup*/
.goods-popup {
  width: 393px;
  border-right: 1px solid #e5e5e5;
  border-right: 1px solid var(--stroke_black);
  padding: 48px 49px;
}
.goods-popup__image {
  margin-bottom: 26px;
}
.goods-popup__info-link {
  display: block;
  margin-bottom: 6px;
}
.goods-popup__info-more {
  margin-bottom: 14px;
}

/* sale fast view */
.fast_view_sale_frame {
  max-width: 700px;
}

/* fast view */
.fast_view_frame.popup {
  max-width: 964px;
  width: 88%;
  z-index: 2998;
  max-height: 750px;
}
#fast_view_item {
  height: 100%;
}

.navigation-wrapper-fast-view .fast-view-nav.next, 
.navigation-wrapper-fast-view .fast-view-nav.prev {
  border-radius: var(--theme-border-radius);
}
@media (min-width: 768px) {
  .fast_view_frame.popup > .mCustomScrollBox > .mCSB_container {
    height: 100%;
  }
  .fast_view_frame.popup > .mCustomScrollBox > .mCSB_scrollTools {
    display: none !important;
  }
}
@media (max-height: 750px) {
  .fast_view_frame.popup {
    height: 100vh;
  }
}

/* fast view navigation*/
.navigation-wrapper-fast-view {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
}
.navigation-wrapper-fast-view .fast-view-nav {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  z-index: 2998;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-wrapper-fast-view .fast-view-nav:hover * {
  fill: #fff;
}
.navigation-wrapper-fast-view .fast-view-nav.prev .svg {
  transform: rotate(-90deg);
}
.navigation-wrapper-fast-view .fast-view-nav.next .svg {
  transform: rotate(90deg);
}

/*ie*/
.bx-ie .jqmWindow {
  transform: translate(-50%, -50%);
}

/*slide-panel*/
.jqmWindow.right_slide{
  opacity:1!important;
  top:0;
  bottom:0;
  left:auto;
  transition: right ease-in-out .2s;
  -moz-transition: right ease-in-out .2s;
  -ms-transition: right ease-in-out .2s;
  -o-transition: right ease-in-out .2s;
  -webkit-transition: right ease-in-out .2s;
  box-shadow:0 0 20px 0 rgba(0,0,0,.1);
  border-radius: 0;
}
body .ajax_basket .right-sidebar-wrapper{
  transition: left ease-in-out .2s;
  -moz-transition: left ease-in-out .2s;
  -ms-transition: left ease-in-out .2s;
  -o-transition: left ease-in-out .2s;
  -webkit-transition: left ease-in-out .2s;
}
/**/

@media (max-width: 991px) {
  .goods-popup {
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .jqmWindow {
    width: calc(100% - 48px);
  }
  .goods-popup {
    display: none;
  }
  .navigation-wrapper-fast-view {
    display: none;
  }
}
@media (max-width: 600px) {
  .form.popup .form-header,
  .form.popup .form-body,
  .form.popup .form-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 450px) {
  .jqmWindow {
    transition: 0.15s linear;
  }
}
@media (max-width: 430px) {
  .jqmWindow {
    max-width: inherit;
    width: 100% !important;
    left: 0 !important;
    transform: none !important;
    min-height: 100%;
    top: 0 !important;
    bottom: 0 !important;
    overflow-y: auto;
    border-radius: 0;
  }
}
