.basket.fly .opener.has_right_dok {
  border-bottom-left-radius: 0px;
}
.right-sidebar-wrapper {
  position: absolute;
  left: -63px;
  width: 63px;
  background-color: #fff;
  background-color: var(--card_bg_black);
  box-shadow: -7px 5px 11px rgba(0, 0, 0, 0.1);
  border-radius: 4px 0px 0px 4px;
  top: 185px;
  overflow: hidden;
  /* border-right: 1px solid #e5e5e5; */
}
.right_dok .link {
  display: block;
  position: relative;
}

.basket.fly .right-sidebar-wrapper {
  left: -63px;
  right: auto;
}

.right_dok .link:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  background: var(--stroke_black);
}
.right_dok .link:after,
.basket.fly .right-sidebar-wrapper.opened .opener:after{
  content: "";
  width: 1px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #e5e5e5;
  background: var(--stroke_black);
  position: absolute;
  z-index: 1;
}
.opener + .right_dok .link:first-child:before {
  display: block;
}
.right_dok .link:first-child:before {
  display: none;
}

.right_dok .link > span {
  display: block;
  height: 100%;
  text-align: center;
  line-height: 64px;
}

.fly_compare.icon-block-with-counter {
  line-height: 64px;
  width: 63px;
  height: 64px;
  text-align: center;
}
.fly_compare .icon-block-with-counter__inner {
  display: inline-block;
  line-height: normal;
}
.ajax_basket .fixed_wrapper {
  position: fixed;
  top: 0px;
  z-index: 996;
}

@media (min-height: 601px) {
  .right-sidebar-wrapper {
    top: 260px;
  }
}
