body .banners-content{margin-bottom:0;}



.catalog.detail .galery{padding: 0 0 0 0!important;}

/* .detail .galery .item img{ width: 100%!important; } */

.detail .content.wttabs{padding-top: 0!important;}

.catalog.detail .head>.maxwidth-theme>.row>.item:first-of-type:after{right: 0px!important;}






.wttabs .row{display: flex;flex-direction: row;flex-wrap: wrap;}

.wttabs .row .char{order: 1}

.wttabs .row .vacancys{order: 2}

.wttabs .row .reviews{order: 3}







a.scroll-to-top.ROUND_COLOR, a.scroll-to-top.RECT_COLOR {    background-color: #2f3338;}

body.round_button .btn.btn-lg {    border-radius: 5px!important;}

.btn.btn-primary {  background-color: #219754!important;    border-color: #219754!important;}

.tizers{margin-bottom: 40px;margin-top:40px;}

#tabs{  overflow: auto;  width: 100%;  list-style: none;  margin: 0;  padding: 0;}

#tabs li{  margin: 0;  padding: 0;  float: left;}

#tabs a{color: #333;padding: 0 5px;text-decoration: none;}

#tabs a:hover{color: #219754D4;}

#tabs a:focus{outline: 0;}

#tabs #current a{color: #219754D4;}

ul li:before {content: none!important;}

.link-block-more{display: none;}

.bottom_detail{display: none;}

.reviews{width: 100%!important;}



.bx_filter input[type="checkbox"]:checked+label.onoffswitch-label:before{background: #269958!important;}

.title_tizers{font-weight: bold;color: #000000;font-size: 20px;}


.shares-block{display: none!important;}

.wpadding{display: none;}
.catalog.detail .head>.maxwidth-theme>.row>.item:first-of-type:after {content: none!important;}

.catalog.detail .head {margin-top: 24px;border-bottom: 0px!important;}

.price_new{text-align: right;margin: 50px 0;}
.vacancys .border {    border: 0px!important;}

.detail .chars .char-wrapp {border: 0px!important;}
.order .btn{    font-size: 14px;font-weight: bold;}
.catalog.detail .wrapper-block-btn .btn {padding-top: 14px!important;}
.formcontact .input-filed label:not(.error) {top: -30px!important;
    color: white!important;}
    a.scroll-to-top{
        background-color: #269958!important;}
.sections.item-views .item .title{font-size: 1em!important;}
.sections.linked.item-views.vacancys .item .previewtext {margin-top: 2px!important;font-size: 0.82em!important;}
#tabs a {font-size: 0.82em!important;font-weight: 600!important;}

#zatemnenie {
       background: rgba(102, 102, 102, 0.5);
       width: 100%;
       height: 100%;
       position: fixed;
       top: 0;
       left: 0;
       display: none;
     }
     #okno {
       width: 300px;
       height: 50px;
       text-align: center;
       padding: 15px;

       border-radius: 10px;
       color: #0000cc;
      position: fixed;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       margin: auto;
       background: #fff;
     }
     #zatemnenie:target {display: block;}
     .close {
       display: inline-block;

       color: #0000cc;
       padding: 0 12px;
       margin: 10px;
       text-decoration: none;
       background: #f2f2f2;
       font-size: 14pt;
       cursor:pointer;
     }
     .close:hover {background: #e6e6ff;}
