.blog-items {
margin-bottom: 60px;
}
.blog-item {
display: flex;
margin-left: -16px;
margin-right: -16px;
}
@media screen and (max-width: 768px) {
.blog-item {
	flex-wrap: wrap;
	border: 1px solid #d3d3d37a;
	display: block;
	padding-top: 16px;
	margin-left: 0px;
  margin-right: 0px;
}
}
.blog-item .image {
width: calc(33% - 32px);
max-width: 320px;
margin-left: 16px;
margin-right: 16px;
margin-bottom: 20px;
min-width: 165px;
}
@media screen and (max-width: 768px) {
.blog-item .image {
width: calc(100% - 32px);
}
}
@media screen and (max-width: 768px) {
.blog-item .image img{
    width: 70%;
		display: block;
		margin: 0 auto;
}
.blog-item .content .title {
    font-size: 12px!important;
}
.blog-item .content .text {
    font-size: 10px!important;
}
}
.blog-item .content {
width: calc(66% - 32px);
margin-left: 16px;
margin-right: 16px;
margin-bottom: 20px;
min-width: 165px;
}
.blog-item .content .title {
font-size: 30px;
font-weight: 700;
color: #f5a732;
line-height: 1.3;
margin-bottom: 2px;
}
.blog-item .content .title a {
color: #f5a732;
transition: color 0.3s ease-in-out;
}
.blog-item .content .title a:focus,
.blog-item .content .title a:hover {
color: #219754;
}
.blog-item .content .date {
font-size: 14px;
color: #f5a732;
line-height: 1.3;
margin-top: 10px;
margin-bottom: 5px;
}
.blog-item .content .text {
margin-top: 15px;
font-size: 18px;
color: #828282;
line-height: 1.3;
}
@media screen and (max-width: 768px) {
.blog-item .content {
width: calc(100% - 32px);
}
}

.image img{
	display: block;
    height: auto;
    width: 100%;
}
