.catalog_banner__item {
    overflow: hidden;
}
.catalog_banner__item-link {
    display:block;
    width:100%;
    height:100%;
    position: relative;
    z-index:3;
}
.catalog_banner__item-text {
    position: absolute;
    bottom: 0;
    padding: 0 30px 25px;
    z-index: 2;
}
.catalog_banner__item__wrapper.sticker--upper{
    display: flex;
    flex-wrap: wrap;
}
.catalog_banner__item-description {
    margin-top: 11px;
}
