/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

.callback-wrapper {
  width: 100%;
  text-align: center;
  margin: 24px;
}
.callback-block-page {
  max-width: 600px;
  text-align: center;
  margin: auto;
  border:1px solid #e1e1e1;
  padding: 0px 40px;
}

.callback-block-page .title {
  font-size: 1.2em;
  padding: 12px;
}

.callback-block-page .icons a {
  display: inline-block;
  padding: 0px 6px;
}

.callback-block-page .social-table {
  margin: 32px 0px;
}

.callback-block-page .description {
  padding: 12px;
  font-size: 0.9em;
}

.callback-block-page .callback-item .city {
  text-align: center;
}

.callback-block-page .callback-item .icons {
  padding-top: 18px;
  text-align: center;
}
.callback-block-page .callback-item .icons img {
  width: 32px;
}

.form.FILIAL .form_body {
  display: flex;
  width: 100%;
}
.form.FILIAL .form-control {
  margin: 0px 8px;
}

.form.FILIAL .form-control .common_select .common_select-link {
  height: 36px;
}

.form.FILIAL .common_select .common_select-link .ik_select_link_text {
  line-height: 36px;
}

.form.FILIAL .common_select .trigger {
  height: 34px;
  line-height: 40px;
}

@media all and (max-width:768px){
  .callback-block-page {
    width: 96%;
    padding: 12px;
    margin-top: 12px;
    padding: 0px;
  }

  .callback-wrapper {
    margin: 0px;
  }

  .callback-block-page .city {
    font-size: 0.8em;
  }

  .callback-block-page .callback-item .icons img {
    width: 24px;
  }

  .form.FILIAL .form_body {
    flex-wrap: wrap;
  }
}
.online_consultant{margin-bottom: 20px;background: #ff782e29;padding: 20px;display: inline-flex;width: 100%;}
.online_consultant {font-size: 13px;}
.online_consultant .p-grey{color: #7d7d7d; margin-top: -15px;}
.online_consultant p{color: #000000;}
.online_consultant .fa-chevron-right{margin: 0;position: absolute;top: 50%;transform: translate(0, -50%);font-size: 20px;}
.online_consultant .fa-chevron{position: relative;}
.online_consultant .fa-video-camera{font-size: 18px;}
