/* item */
.tariffs-list__item {
  position: relative;
}
.owl-carousel .tariffs-list__wrapper {
  height: 100%;
}
.tariffs-list .owl-carousel .owl-stage {
  display: flex;
  flex-direction: row;
}
.tariffs-list .owl-carousel .owl-item {
  flex-shrink: 0;
}
.tariffs-list__item-text-top-part--has-stickers {
  margin-top: -47px;
}
.tariffs-list__item-text-bottom-part {
  margin: 35px 0 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.tariffs-list__item.flexbox--direction-row {
  padding: 37px 39px 39px 39px;
}
.bx-ie .tariffs-list .line-block--align-normal {
  align-items: flex-start;
}
@media (max-width: 949px) {
  .tariffs-list__item.flexbox--direction-row {
    flex-direction: column;
  }
  .bx-ie .tariffs-list__item.flexbox--direction-row .tariffs-list__item-text-top-part {
    flex-shrink: 0;
  }
}
@media (min-width: 950px) {
  .tariffs-list__item.flexbox--direction-row .tariffs-list__item-text-top-part {
    width: 100%;
  }
  .tariffs-list__item.flexbox--direction-row .tariffs-list__item-text-bottom-part {
    align-items: flex-end;
    flex-basis: 41%;
    min-width: 280px;
    max-width: 388px;
    flex-shrink: 0;
    margin: 0;
    padding: 0 0 0 39px;
  }
}
@media (max-width: 767px) {
  .tariffs-list .shadow-hovered:hover {
    box-shadow: none;
    border-color: #e5e5e5;
    border-color: var(--stroke_black);
  }
}
@media (min-width: 601px) {
  .tariffs-list__item.flexbox--direction-row .tariffs-list__item-text-bottom-part {
    height: inherit;
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .tariffs-list__item.flexbox--direction-row {
    padding: 29px;
  }
  .tariffs-list__item-text-top-part--has-stickers {
    margin-top: 0;
  }
}

/* text */
.tariffs-list__item-text-wrapper {
  padding: 34px 39px 39px 39px;
  position: relative;
}
.bx-ie .tariffs-list__item-text-wrapper {
  flex-basis: auto;
}
.tariffs-list__item.flexbox--direction-row .tariffs-list__item-text-wrapper {
  padding: 33px 0 0 0;
}
@media (min-width: 950px) {
  .tariffs-list__item.flexbox--direction-row .tariffs-list__item-text-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .tariffs-list__item.flexbox--direction-row .tariffs-list__item-image-wrapper + .tariffs-list__item-text-wrapper {
    padding: 0 0 0 39px;
  }
}
@media (max-width: 600px) {
  .tariffs-list__item.flexbox--direction-row .tariffs-list__item-text-wrapper {
    padding: 17px 0 0 0;
  }
  .tariffs-list__item-text-wrapper {
    padding: 29px;
  }
}

/* image */
.tariffs-list__item-image-wrapper {
  position: relative;
}
.tariffs-list__item-image-wrapper--with-title {
  position: relative;
}
.tariffs-list__item:not(.flexbox--direction-row) .tariffs-list__item-image-wrapper--with-title {
  border-radius: 4px 4px 0 0;
}
.tariffs-list__item-image-wrapper--bghover:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 39px;
  right: 39px;
  background-color: #e5e5e5;
  background-color: var(--stroke_black);
}
.tariffs-list__item-image-wrapper--bghover {
  padding: 38px 39px 32px 39px;
}
.tariffs-list__item-image-wrapper--noimage:not(.tariffs-list__item-image-wrapper--BIG_PICTURES)
  .line-block__item--image {
  display: none;
}
.tariffs-list__item-image-wrapper--BIG_PICTURES {
  padding-top: 67%;
  width: 100%;
}
.tariffs-list__item-image-wrapper--BIG_PICTURES .tariffs-list__item-link {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}
.tariffs-list__item.flexbox--direction-row .tariffs-list__item-image-wrapper--ROUND_PICTURES .image-list__link {
  width: 120px;
  height: 120px;
}
.tariffs-list__item-image-wrapper--ROUND_PICTURES .image-list__link {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.tariffs-list__item-image-wrapper--ICONS .image-list__link {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.tariffs-list__item-image-wrapper--ICONS a svg,
.tariffs-list__item-image-wrapper--ICONS > span svg {
  width: 100%;
  height: 100%;
}
.tariffs-list__item-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (min-width: 950px) {
  .tariffs-list__item.flexbox--direction-row .tariffs-list__item-image-wrapper--with-title {
    flex-basis: 31%;
    max-width: 432px;
    flex-shrink: 0;
  }
}
@media (max-width: 600px) {
  .tariffs-list__item.flexbox--direction-row .tariffs-list__item-image-wrapper--with-title .line-block {
    flex-direction: column-reverse;
  }
  .bx-ie .tariffs-list__item.flexbox--direction-row .tariffs-list__item-image-wrapper--with-title .line-block {
    align-items: stretch;
  }
  .tariffs-list__item.flexbox--direction-row .tariffs-list__item-image-wrapper--with-title .image-list__link {
    margin-bottom: 33px;
  }
}

/* item sections */
.tariffs-list__item-section {
  margin: 0 0 6px 0;
}

/* sticker */
.tariffs-list__item-text-wrapper .sticker-wrap {
  margin-bottom: 19px;
}
.tariffs-list__item-text-wrapper .sticker-wrap + div {
  margin-top: 0;
}
.tariffs-list__item-image-wrapper--with-title .sticker-wrap {
  margin-bottom: 14px;
  margin-top: 5px;
}
.tariffs-list__item .sticker {
  position: relative;
}
.tariffs-list__item-image-wrapper--bghover ~ .tariffs-list__item-text-wrapper .sticker-wrap {
  background-color: #fff;
  background-color: var(--card_bg_black);
  display: inline-block;
  vertical-align: top;
}
.tariffs-list__item .tariffs-list__item-image-wrapper--bghover ~ .tariffs-list__item-text-wrapper .sticker-wrap {
  background-color: var(--card_bg_hover_black);
}
.bx-ie .tariffs-list .line-block .sticker {
  display: block;
  overflow: hidden;
}
.bx-ie .tariffs-list .line-block .sticker > div {
  float: left;
}

/* title */
.tariffs-list__item-title {
  position: relative;
}
.tariffs-list__item.flexbox--direction-row .tariffs-list__item-image-wrapper--with-title .tariffs-list__item-title {
  font-size: 1.2em;
  line-height: calc(1em + 7px);
}

/* preview text */
.tariffs-list__item-text-top-part .tariffs-list__item-title + .tariffs-list__item-preview-wrapper {
  margin: 18px 0 0 0;
}

.tariffs-list__item .tariffs-list__item-preview {
  max-height: 66px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-line-clamp: 3;
}
.bx-ie .tariffs-list__item .tariffs-list__item-preview {
  max-height: 104px;
}
@media (max-width: 600px) {
  .tariffs-list__item-preview-wrapper {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
  }
}

/* properties */
.tariffs-list__item-properties {
  margin-top: 23px;
}
.tariffs-list__item-properties:first-child {
  margin-top: 0;
}
.tariffs-list__item-preview-wrapper + .tariffs-list__item-properties--top-border {
  margin: 26px 0 0 0;
  border-top: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  padding: 27px 0 0 0;
}
.tariffs-list__item-image-wrapper--bghover
  ~ .tariffs-list__item-text-wrapper
  .tariffs-list__item-preview-wrapper
  + .tariffs-list__item-properties {
  margin-top: 29px;
}
.tariffs-list__item-properties-item-wraper + .tariffs-list__item-properties-item-wraper {
  margin-top: 5px;
}
.tariffs-list__item-properties--middle .tariffs-list__item-properties-item-wraper {
  padding: 0 0 0 15px;
  position: relative;
}
.tariffs-list__item-properties--middle .tariffs-list__item-properties-item-wraper:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 9px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #9e9e9e;
  background: var(--theme-base-color);
}
.tariffs-list__item-properties .svg-inline-tariff-yes {
  margin: -3px 0 0 2px;
}
.tariffs-list__item-properties .svg-inline-tariff-no {
  margin: -1px 0 0 2px;
}
.tariffs-list__item-properties-item-more {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #9e9e9e;
  color: var(--fill_dark_light_hover);
  margin: 13px 0 0 0;
}
.tariffs-list__item-properties-item-more:hover,
.tariffs-list__item-properties-item-more:focus {
  color: #222;
  color: var(--white_text_black);
}
@media (min-width: 601px) {
  .tariffs-list__item-properties--table .tariffs-list__item-properties-item-dash {
    display: none;
  }
  .tariffs-list__item-properties--table .tariffs-list__item-properties-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  .tariffs-list__item-properties--table .tariffs-list__item-properties-item::before {
    border-bottom: 1px dotted #FFF;
    border-bottom: 1px dotted var(--basic_text_black);
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: calc(100% - 8px);
    width: 100%;
  }
  .tariffs-list__item-properties--table .tariffs-list__item-properties-item-name,
  .tariffs-list__item-properties--table .tariffs-list__item-properties-item-value {
    background-color: #fff;
    background-color: var(--card_bg_black);
    max-width: calc(50% - 16px);
    word-break: break-word;
    z-index: 1;
  }
  .tariffs-list__item:hover .tariffs-list__item-properties--table .tariffs-list__item-properties-item-name,
  .tariffs-list__item:hover .tariffs-list__item-properties--table .tariffs-list__item-properties-item-value {
    background-color: #fff;
    background-color: var(--card_bg_hover_black);
  }
  .tariffs-list__item-properties--table .tariffs-list__item-properties-item-name {
    padding-right: 8px;
    text-align: left;
  }
  .tariffs-list__item-properties--table .tariffs-list__item-properties-item-value {
    padding-left: 8px;
    text-align: right;
  }
}

/* tabs */
.tariffs-list__tabs {
  font-size: 0.86667em;
  line-height: calc(1em + 4px);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -2px;
}
.tariffs-list__tabs__item {
  border: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  margin: 2px;
  border-radius: 3px;
  cursor: pointer;
  padding: 4px 12px 5px 12px;
  position: relative;
  white-space: nowrap;
  text-align: center;
  flex: 1;
}
.tariffs-list__tabs__item:first-letter {
  text-transform: capitalize;
}
.tariffs-list__tabs__item.current {
  font-weight: 600;
  color: #fff;
  background-color: #9e9e9e;
  background-color: var(--theme-more-color);
  border-color: #9e9e9e;
  border-color: var(--theme-more-color);
  z-index: 1;
}
.tariffs-list__tabs__item:not(.current):hover {
  color: #fff;
  color: var(--fill_dark_light_white_hover);
  background-color: #9e9e9e;
  background-color: var(--opacity_dark_light_hover);
  border-color: #9e9e9e;
  border-color: var(--stroke_black);
}
.tariffs-list__tabs-content {
  margin: 21px 0 0 0;
  height: 100%;
}
.tariffs-list__tabs-content__item {
  height: 100%;
}
@media (min-width: 950px) {
  .tariffs-list__item.flexbox--direction-row .tariffs-list__item-price .price {
    text-align: right;
  }
}
@media (min-width: 601px) {
  .tariffs-list__item.flexbox--direction-row .tariffs-list__tabs-content {
    height: auto;
  }
}

/* btn */
.tariffs-list__item-text-bottom-part .tariffs-list__item_buttons {
  margin-top: 27px;
}
.tariffs-list__item-text-bottom-part > :first-child {
  margin-top: 0;
}

.tariffs-list__item:hover .btn-transparent-border {
  color: #fff;
}

@media (max-width: 600px) {
  .tariffs-list__item.flexbox--direction-row .tariffs-list__item-text-bottom-part .tariffs-list__item_buttons .btn {
    width: 100%;
  }
  .tariffs-list__item.flexbox--direction-row
    .tariffs-list__item-text-bottom-part
    .tariffs-list__item_buttons
    .btn
    .counter {
    width: auto;
  }
}
