@media (max-width:767px){
    .sections#compact-view-mobile-catalog-sections .items .item {
        padding: 15px 30px 18px 64px!important;
        position: relative;
        border-bottom: none;
    }
    .sections#compact-view-mobile-catalog-sections .items > div:last-of-type .item {
        border-bottom: 1px solid #f2f2f2;
    }
    .sections#compact-view-mobile-catalog-sections .items .item .image {
        display: flex;
        align-items: center;
        vertical-align: middle;
        width: 41px;
        margin: 0px 0px 0px 12px;
        line-height: normal;
        float: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: auto;
        background: transparent;
    }
    .sections#compact-view-mobile-catalog-sections .items .item.childs:after{content:' ';background-image:url(../../../../images/svg/Triangle_right.svg);position:absolute;top:50%;margin:-14px 0 0 -15px;display:inline-block;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;vertical-align:middle;min-width:30px;min-height:30px;background-repeat:no-repeat;background-position:center center;right:5px;}
    .sections#compact-view-mobile-catalog-sections .items .item .info {display: inline-block;padding: 0;vertical-align: middle;}
    .sections#compact-view-mobile-catalog-sections .items .item .info .text {display: none;}
    .sections#compact-view-mobile-catalog-sections .items .item .info .title {margin: 0;}
    .sections#compact-view-mobile-catalog-sections .items .item .info .title a {
        font-size: 1em;
        text-align: left;
        display: inline-block;
        margin-bottom: 0;
    }
}