/* BASKET */
.basket-link {
  white-space: nowrap;
  display: flex;
}
.basket-link .js-basket-block {
  position: relative;
}
.basket-link .count {
  font-size: 11px;
  border-radius: 100%;
  text-align: center;
  background: #000;
  background: var(--white_text_black);
  color: #fff;
  color: var(--white_text_black_reverse);
  width: 17px;
  height: 17px;
  display: inline-block;
  line-height: 18px;
} 
.basket-link:not(.basket-count) .count {
  background: #b0b0b0;
}

body .bgcolored .basket-link.basket-count .count {
  background: #fff;
  background: var(--white_text_black_reverse);
  color: #222;
  color: var(--white_text_black);
}
body .menu-row.with-color.colored_dark .basket-link:not(.basket-count) .count {
  background: #b0b0b0;
  color: #fff;
  color: var(--white_text_black_reverse);
}

body.fill_bg_n.title-v5 .visible-lg:not(.index) .menu-row.bgcolored,
body.fill_bg_y.visible_banner.title-v5 .visible-lg:not(.index) .menu-row.bgcolored > .maxwidth-theme,
body.fill_bg_n.header_fill_colored.title-v5 .full-fill .logo-row,
body.fill_bg_y.visible_banner.header_fill_colored.title-v5 .full-fill .logo-row > .maxwidth-theme {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/*cart*/
.cart__item {
  padding: 25px 55px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  position: relative;
  page-break-inside: avoid;
}
.cart__item-image {
  width: 70px;
  max-height: 70px;
  text-align: center;
}
.cart__item-info {
  position: relative;
  margin: -8px 0px 0px;
}
.cart__item-props {
  margin-top: 7px;
}
.cart__item-remove {
  position: absolute;
  right: -8px;
  top: -3px;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.cart__item-prices {
  margin-top: 12px;
}
.cart__item-cost {
  flex-basis: 50%;
}
.cart__item-summ {
  flex-grow: 1;
  text-align: right;
  flex-shrink: 0;
}

.basket-side {
  flex-basis: 400px;
  flex-shrink: 0;
}
.basket-side__wrapper {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  background: var(--card_bg_black);
}
.basket-side__wrapper--padding {
  padding: 27px 32px 20px;
}

.cart--default .cart__item {
  margin-bottom: -1px;
  padding: 31px;
}
.cart--default .cart__item-image {
  width: 100px;
  max-height: 100px;
}

.basket.default .foot {
  padding: 0px 0px 25px;
}
.basket--column-btn .btn {
  margin-bottom: 12px;
}

.svg-inline-basket-print {
  margin-right: 6px;
}
.btn.print:hover .fill-theme path {
  fill: #fff;
}

/*empty*/
.basket .basket_empty {
  padding: 44px;
  min-height: 178px;
  border: 1px solid #ebeef1;
  border-color: var(--stroke_black);
  border-radius: 4px;
}
.basket .basket_empty > .wrap {
  position: relative;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 20px 0px;
}
.basket .basket_empty h4 {
  margin: 18px 0 13px;
}
.basket .basket_empty .description {
  margin: 0 0 25px;
  max-width: 450px;
  text-align: center;
}
.basket .basket_empty .btn {
  margin: 0;
}
.basket .empty-basket .basket__heading {
  display: none;
}

.basket.fly .wrap.empty-basket {
  padding-top: 0px;
}
.basket.fly .basket_empty {
  padding: 28px 30px 40px;
  border-top: none;
  border: none;
}

/* BASKET TOP */
.ajax_basket .basket.top {
  display: none;
}
.header-cart {
  position: relative;
}
.header-cart .basket > a {
  white-space: nowrap;
}
.header-cart .basket-dropdown {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  position: absolute;
  top: 100%;
  padding-top: 12px;
  right: -1px;
}
#main #headerfixed .header-cart .basket-dropdown {
  padding-top: 5px;
}
.mega-fixed-menu .header-cart .items_wrap {
  max-height: calc(100vh - 270px);
}
.mega-fixed-menu .header-cart .header-cart__name {
  display: none;
}
.mega-fixed-menu .header-cart .basket-dropdown {
  bottom: 100%;
  top: auto;
  padding-top: 0;
  padding-bottom: 9px;
  z-index: 3;
}
.header-cart:hover .basket-dropdown,
.header-cart.opened .basket-dropdown {
  opacity: 1;
  visibility: visible;
}
.header-cart .basket-dropdown .dropdown {
  overflow: hidden;
  padding: 18px 24px 0px;
  width: 530px;
  left: 0;
  padding: 0;
}
.header-cart .basket .basket_empty {
  padding: 28px 38px 28px 38px;
  border: none;
}
.header-cart .items_wrap {
  max-height: 410px;
  overflow: hidden;
}
.header-cart .items_wrap .mCSB_container {
  margin: 0;
}
.header-cart .cart__item {
  padding: 25px 24px 23px;
}
.header-cart .cart__item:last-of-type {
  border-bottom: none;
}
.header-cart .cart__item-title {
  padding: 0 30px 0 0;
}
.header-cart .cart__item-remove {
  right: -9px;
  top: -2px;
}
.header-cart .cart__item-cost {
  flex-basis: 70%;
}
.header-cart .cart__item-cost .price {
  display: inline;
  vertical-align: baseline;
}
.header-cart .cart__item-summ .price_new {
  display: inline;
  vertical-align: baseline;
}
.header-cart .cart__item-prices {
  margin-top: 8px;
}
.header-cart .cart__item-counter {
  margin: 0 0 0 6px;
  vertical-align: baseline;
}
.header-cart .counter__count-wrapper {
  margin: 0 0 0 5px;
}
.header-cart .foot {
  padding: 19px 24px 24px 24px;
  background-color: #fafafa;
  background-color: var(--light_bg_black);
  border-top: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
}
.header-cart .foot .buttons {
  margin: 17px 0 0 0;
}
.header-cart .foot .price_old {
  margin: 0 7px 0 0;
}
.header-cart .cart__item-image {
  height: 70px;
}
.header-cart .cart__item-image a {
  height: 100%;
  display: inline-block;
}

/* BASKET FLY */
.basket.fly {
  position: fixed;
  width: 700px;
  display: block !important;
  right: -701px;
  top: 0px;
  background: #fff;
  background: var(--card_bg_black);
  z-index: 996;
  transition: right ease-in-out 0.3s;
  -moz-transition: right ease-in-out 0.3s;
  -ms-transition: right ease-in-out 0.3s;
  -o-transition: right ease-in-out 0.3s;
  -webkit-transition: right ease-in-out 0.3s;
  margin: 0px;
  height: 100%;
}

.ajax_basket .fixed_wrapper {
  display: block !important;
  transition: right ease-in-out 0.3s;
  -moz-transition: right ease-in-out 0.3s;
  -ms-transition: right ease-in-out 0.3s;
  -o-transition: right ease-in-out 0.3s;
  -webkit-transition: right ease-in-out 0.3s;
  height: 100%;
  top: 0px;
  margin: 0px;
  width: 580px;
  right: -581px;
}
.ajax_basket .fixed_wrapper.narrow {
  width: 400px;
  right: -401px;

}
.ajax_basket.widget_open .fixed_wrapper {
  right: 0;
}

.ajax_basket.opened .basket.fly {
  right: 0;
}

.basket__heading {
  margin: 0;
  padding: 49px 54px 42px;
  border-bottom: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  margin-top: -123px;
  height: 123px;
}
.basket__heading-title {
  margin: 0px;
}
.basket__heading-link {
  position: relative;
  padding-right: 89px;
}
.basket__heading .basket__heading-link .arrow-all {
  top: 10px;
}
.basket__heading-remove {
  cursor: pointer;
}

.basket.fly > .wrap {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  color: #333;
  color: var(--white_text_black);
  text-align: left;
  height: 100%;
  padding-top: 123px;
}
.basket.fly > .wrap .basket_wrap {
  height: 100%;
  padding-bottom: 181px;
}
.basket.fly .opener {
  display: block;
  width: 63px;
  height: 64px;
  cursor: pointer;
  text-align: center;
  line-height: 64px;
  position: relative;
}
.opened .basket.fly .opener {
  background-color: #fff;
  background-color: var(--darkerblack_bg_black);
}
.opened .basket.fly .opener:after,
.widget_open .basket.fly .opener:after {
  content: "";
  width: 1px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #fff;
  background: var(--stroke_black);
  position: absolute;
  z-index: 1;
}
.basket.fly .items_wrap {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.basket.fly .foot {
  padding: 27px 55px 25px;
  border-top: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  margin-top: -1px;
  position: relative;
}
.basket.fly .buttons {
  padding: 0 56px 32px;
}

@media (max-width: 1200px) {
  .basket-side {
    flex-basis: 250px;
  }
}
@media (min-width: 992px) {
  .cart--default .cart__item-cost {
    flex-basis: 58%;
  }
  .basket .line-block--block {
    flex-wrap: wrap;
  }
  .basket-side__remove {
    margin: 23px 0px 0px;
  }
}
@media (max-width: 991px) {
  .basket__inner {
    flex-wrap: wrap;
  }
  .basket-side {
    flex-basis: auto;
    flex-grow: 1;
    width: 100%;
  }
  .basket-side__wrapper {
    box-shadow: none;
  }
  .basket-side__wrapper--bordered {
    border: 1px solid #e5e5e5;
    margin-top: -1px;
  }
}
@media (max-width: 767px) {
  .ajax_basket {
    display: none;
  }
}
@media not print {
  @media (max-width: 600px) {
    .line-block--block-t600 {
      flex-wrap: wrap;
    }
    .line-block--block-t600 > .line-block__item {
      flex-basis: 100%;
      flex-grow: 1;
      text-align: center;
    }
    .cart.cart--default {
      flex-basis: auto;
      display: flex;
      flex-wrap: wrap;
    }
    .cart--default .cart__item {
      margin: 0px 0px -1px -1px;
      /* width: 50%; */
      padding: 18px;
    }
    .cart--default .cart__wrapper {
      height: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .cart--default .cart__image-wrapper {
      flex: 1;
    }
    .cart--default .cart__item-image {
      margin: 0px auto 20px;
      /* height: 100px; */
      max-height: 100px;
      /* line-height: 100px; */
    }
    .cart__info-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .cart--default .cart__item-info {
      margin: 0px;
      position: static;
      text-align: center;
    }
    .cart--default .cart__item-remove {
      top: 10px;
      right: 10px;
    }
    .cart--default .cart__item-props .line-block {
      justify-content: center;
    }
    .cart--default .cart__item-counter {
      margin: 10px 0px;
    }

    .basket-side__wrapper {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
