/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

.form-bottom-list .form__wrapper .form__img  {
  padding-right: 24px;
}

.form-bottom-list .index-block__subtitle {
  font-size: 0.8em;
  color: #ababab;
}

.form-bottom-list .form-phone {
  margin-top: 30px;
  font-size: 2.1em;
}


/* footer .whatsapp a, body.header_opacity.front_page .header:not(.header--offset).light.whatsapp a, .light.block_with_bg .whatsapp a { font-weight: 600;  color: #5FFC7B; }
footer .whatsapp a:hover,  body.header_opacity.front_page .header:not(.header--offset).light.whatsapp a:hover, .light.block_with_bg .whatsapp a:hover { color: ##167527; } */


.whatsapp a{ font-weight: 600; color: #167527; }
.whatsapp a:hover { color: #5FFC7B; }

.header.light .whatsapp a { font-weight: 600;  color: #5FFC7B !important; }

.reviews-list__item-top-part--row .reviews-list__rating {
  display: none;
}

.switcher-title h2 {
  font-size: 1.12em;
}

.banners-img-with-text-description {
  text-align: left;
}

table.projects {
  margin-top: 12px;
  font-size: 0.9em;
}

table.projects > thead > tr > th {
    vertical-align: middle;
}
.reviews-img{width: 50%;
    display: block;}

.tizers-header {
  display: flex;
  align-content: center;
  align-items: center;
}

.tizers-list__item-image-wrapper--position-TOP.tizers-list__item-image-wrapper--ICONS {
  margin-bottom: 0px;
  margin-right: 16px;
}

.banners-fon-list__item {
  background-color: #2665af;
}

@media (max-width: 600px) {
  #main .mobile-offset {
    padding: 0 0 0 0px;
    flex-wrap: wrap;
  }

  #main .mobile-scrolled:not(.grid-list--no-gap)>div {
    padding: 0 0px 24px 0;
  }

  .sections-list__item-preview-wrapper {
    display: none;
  }
  .banners-fon-list__item .banners-fon-list__image--fit_image {
    display: none;
  }

  .mobile-scrolled {
    justify-content: center;
  }

  .sections-list__item--big-padding {
    padding: 24px 20px 21px;
  }
  .banners-fon-list__item-text {
    padding: 25px 0 25px;
  }
  .banners-fon-list__item-description,
  .banners-fon-list__item-description li {
    display: revert;
    /* font-size: 0.8em; */
    line-height: 1.55em;
  }

  #main .mobile-scrolled--items-2>div {
    width: 300px;
  }
  .form-bottom-list .form-phone {
    font-size: 1.6em;
  }

  .services-list--img-trl .services-list__item-image-wrapper {
    padding-bottom: 0;
  }

  .contacts-detail__properties>.contacts__col+.contacts__col {
      padding-left: 0px;
  }

  table.projects {
    font-size: 0.72em;
  }

}
.MIDDLE_ADV .banners-fon-list__item {background-color: #ffffff;}
.MIDDLE_ADV .color_light--opacity {color: #2c2c2c;}
.MIDDLE_ADV .color_light {color: #2c2c2c;}
@media (min-width: 992px){
.MIDDLE_ADV .flexbox--direction-row {flex-direction: row-reverse;}
.MIDDLE_ADV .banners-fon-list__item-text {flex: 2;}
.MIDDLE_ADV .banners-fon-list__item--BIG_BANNER .banners-fon-list__item-text {align-self: flex-start;}
.MIDDLE_ADV .banners-fon-list__item--BIG_BANNER .banners-fon-list__item-inner {padding: 0 0 0 40px;}
.MIDDLE_ADV .banners-fon-list__item--BIG_BANNER .banners-fon-list__image-wrapper{min-height: auto;}
.MIDDLE_ADV .banners-fon-list__item-image--absolute{bottom: 53px;top: 53px; width: 100%;height: 250px;object-fit: cover;}
}
@media (max-width: 991px){
.MIDDLE_ADV .banners-fon-list__item .banners-fon-list__image--fit_image img{width: 100%;}
.banners-fon-list__image-inner {text-align: center;}
.MIDDLE_ADV .banners-fon-list__item .banners-fon-list__image--fit_image {max-width: 100%;padding: 0 40px 0 40px;}
}
.index-block .form-list .form-fon{filter: brightness(50%);}
.index-block .form-list h3, .index-block .form-list .index-block__subtitle,.index-block .form-list .index-block__preview, .index-block .form-list .form-checkbox__label span,.index-block .form-list .form-checkbox__label span a, .index-block .form-list .color_999{color: white;}
.MIDDLE_ADV .banners-fon-list__item-title.font_38{font-size: 2em!important;}
.contacts-v1{margin-top: 0px!important;}
.reviews-info{display: none;}
.banners-big__item::before{content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgb(0, 0, 0, 0.5);
}
.tab-content h6{margin: 20px 0 0px;}
.tab-content h3{    margin: 30px 0 15px;}
.blog-list__item-image{background-size: contain!important;}
