.detail .small-gallery-block .flex-control-nav {
  display: block;
  bottom: -36px;
}
.detail .small-gallery-block .slides li {
  text-align: center;
}

.detail .galery .flexslider.top-bigs {
  overflow: hidden;
}
.detail .galery .flexslider.top-bigs .slides > li {
  max-height: 400px;
  opacity: 0;
  line-height: 397px;
  height: 400px;
}
.detail .galery .flexslider.top-bigs.flexslider-init .slides > li {
  opacity: 1;
}

.flexslider .flex-direction-nav {
  display: none;
}
body .flex-control-nav li {
  margin: 0px 3px;
}
body .flex-control-paging li a {
  width: 7px;
  height: 7px;
}

.detail .galery .flexslider.top-bigs .flex-control-nav {
  display: none;
}
.detail .galery .top-small-wrapper {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 52px;
  height: 400px;
}
.detail .galery .top-small-wrapper .flexslider {
  margin: 0px;
  top: 92px;
}
.detail .galery .top-small-wrapper .slides {
  width: 100% !important;
}
.detail .galery .top-small-wrapper .slides li {
  height: 52px;
  float: none !important;
  width: 100% !important;
  margin-bottom: 10px;
  border: 2px solid #fff;
  display: block;
}
.detail .galery .top-small-wrapper .slides li:last-of-type {
  margin-bottom: 0px;
}
.detail .galery .top-small-wrapper .slides li:not(.flex-active-slide) {
  cursor: pointer;
}
.detail .galery .top-bigs + .top-small-wrapper .flex-viewport {
  height: 238px;
}
.detail .galery .top-small-wrapper .bx-controls-direction a {
  font-size: 0px;
  width: 15px;
  height: 15px;
  left: 19px;
  right: auto;
  position: absolute;
}
.detail .galery .top-small-wrapper .bx-controls-direction a:not(.flex-disabled) {
  opacity: 0.7;
  visibility: visible;
}
.detail .galery .top-small-wrapper .bx-controls-direction a.disabled {
  display: none;
}
.detail .galery .top-small-wrapper .bx-controls-direction a.bx-prev {
  top: -31px;
}
.detail .galery .top-small-wrapper .bx-controls-direction a:hover {
  opacity: 1;
}
.detail .galery .top-small-wrapper .bx-controls-direction a.bx-next {
  bottom: -33px;
  top: auto;
}
.detail .galery .top-small-wrapper .bx-controls-direction a.bx-prev {
  background: url(../images/svg/Arrow_up_sm.svg) 1px 3px no-repeat;
}
.detail .galery .top-small-wrapper .bx-controls-direction a.bx-next {
  background: url(../images/svg/Arrow_down_sm.svg) 1px 3px no-repeat;
}

.catalog.detail .ext_view .head .row.galery {
  padding: 40px 0px;
}
.catalog.detail .galery .inner {
  max-height: none;
  padding: 0px 20px 0px 40px;
}
.catalog.detail .galery #carousel.flexslider {
  margin-top: 29px !important;
  margin-bottom: 0 !important;
}

.detail .ext_view .galery .top-small-wrapper {
  height: 600px;
  top: 0px;
}
.detail .ext_view.vertical .galery .top-small-wrapper {
  height: 500px;
}
.detail .ext_view.sm .galery .top-small-wrapper {
  height: 450px;
}
.detail .ext_view .galery .flexslider.top-bigs .slides > li {
  height: 600px;
  max-height: 600px;
  line-height: 597px;
}
.detail .ext_view.vertical .galery .flexslider.top-bigs .slides > li {
  height: 500px;
  max-height: 500px;
  line-height: 497px;
}
.detail .ext_view.sm .galery .flexslider.top-bigs .slides > li {
  height: 450px;
  max-height: 450px;
  line-height: 447px;
}

.detail .galery .top-small-wrapper .top-small-wrapper2 {
  position: relative;
  top: 50%;
}
.detail .galery .top-small-wrapper .top-small-wrapper2.s_4v {
  margin-top: -140px;
}
.detail .galery .top-small-wrapper .top-small-wrapper2.s_4 {
  margin-top: -119px;
}
.detail .galery .top-small-wrapper .top-small-wrapper2.s_3v {
  margin-top: -122px;
}
.detail .galery .top-small-wrapper .top-small-wrapper2.s_3 {
  margin-top: -88px;
}
.detail .galery .top-small-wrapper .top-small-wrapper2.s_2v {
  margin-top: -90px;
}
.detail .galery .top-small-wrapper .top-small-wrapper2.s_2 {
  margin-top: -57px;
}
.detail .galery .top-small-wrapper .top-small-wrapper2.s_1v {
  margin-top: -43px;
}
.detail .galery .top-small-wrapper .flexslider {
  top: 0px;
}
.detail .ext_row .right_wrapper_block {
  margin: 17px 0px 0px 18px;
}
.detail .ext_view + .tizers + .row .right_wrapper_block {
  margin-top: 40px;
}
.detail .ext_row .right_wrapper_block .ask_a_question {
  float: none;
  margin: 0px;
  width: auto;
}

.detail .galery .top-small-wrapper .popup_video a {
  font-size: 12px;
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  position: relative;
  padding: 21px 0px 0px;
  text-align: center;
}
.detail .galery .top-small-wrapper .popup_video.fromtop a {
  padding-top: 40px;
}
.detail .galery .top-small-wrapper .popup_video a:before {
  content: "";
  position: relative;
  background: url(../images/svg/allcorp3heat.svg) -18px -131px no-repeat;
  width: 14px;
  height: 23px;
  display: block;
  margin: auto;
}

.detail .galery {
  margin-right: 0px;
  margin-left: 0px;
}
.detail .galery .inner {
  border: 1px solid #f2f2f2;
  max-height: 673px;
  overflow: hidden;
  padding: 50px 62px;
  position: relative;
}
.detail .galery .inner .stickers {
  top: -10px;
  left: 28px;
}
.detail .galery .item {
  padding: 0;
  text-align: center;
  position: relative;
}
.detail .galery .item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
}
.detail .galery .item:hover span.zoom {
  opacity: 1;
}
.detail .galery .flexslider.top-bigs {
  border: none;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  height: 100%;
  background: transparent;
}
.detail .galery .flexslider.s_1 {
  margin-left: 0px;
}
.detail .galery .flexslider .flex-viewport,
.detail .galery .items {
  height: 100%;
}

.detail .gallery-block .flexslider .slides > li {
  max-height: none;
  padding: 0px;
  margin: 0px;
}
.detail .gallery-block .small-gallery ul.items li {
  width: 60px !important;
  border: 2px solid transparent;
  position: relative;
}
.detail .gallery-block .small-gallery ul.items li:hover {
  cursor: pointer;
}

.detail .gallery-block .bigs.flexslider {
  margin-bottom: 81px;
  box-shadow: 0px 0px 0px 1px #f2f2f2 inset;
  padding: 1px;
}
.detail .gallery-block .bigs.flexslider .slides .item {
  border: none;
  text-align: center;
}
.detail .gallery-block .bigs.flexslider .slides .item a {
  display: inline;
}
.detail .gallery-block .bigs .item img {
  width: auto;
  max-height: 100%;
}
.detail .gallery-block .small-gallery.flexslider {
  border: 0 none;
  box-shadow: none;
  z-index: 1;
  display: inline-block;
  text-align: center;
  margin: 0px auto 0px !important;
  padding: 0 58px;
  max-width: 815px;
}
.detail .gallery-block .small-gallery-wrapper {
  text-align: center;
  padding: 15px 0px 20px;
  font-size: 0px;
  line-height: 0px;
}
.detail h5 + .gallery-block .small-gallery-wrapper {
  padding-top: 0px;
}
.detail h5 + .gallery-block .bigs.flexslider {
  margin-bottom: 49px;
}

.detail .galery #carousel .flex-direction-nav a {
  color: rgba(0, 0, 0, 0);
  height: 20px;
  margin-top: -10px;
  opacity: 1;
  text-shadow: none;
  width: 30px;
}
.detail .galery #carousel .flex-direction-nav .flex-prev {
  left: 0;
}
.detail .galery #carousel .flex-direction-nav .flex-next {
  right: 0;
}
.detail .galery #carousel .flex-direction-nav .flex-prev:before {
  content: "\f104";
}
.detail .galery #carousel .flex-direction-nav .flex-next:before {
  content: "\f105";
  left: 18px;
}
.detail .galery #carousel .flex-direction-nav a:before {
  color: rgb(119, 130, 133);
  font-family: FontAwesome;
  font-size: 29px;
  left: 2px;
  position: absolute;
  top: -4px;
}
.detail .galery #carousel.flexslider {
  border: 0 none;
  box-shadow: none;
  z-index: 1;
  max-width: 391px;
  width: 100%;
  text-align: center;
  margin: 19px auto -22px !important;
  padding: 0 30px;
}
.detail .galery #carousel .slides li {
  text-align: center;
  border: 1px solid transparent;
  height: 77px;
  line-height: 75px;
  margin-right: 7.5px;
  overflow: hidden;
  width: 77px !important;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.detail .galery #carousel .slides li:hover {
  border-color: #d7dee3;
}
.detail .galery #carousel .slides li.flex-active-slide {
  opacity: 0.6;
}

.detail .galery .popup_video.mobile {
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
  height: 48px;
  line-height: 46px;
  font-size: 0.85em;
}
.detail .galery .popup_video.mobile a {
  color: #222222;
  font-weight: 600;
  text-transform: uppercase;
}
.detail .galery .popup_video.mobile a:before {
  content: "";
  position: relative;
  background: url(../images/svg/allcorp3heat.svg) -18px -131px no-repeat;
  width: 14px;
  height: 23px;
  display: block;
  margin: auto;
  display: inline-block;
  margin: 0 12px 0 0;
  vertical-align: middle;
}

.zomm_wrapper-block {
  position: relative;
}
.zomm_wrapper-block:hover .flex-direction-nav a:not(.flex-disabled) {
  opacity: 1 !important;
}
