/* HEADER */
.header {
  color: #333333;
  color: var(--white_text_black);
  position: relative;
  z-index: 100;
  background-color: #f8f8f8;
  background-color: var(--darkerblack_bg_black);
}

body:not(.front_page) .header--white {
  /* background-color: #fff; */
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.03) 0%, rgba(248, 248, 248, 0) 100%);
}

body.front_page .header:not(.header--fon) {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.03) 0%, rgba(248, 248, 248, 0) 100%);
}

.header--paddings {
  padding: 32px 32px 0;
}
.header--offset-top-32 {
  padding-top: 32px;
}
body.header_opacity.front_page .header__inner {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
body .pos-static {
  position: static;
}
.hide-dotted:not(.dotted-complete) * {
  opacity: 0;
}
.header__inner--parted {
  display: flex;
}

.header__inner--parted.header__inner--margins .header__sub-inner.header--color_dark .header__top-part,
.header__inner--parted.header__inner--margins .header__sub-inner.header--color_colored .header__top-part {
  border-color: rgba(255, 255, 255, 0.102);
}
.header__inner--parted.header--color_dark .header__top-part,
.header__inner--parted.header--color_colored .header__top-part {
  border-color: rgba(255, 255, 255, 0.102);
}

.phones__phones-wrapper .phones__dropdown.position_block {
  right: -5px;
  left: auto;
}

/*bg_none header 3,4*/
body.header_opacity.front_page .header.header--offset .block_with_bg.bg_none {
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.102);
  border-radius: 0;
}
/*end*/

.header__inner--paddings {
  padding: 32px 32px 0;
}
.header__inner--margins {
  margin: 0px 32px 0;
  padding-top: 32px;
}
.header__inner--margins-side-none {
  margin-left: 0px;
  margin-right: 0px;
}
.header__inner--shadow {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.header__inner--bordered {
  border-bottom: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
}
.header__sub-inner {
  display: flex;
  width: 100%;
  position: relative;
}
.header--shadow {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.header__main-inner--height_91 {
  height: 91px;
}
.header__left-part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-right: 16px;
}
.header__left-part--color_light {
  background-color: #fff;
}
.header__right-part {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header__top-part {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 60px;
}
.header__top-part--height_46 {
  height: 46px;
}
.header__top-part--height_50 {
  height: 50px;
}
.header__top-part--height_56 {
  height: 56px;
}
.header__top-part--height_66 {
  height: 66px;
}
.header__top-part--height_80 {
  height: 80px;
}
.header__top-part--height_81 {
  height: 81px;
}
.header__top-part--height_89 {
  height: 89px;
}
.header__top-part--no_border {
  border-bottom: none;
}
.header__top-part--bordered {
  border-bottom: 1px solid #e5e5e5;
  border-bottom: 1px solid var(--stroke_black);
}
.header__top-part--items-bottom {
  align-items: flex-end;
  padding-bottom: 8px;
}
.header__top-part--paddings {
  padding-left: 32px;
  padding-right: 32px;
}
.header--color_colored {
  background-color: #9e9e9e;
}
.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -16px;
  flex: 1;
  width: calc(100% + 32px);
}
.header__top-item {
  margin: 0 16px;
}
.header__top-item--w45 {
  width: 45%;
}
.header__top-item--no-shrink {
  flex-shrink: 0;
}
.header__top-item--shinked {
  flex-shrink: 1;
}

.left-part-icons-block.header__top-item {
  margin-left: 0;
}

.header__main-part {
  position: relative;
  z-index: 1;
  height: 100px;
  display: flex;
  align-items: center;
}
.header__main-part--shadow {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.header__main-part--height_66 {
  height: 66px;
}
.header__main-part--height_61 {
  height: 61px;
}
.header__main-part--height_91 {
  height: 91px;
}
.header__main-part--header_7 {
  height: 148px;
}
.header__main-part--offset-left {
  margin-left: -32px;
}
.header__main-part--margin {
  margin-left: 32px;
  margin-right: 32px;
}
.header__main-part--bordered {
  border-bottom: 1px solid #e5e5e5;
  border-bottom: 1px solid var(--stroke_black);
}
.slogan_min_width_header6 {
  min-width: 200px;
}
@media (max-width: 1200px) {
  .header__main-part--no-radius-bottom-1200 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@media (max-width: 1100px) {
  .header__main-part--offset_16-1100 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__main-part--offset_16-1100 .header__main-item {
    margin: 0 16px;
  }
}

.header__main-inner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__main-inner--top-with-padding {
  align-items: flex-start;
  padding: 37px 0;
}
.header__main-inner--margin {
  margin: 0 -32px;
}
.header__main-inner--color_light {
  background-color: #fff;
}
.header__main-inner--shadow {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.header__main-item {
  margin: 0 32px;
  flex-shrink: 0;
}
.header__main-item--shinked {
  flex-shrink: 1;
}
.header__main-item--flex {
  flex-shrink: 1;
}
@media (max-width: 1200px) {
  .header__main-inner--no-shadow-1200 {
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.header__flex-part {
  display: flex;
  align-items: center;
}
.header__flex-part--left {
  flex: 1;
  justify-content: flex-start;
}
.header__flex-part--right {
  flex: 1;
  justify-content: flex-end;
}

@media (min-width: 1401px) {
  .header__flex-part--right.header__flex-part--collapse{
    flex-basis: auto;
    flex-shrink: 0;
  }
  .header__flex-part--left.header__flex-part--collapse{
    flex-basis: auto;
  }
}

.header__side-column-part {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 271px;
  border-right: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  padding: 24px 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  background-color: var(--black_bg_black);
}
.header__side-item {
  display: flex;
  flex-direction: column;
}
.header__side-item--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__side-item--margin {
  margin-top: 40px;
  margin-bottom: 40px;
}
.header__side-item--paddings {
  padding: 16px 0;
}
.header__side-item--margined {
  margin: -16px 0;
}

.dropdown {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  background: #fff;
  background-color: var(--card_bg_black);
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 0;
}
.dropdown--relative {
  position: relative;
}
.dropdown--no-shadow {
  box-shadow: none;
}

.logo {
  max-width: 182px;
  height: 50px;
  display: flex;
  align-items: center;
}
.logo a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo a img {
  max-height: 100%;
}

.address {
  display: flex;
  align-items: center;
}
.address__text {
  font-size: 0.867em;
  line-height: 1.5379em;
  max-width: 320px;
}
.address__text--large {
  font-size: 1em;
  line-height: inherit;
}

.phones {
  display: flex;
  align-items: center;
  position: relative;
}
.phones__inner {
  display: flex;
  align-items: center;
  position: relative;
}
.phones__icon {
  display: none;
  margin-right: 11px;
  margin-top: 1px;
}
.phones--with_icon .phones__icon {
  display: block;
}
.phones__phone-link {
  font-weight: 600;
}
.phones__arrow {
  display: none;
  margin-left: 8px;
}
.phones__inner--with_dropdown .phones__arrow {
  display: flex;
}
.phones__dropdown {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  position: absolute;
  top: -19px;
  left: -19px;
}

.icon-block--with_icon .phones__dropdown {
  left: 0;
}
.phones__dropdown .dropdown {
  z-index: 2;
  padding: 25px;
  background: #fff;
  background-color: var(--card_bg_black);
  min-width: 278px;
  left: -6px;
}
.phones__inner:hover {
  z-index: 1000;
}
.phones__inner:hover .phones__dropdown {
  opacity: 1;
  visibility: visible;
}
.phones__dropdown .dropdown__item {
  padding: 6.5px 0px;
}
.phones__dropdown .dropdown__item--first {
  padding-top: 0px;
  margin-top: -6px;
}
.phones__dropdown .dropdown__item--last {
  padding-bottom: 0px;
}

.phones__dropdown--top {
  bottom: -36px;
  top: auto;
}
.phones__dropdown--top .dropdown {
  display: flex;
  flex-direction: column-reverse;
}
.phones__dropdown--top .dropdown .phones__dropdown-item:last-child {
  margin-top: 0;
}
.phones__dropdown--top .dropdown .schedule__title {
  margin-top: 6px;
}
.phones__dropdown--top .dropdown__item--first {
  padding-top: 6.5px;
  padding-bottom: 0px;
  margin-bottom: -6px;
}
.phones__dropdown--top .dropdown__item--last {
  padding-top: 0px;
  padding-bottom: 6.5px;
}
.phones__dropdown--top .dropdown__item--last + .phones__dropdown-item {
  padding-top: 19px;
  padding-bottom: 17px;
}

.phones__callback {
  font-size: 0.867em;
  line-height: 1.5379em;
  margin-left: 19px;
  margin-top: -1px;
}
.phones__phone-descript {
  display: block;
  margin-top: -2px;
  font-weight: normal;
}
.phones__dropdown-item {
  margin-top: 14px;
}
.dropdown__item--last + .phones__dropdown-item {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 4px;
}

.social-item {
  margin-top: 19px;
}
.callback-item {
  margin-top: 24px;
}
.phones__dropdown-title {
  font-size: 0.8em;
  line-height: 1.584em;
  color: #999;
}
.phones__dropdown-value {
  margin-top: 1px;
  font-size: 0.934em;
  line-height: 1.499em;
  color: #333;
  color: var(--white_text_black);
}

.header-cabinet {
  position: relative;
}
.header-cabinet__icon {
  margin-top: -2px;
}
.header-cabinet__link.avt .header-cabinet__icon {
  margin-right: -4px;
}
.header-cabinet__link {
  display: flex;
  align-items: center;
}
.header-cabinet__link.avt {
  margin-right: -4px;
}
.header__icon-name {
  font-size: 0.867em;
  line-height: 1.54em;
  margin-left: 7px;
}

.icon-block-with-counter--count ~ .header__icon-name {
  margin-left: 11px;
}

.active > .dark_link {
  color: var(--fill_dark_light_hover);
}

.cabinet-dropdown {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  position: absolute;
  top: 100%;
  padding-top: 15px;
  right: -1px;
}
.cabinet-dropdown--top {
  top: auto;
  bottom: 100%;
  padding-top: 0px;
  padding-bottom: 12px;
}
.mega-fixed-menu .cabinet-dropdown {
  margin: 0 0 0 -127px;
}
.cabinet-dropdown .dropdown {
  padding: 18px 24px 0px;
  width: 190px;
  /*left: -22px;*/
}
.header-cabinet:hover .cabinet-dropdown {
  opacity: 1;
  visibility: visible;
}
#main #headerfixed .header-cabinet .cabinet-dropdown {
  padding-top: 8px;
}
.cabinet-dropdown__item {
  margin-bottom: 13px;
}
.cabinet-dropdown__item a {
  display: block;
}
.cabinet-dropdown__item--last {
  margin-bottom: 0px;
  border-top: 1px solid #ececec;
  border-top: 1px solid var(--stroke_black);
  margin: 0 -24px;
  background: #fafafa;
  background-color: var(--card_bg_hover_black);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 20px;
}
.cabinet-dropdown__item--last a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 18px 23px 20px;
}

.header-cart__inner {
  position: relative;
  margin-right: 4px;
  display: inline-block;
  line-height: 0;
}
.header-cart__inner--empty {
  margin-right: 0px;
}
.header-cart__count, 
.icon-count {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(46%, -60%);
  color: #fff;
  font-size: 11px;
  border-radius: 15px;
  text-align: center;
  line-height: 15px;
  min-width: 15px;
  padding: 0 4px;
  background-color: #49b822;
  z-index: 2;
}

.icon-count--compare {
  top: 3px;
  right: auto;
  left: 0px;
}

.header-cart__inner--empty .header-cart__count,
.icon-count {
  display: none;
}

.icon-block-with-counter--count .icon-count {
  display: block;
}

.header-cart__inner i.svg-inline-basket {
  margin-top: -3px;
}

.hide-basket-message .header-cart__name {
  display: none;
}

.header-cart__name {
  display: inline-block;
  transform: translateY(-1px);
}

.header--color_colored .header-cart .header-cart__count,
.header--color_colored .icon-block-with-counter .icon-count {
  background-color: #fff;
  color: #333;
}

#main .mobileheader--color-colored .header-cart .header-cart__count,
#main .mobileheader--color-colored .icon-block-with-counter .icon-count {
  background-color: #fff !important;
  color: #333;
}

.slogan__text {
  opacity: 0.5;
  max-width: 250px;
  font-size: 0.929em;
}
.burger {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  margin: -20px;
}

.more-arrow {
  display: flex;
  margin-left: 8px;
  margin-top: 2px;
}

.header-search {
  cursor: pointer;
  line-height: 0;
}
.header-eyed {
  cursor: pointer;
  line-height: 0;
}

.menu-topest {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu-topest__item {
  margin: 0 12px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  list-style: none;
  font-size: 0.867em;
  line-height: calc(1em + 7px);
  white-space: normal;
  flex-shrink: 0;
}
.menu-topest__item--first {
  margin-left: 0;
}
.menu-topest__item--last {
  margin-right: 0;
}
.menu-topest__more {
  margin-left: 12px;
  padding: 0;
  flex-shrink: 0;
}

/*menu-topest more*/
.header__top-part .menu-topest:hover {
  overflow: visible;
}
.header__top-part .menu-topest li.menu-topest__more {
  position: relative;
  cursor: pointer;
  z-index: 999;
  padding: 10px 0 16px;
  margin-bottom: 0;
  width: 20px;
}
.header__top-part .menu-topest li.menu-topest__more .dropdown {
  margin: 0;
  padding: 0;
  left: -17px;
  width: 191px;
  margin: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 45px;
  z-index: 999;
}
.header__top-part .menu-topest li.menu-topest__more:hover > .dropdown,
.header__top-part .menu-topest li.menu-topest__more.hover > .dropdown {
  opacity: 1;
  visibility: visible;
  background: #fff;
}
.header__top-part .menu-topest li.menu-topest__more.hover {
  background: none;
}
.header__top-part .menu-topest li.menu-topest__more .dropdown > li {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}
.header__top-part .menu-topest li.menu-topest__more .dropdown > li:before {
  display: none;
}

.header__top-part .menu-topest li.menu-topest__more .dropdown > li > a {
  padding: 0 23px;
  margin-bottom: 9px;
  display: block;
}

#main .menu-topest .menu-topest__more .menu-topest__link {
  opacity: 1;
  color: #333;
}

.header__top-part .menu-topest li.menu-topest__more .dropdown > li:last-of-type > a {
  margin-bottom: 0;
}

.header__top-part .menu-topest li.menu-topest__more > span {
  display: block;
  letter-spacing: 1.5px;
}
.header__top-part .menu-topest li.menu-topest__more .menu-topest__item {
  display: block;
}
.header__top-part .menu-topest li.menu-topest__more .dropdown {
  padding: 18px 0;
}

.btn.btn-header-topest {
  width: 100%;
  border-radius: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  font-size: 13px;
  font-weight: bold;
}

@media all and (max-width: 1600px) {
  .hide-name-1600 .header__icon-name {
    display: none;
  }
}
@media all and (max-width: 1400px) {
  .hide-name-narrow .header__icon-name {
    display: none;
  }
}

@media (max-width: 1200px) {
  .header__top-part--paddings {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header__main-item {
    margin: 0 24px;
  }
  .header__main-part--offset-left {
    margin-left: -24px;
  }
}

/* COLOR VARIATIONS */
.header--color_colored.header__top-part--bordered,
.header--color_colored.header__main-part--bordered,
.header--color_dark.header__top-part--bordered,
.header--color_dark.header__main-part--bordered {
  border-bottom: 1px solid rgba(0, 0, 0, 0.071);
  /* border-bottom: 1px solid var(--stroke_black); */
}
.header--color_dark.header__top-part--bordered {
  border-bottom: 1px solid var(--stroke_black);
}

.header--color_light {
  background-color: #fff;
  background-color: var(--black_bg_black);
  background-color: var(--card_bg_black);
}
.header--color_dark {
  background-color: #232323;
  /* background-color: var(--card_bg_black); */
}
.header--color_gray {
  background-color: #fafafa;
  background-color: var(--light_bg_black);
}

#main .header--color_colored:not(.bg_none) .menu-light-text {
  color: #fff;
}
#main .header--color_colored:not(.bg_none) .menu-light-icon-fill * {
  fill: #fff;
}
#main .header--color_colored:not(.bg_none) .header-cabinet__link .menu-light-icon-fill .fill-more-theme {
  fill: #fff !important;
}
#main .header--color_colored:not(.bg_none) .menu-light-icon-stroke * {
  stroke: #fff;
}

#main .header--color_dark:not(.bg_none) .menu-light-text {
  color: #fff;
}
#main .header--color_dark:not(.bg_none) .menu-light-icon-fill * {
  fill: #fff;
}
#main .header--color_dark:not(.bg_none) .menu-light-icon-stroke * {
  stroke: #fff;
}

.light-opacity-hover {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}
#main .header--color_colored:not(.bg_none) .light-opacity-hover:hover {
  opacity: 0.5;
}
#main .header--color_dark:not(.bg_none) .light-opacity-hover:hover {
  opacity: 0.5;
}

#main .header--color_colored:not(.bg_none) .header-menu__item--more-items .light-opacity-hover:hover,
#main .header--color_dark:not(.bg_none) .header-menu__item--more-items .light-opacity-hover:hover {
  opacity: 1;
}
#main .header--color_colored:not(.bg_none) .header-menu__item--more-items .menu-light-text:not(:hover),
#main .header--color_dark:not(.bg_none) .header-menu__item--more-items .menu-light-text:not(:hover) {
  color: #333;
  color: var(--white_text_black);
}


/*fix bugs with .bg_none*/
#main:not(.header_opacity) .header--color_colored.bg_none .menu-light-text {
  color: #fff;
}
#main:not(.header_opacity) .header--color_colored.bg_none .menu-light-icon-fill * {
  fill: #fff;
}
#main:not(.header_opacity) .header--color_colored.bg_none .header-cabinet__link .menu-light-icon-fill .fill-more-theme {
  fill: #fff !important;
}
#main:not(.header_opacity) .header--color_colored.bg_none .menu-light-icon-stroke * {
  stroke: #fff;
}

#main:not(.header_opacity) .header--color_dark.bg_none .menu-light-text {
  color: #fff;
}
#main:not(.header_opacity) .header--color_dark.bg_none .menu-light-icon-fill * {
  fill: #fff;
}
#main:not(.header_opacity) .header--color_dark.bg_none .menu-light-icon-stroke * {
  stroke: #fff;
}

#main:not(.header_opacity) .header--color_colored.bg_none .light-opacity-hover:hover {
  opacity: 0.5;
}
#main:not(.header_opacity) .header--color_dark.bg_none .light-opacity-hover:hover {
  opacity: 0.5;
}
#main:not(.header_opacity) .header--color_colored.bg_none .header-menu__item--more-items .light-opacity-hover:hover,
#main:not(.header_opacity) .header--color_dark.bg_none .header-menu__item--more-items .light-opacity-hover:hover {
  opacity: 1;
}
#main:not(.header_opacity) .header--color_colored.bg_none .header-menu__item--more-items .menu-light-text:not(:hover),
#main:not(.header_opacity) .header--color_dark.bg_none .header-menu__item--more-items .menu-light-text:not(:hover) {
  color: #333;
  color: var(--white_text_black);
}
#main:not(.header_opacity) .header--color_colored.bg_none .header-menu__item--more-items .menu-light-text:hover,
#main:not(.header_opacity) .header--color_dark.bg_none .header-menu__item--more-items .menu-light-text:hover{
  color: #9e9e9e;
  color: var(--fill_dark_light_hover);
}
/**/

/* BANNER WITH OPACITY */
/* TOP PART */

/*black*/
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__top-part.header__top-part--can-transparent
  .banner-light-text,
body.header_opacity.front_page
  .header:not(.header--offset):not(.light)
  .header__top-part.header__top-part--can-transparent.bg_none
  .banner-light-text {
  color: #333;
}
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__top-part.header__top-part--can-transparent
  .banner-light-text:not(.address__text):hover,
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__top-part.header__top-part--can-transparent
  .color-theme-hover:hover,
body.header_opacity.front_page
  .header:not(.header--offset):not(.light)
  .header__top-part.header__top-part--can-transparent.bg_none
  .banner-light-text:not(.address__text):hover,
body.header_opacity.front_page
  .header:not(.header--offset):not(.light)
  .header__top-part.header__top-part--can-transparent.bg_none
  .color-theme-hover:hover {
  color: var(--theme-base-color);
}
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__top-part.header__top-part--can-transparent
  .banner-light-icon-fill
  *,
body.header_opacity.front_page
  .header:not(.header--offset):not(.light)
  .header__top-part.header__top-part--can-transparent.bg_none
  .banner-light-icon-fill
  * {
  fill: #888;
  opacity: 1;
}
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__top-part.header__top-part--can-transparent
  .fill-dark-light-block:not(.svg)
  path,
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__top-part.header__top-part--can-transparent
  .menu-light-icon-fill
  .fill-dark-light {
  fill: #333;
}
body.header_opacity.front_page
  .header:not(.light)
  .header__top-part.header__top-part--can-transparent.bg_none
  .menu-light-icon-fill
  .fill-dark-light {
  fill: #333;
}
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__top-part.header__top-part--can-transparent
  .menu-light-icon-fill
  .fill-theme-svg,
body.header_opacity.front_page
  .header:not(.light)
  .header__top-part.header__top-part--can-transparent.bg_none
  .menu-light-icon-fill
  .fill-theme-svg {
  fill: var(--theme-base-color);
}

body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__top-part.header__top-part--can-transparent
  .fill-theme-hover:hover
  *,
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__top-part.header__top-part--can-transparent
  .fill-theme-parent:hover
  > .fill-theme-target
  *,
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__top-part.header__top-part--can-transparent
  .fill-theme-parent-all:hover
  .fill-theme-target
  *,
body.header_opacity.front_page
  .header:not(.header--offset):not(.light)
  .header__top-part.header__top-part--can-transparent.bg_none
  .fill-theme-hover:hover
  *,
body.header_opacity.front_page
  .header:not(.header--offset):not(.light)
  .header__top-part.header__top-part--can-transparent.bg_none
  .fill-theme-parent:hover
  > .fill-theme-target
  *,
body.header_opacity.front_page
  .header:not(.header--offset):not(.light)
  .header__top-part.header__top-part--can-transparent.bg_none
  .fill-theme-parent-all:hover
  .fill-theme-target
  * {
  fill: var(--theme-base-color);
}

/**/

body.header_opacity.front_page .header.header--offset .header__top-part.header__top-part--can-transparent {
  background-color: transparent;
  border-bottom: none;
}
body.header_opacity.front_page
  .header.header--offset.light
  .header__top-part.header__top-part--can-transparent
  .banner-light-text {
  color: #fff;
}
body.header_opacity.front_page
  .header.header--offset.light
  .header__top-part.header__top-part--can-transparent
  .banner-light-icon-fill
  * {
  fill: #fff;
}
body.header_opacity.front_page
  .header.header--offset.light
  .header__top-part.header__top-part--can-transparent
  .banner-light-icon-stroke
  * {
  stroke: #fff;
}
body.header_opacity.front_page
  .header.header--offset.light
  .header__top-part.header__top-part--can-transparent
  .light-opacity-hover:hover {
  opacity: 0.5;
}

body.header_opacity.front_page
  .header:not(.header--offset)
  .header__top-part.bg_none.header__top-part--can-transparent {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.102);
}
body.header_opacity.front_page
  .header:not(.header--offset):not(.light)
  .header__top-part.bg_none.header__top-part--can-transparent {
  border-bottom: 1px solid rgba(0, 0, 0, 0.071);
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__top-part.bg_none.header__top-part--can-transparent
  .banner-light-text {
  color: #fff;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__top-part.bg_none.header__top-part--can-transparent
  .banner-light-icon-fill
  * {
  fill: #fff;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__top-part.bg_none.header__top-part--can-transparent
  .banner-light-icon-stroke
  * {
  stroke: #fff;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__top-part.bg_none.header__top-part--can-transparent
  .light-opacity-hover:hover {
  opacity: 0.5;
}

body.header_opacity.front_page
  .header:not(.header--offset)
  .header__top-part.header__top-part--no_border.header__top-part--can-transparent {
  background-color: transparent;
  border-bottom: none;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__top-part.header__top-part--no_border.header__top-part--can-transparent
  .banner-light-text {
  color: #fff;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__top-part.header__top-part--no_border.header__top-part--can-transparent
  .banner-light-icon-fill
  * {
  fill: #fff;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__top-part.header__top-part--no_border.header__top-part--can-transparent
  .banner-light-icon-stroke
  * {
  stroke: #fff;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__top-part.header__top-part--no_border.header__top-part--can-transparent
  .light-opacity-hover:hover {
  opacity: 0.5;
}

body.header_opacity .header.light .btn-search:hover * {
  fill: #fff;
  /* fill: var(--fill_dark_light); */
}

/* MAIN PART */

/*black*/
.header_opacity .header:not(.light) .header__main-part--can-transparent .bg_none .fill-dark-light,
.header_opacity .header:not(.light) .header__main-part--can-transparent .bg_none .more-arrow path,
.header_opacity
  .header:not(.light)
  .header__main-part--can-transparent
  .bg_none
  div.fill-dark-light-block:not(:hover)
  path {
  fill: #333;
}
.header_opacity .header:not(.light) .header__main-part--can-transparent .bg_none div.fill-dark-light-block:hover path,
.header_opacity .header:not(.light) .header__main-part--can-transparent .bg_none .fill-theme-parent:hover path,
.header_opacity
  .header:not(.light)
  .header__main-part--can-transparent
  .bg_none
  .fill-theme-parent-all:hover
  .fill-theme-target
  path,
.header_opacity
  .header:not(.light)
  .header__main-part--can-transparent
  .bg_none
  .fill-theme-hover:not(.banner-light-text):hover
  * {
  fill: var(--theme-base-color);
}
.header_opacity .header:not(.light) .header__main-part--can-transparent .bg_none .banner-light-text {
  color: #333;
}
.header_opacity .header:not(.light) .header__main-part--can-transparent .bg_none .banner-light-text:hover,
.header_opacity
  .header:not(.light)
  .header__main-part--can-transparent
  .bg_none
  .color-theme-parent-all:hover
  .color-theme-target,
.header_opacity .header:not(.light) .header__main-part--can-transparent .bg_none .color-theme-hover:hover * {
  color: var(--theme-base-color);
}
#main.header_opacity .header:not(.light) .dropdown .color-theme-hover:hover * {
  color: var(--fill_dark_light_hover);
}
/**/

body.header_opacity.front_page .header:not(.header--offset) .header__main-part.header__main-part--can-transparent {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.102);
  box-shadow: none;
  border-radius: 0;
}
body.header_opacity.front_page
  .header:not(.header--offset):not(.light)
  .header__main-part.header__main-part--can-transparent {
  border-bottom: 1px solid rgba(0, 0, 0, 0.071);
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__main-part.header__main-part--can-transparent
  .banner-light-text {
  color: #fff;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__main-part.header__main-part--can-transparent
  .banner-light-icon-fill
  * {
  fill: #fff;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__main-part.header__main-part--can-transparent
  .banner-light-icon-stroke
  * {
  stroke: #fff;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__main-part.header__main-part--can-transparent
  .light-opacity-hover:hover {
  opacity: 0.5;
}

body.header_opacity.front_page .header.header--offset .header__main-part.bg_none.header__main-part--can-transparent {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.102);
  box-shadow: none;
  border-radius: 0;
}
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__main-part.bg_none.header__main-part--can-transparent {
  border-bottom: 1px solid rgba(0, 0, 0, 0.071);
}
body.header_opacity.front_page
  .header.header--offset.header--save-margin
  .header__main-part.bg_none.header__main-part--can-transparent {
  border-bottom: none;
}
body.header_opacity.front_page
  .header.header--offset
  .header__top-part
  ~ .header__main-part.bg_none.header__main-part--can-transparent {
  border-top: 1px solid rgba(255, 255, 255, 0.102);
}
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__top-part
  ~ .header__main-part.bg_none.header__main-part--can-transparent {
  border-top: 1px solid rgba(0, 0, 0, 0.071);
}
body.header_opacity.front_page
  .header.header--offset:not(.header--save-margin)
  .header__main-part.bg_none.header__main-part--can-transparent
  .header__main-inner {
  margin-left: -32px;
  margin-right: -32px;
}
body.header_opacity.front_page
  .header.header--offset.light
  .header__main-part.bg_none.header__main-part--can-transparent
  .banner-light-text,
body.header_opacity.front_page .header.header--offset.light .block_with_bg.bg_none .banner-light-text {
  color: #fff;
}
body.header_opacity.front_page
  .header.header--offset.light
  .header__main-part.bg_none.header__main-part--can-transparent
  .banner-light-icon-fill
  *,
body.header_opacity.front_page .header.header--offset.light .block_with_bg.bg_none .banner-light-icon-fill * {
  fill: #fff;
}
body.header_opacity.front_page
  .header.header--offset.light
  .header__main-part.bg_none.header__main-part--can-transparent
  .banner-light-icon-stroke
  *,
body.header_opacity.front_page .header.header--offset.light .block_with_bg.bg_none .banner-light-icon-stroke * {
  stroke: #fff;
}
body.header_opacity.front_page
  .header.header--offset.light
  .header__main-part.bg_none.header__main-part--can-transparent
  .light-opacity-hover:hover,
body.header_opacity.front_page .header.header--offset.light .block_with_bg.bg_none .light-opacity-hover:hover * {
  opacity: 0.5;
  opacity: 0.8;
}

body.header_opacity.front_page .header.header--offset .block_with_bg.bg_none .header__top-part {
  border-bottom: 1px solid rgba(255, 255, 255, 0.102);
}
body.header_opacity.front_page .header.header--offset:not(.light) .block_with_bg.bg_none .header__top-part {
  border-bottom: 1px solid #00000012;
}
body.header_opacity.front_page .header.header--offset:not(.light) .block_with_bg.bg_none {
  border-bottom: 1px solid #00000012;
}

body.header_opacity.front_page .header.header--offset .header__top-part+.header__main-part.header__main-part--can-transparent .header__main-inner.bg_none {
  border-bottom: 1px solid rgba(255, 255, 255, 0.102);
}

body.header_opacity.front_page .header.header--offset .header__main-part--can-transparent .header__main-inner.bg_none {
  background-color: transparent;
  border-bottom: none;
  box-shadow: none;
  border-radius: 0;
}
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__main-part--can-transparent
  .header__main-inner.bg_none {
  border-bottom: none;
}

body.header_opacity.front_page
.header.header--offset:not(.light)
.header__top-part+.header__main-part.header__main-part--can-transparent
.header__main-inner.bg_none {
border-bottom: 1px solid #00000012;
}

body.header_opacity.front_page
  .header.header--offset
  .header__top-part
  ~ .header__main-part.header__main-part--can-transparent
  .header__main-inner.bg_none {
  border-top: 1px solid rgba(255, 255, 255, 0.102);
}
body.header_opacity.front_page
  .header.header--offset:not(.light)
  .header__top-part
  ~ .header__main-part.header__main-part--can-transparent
  .header__main-inner.bg_none {
  border-top: 1px solid rgba(0, 0, 0, 0.071);
}
body.header_opacity.front_page
  .header.header--offset.light
  .header__main-part.header__main-part--can-transparent
  .header__main-inner.bg_none
  .banner-light-text {
  color: #fff;
}
body.header_opacity.front_page
  .header.header--offset.light
  .header__main-part.header__main-part--can-transparent
  .header__main-inner.bg_none
  .banner-light-icon-fill
  * {
  fill: #fff;
}
body.header_opacity.front_page
  .header.header--offset.light
  .header__main-part.header__main-part--can-transparent
  .header__main-inner.bg_none
  .banner-light-icon-stroke
  * {
  stroke: #fff;
}
body.header_opacity.front_page
  .header.header--offset.light
  .header__main-part.header__main-part--can-transparent
  .header__main-inner.bg_none
  .light-opacity-hover:hover {
  opacity: 0.5;
}

/* INNER */

/*black*/
body.header_opacity.front_page .header:not(.light) .header__inner--can-transparent.bg_none .banner-light-text {
  color: #333;
}
body.header_opacity.front_page .header:not(.light) .header__inner--can-transparent.bg_none .fill-dark-light,
.header_opacity.front_page
  .header:not(.light)
  .header__inner--can-transparent.bg_none
  .fill-dark-light-block:not(.svg):not(:hover)
  path {
  fill: #333;
}
body.header_opacity.front_page
  .header:not(.light)
  .header__inner--can-transparent.bg_none
  .fill-dark-light-block:not(.svg):hover
  path,
body.header_opacity.front_page
  .header:not(.light)
  .header__inner--can-transparent.bg_none
  .fill-theme-hover:not(.menu-light-text):hover
  * {
  fill: var(--theme-base-color);
}
body.header_opacity.front_page
  .header:not(.light)
  .header__inner--can-transparent.bg_none
  .fill-theme-parent:hover
  > .fill-theme-target
  *,
body.header_opacity.front_page
  .header:not(.light)
  .header__inner--can-transparent.bg_none
  .fill-theme-parent-all:hover
  .fill-theme-target
  * {
  fill: var(--theme-base-color);
}
body.header_opacity.front_page .header:not(.light) .header__inner--can-transparent.bg_none .color-theme-hover:hover,
body.header_opacity.front_page
  .header:not(.light)
  .header__inner--can-transparent.bg_none
  .banner-light-text:not(.address__text):not(.slogan__text):hover {
  color: var(--theme-base-color);
}
/**/

body.header_opacity.front_page .header:not(.header--offset) .header__inner.header__inner--can-transparent {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.102);
  box-shadow: none;
  border-radius: 0;
}
body.header_opacity.front_page
  .header:not(.header--offset)
  .header__inner.header__inner--can-transparent
  .header__top-part {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.102);
  box-shadow: none;
  border-radius: 0;
}
body.header_opacity.front_page .header:not(.header--offset):not(.light) .header__inner.header__inner--can-transparent {
  border-bottom: 1px solid rgba(0, 0, 0, 0.071);
}
body.header_opacity.front_page
  .header:not(.header--offset):not(.light)
  .header__inner.header__inner--can-transparent
  .header__top-part {
  border-bottom: 1px solid rgba(0, 0, 0, 0.071);
}
body.header_opacity.front_page
  .header:not(.header--offset)
  .header__inner.header__inner--can-transparent
  .header__main-part {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}
body.header_opacity.front_page
  .header:not(.header--offset)
  .header__inner.header__inner--can-transparent
  .header__left-part {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__inner.header__inner--can-transparent
  .banner-light-text {
  color: #fff;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__inner.header__inner--can-transparent
  .banner-light-icon-fill
  * {
  fill: #fff;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__inner.header__inner--can-transparent
  .banner-light-icon-stroke
  * {
  stroke: #fff;
}
body.header_opacity.front_page
  .header:not(.header--offset).light
  .header__inner.header__inner--can-transparent
  .light-opacity-hover:hover {
  opacity: 0.5;
}

/* MENU */
body.header_opacity.front_page .header__main-part--can-transparent .header-menu.bg_none {
  background-color: transparent;
}
@media (max-width: 1200px) {
  body.header_opacity.front_page .header__main-part--can-transparent .header-menu--bottom-1200.bg_none {
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);
    box-shadow: none;
    border-radius: 0;
  }
  .padding-bottom-62-1200 {
    padding-bottom: 62px;
  }
  body.header_opacity.front_page
    .header:not(.header--offset)
    .header__main-part.header__main-part--can-transparent
    .header-menu {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);
  }
  body.header_opacity.front_page
    .header.header--offset
    .header__main-part.bg_none.header__main-part--can-transparent
    .header-menu {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);
  }
  body.header_opacity.front_page
    .header.header--offset
    .header__main-part--can-transparent
    .header__main-inner.bg_none
    .header-menu {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);
  }

  .header__main-part--menu-compact-1200 .header-menu.header__main-item {
    margin-left: 0;
    margin-right: 14px;
  }
  .header__main-part--menu-compact-1200 .header-menu.header__main-item + .header__main-item {
    margin-left: 0;
  }
  .header__main-part--menu-compact-1200 .header-menu.header__main-item:first-of-type {
    margin-right: 14px;
  }
  .header .header__main-part--menu-compact-1200 .header-menu__item {
    margin: 0 10px;
  }
}

/*hide page scroll*/
.header:not(:hover) .header-menu:not(.header-menu--column),
.header:not(:hover) .header-menu .header-menu__dropdown-menu {
  overflow: hidden;
}

/* SEARCH */
body.header_opacity.front_page
  .header.header--offset
  .header__top-part.header__top-part--can-transparent
  .search
  .search-input,
body.header_opacity.front_page
  .header:not(.header--offset)
  .header__top-part.bg_none.header__top-part--can-transparent
  .search
  .search-input,
body.header_opacity.front_page
  .header:not(.header--offset)
  .header__top-part.header__top-part--no_border.header__top-part--can-transparent
  .search
  .search-input {
  background: rgba(255, 255, 255, 0.15) !important;
  border-color: rgba(0, 0, 0, 0.06) !important;
  color: #000;
}

body.header_opacity.front_page
  .header.light.header--offset
  .header__top-part.header__top-part--can-transparent
  .search
  .search-input,
body.header_opacity.front_page
  .header.light:not(.header--offset)
  .header__top-part.bg_none.header__top-part--can-transparent
  .search
  .search-input,
body.header_opacity.front_page
  .header.light:not(.header--offset)
  .header__top-part.header__top-part--no_border.header__top-part--can-transparent
  .search
  .search-input {
  color: #fff;
}

body.header_opacity.front_page
  .header.header--offset
  .header__top-part.header__top-part--can-transparent
  .search
  .search-input::placeholder,
body.header_opacity.front_page
  .header:not(.header--offset)
  .header__top-part.bg_none.header__top-part--can-transparent
  .search
  .search-input::placeholder,
body.header_opacity.front_page
  .header:not(.header--offset)
  .header__top-part.header__top-part--no_border.header__top-part--can-transparent
  .search
  .search-input::placeholder {
  color: #333;
}

body.header_opacity.front_page
  .header.light.header--offset
  .header__top-part.header__top-part--can-transparent
  .search
  .search-input::placeholder,
body.header_opacity.front_page
  .header.light:not(.header--offset)
  .header__top-part.bg_none.header__top-part--can-transparent
  .search
  .search-input::placeholder,
body.header_opacity.front_page
  .header.light:not(.header--offset)
  .header__top-part.header__top-part--no_border.header__top-part--can-transparent
  .search
  .search-input::placeholder {
  color: #fff;
}
/* mixed */
.header7_logo {
  margin-top: -5px;
}
