/* PAGE TITLE */
.container .page-top-wrapper {
  margin-left: -16px;
  margin-right: -16px;
}
body:not(.has-long-banner) .page-top-wrapper--grey {
  background: #f8f8f8;
  background: var(--darkerblack_bg_black);
  margin-bottom: 48px;
  border-bottom: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
}
section.page-top {
  padding: 37px 24px 40px;
  min-height: 56px;
  position: relative;
}
.page-top-wrapper--top-breadcrumb section.page-top {
  padding-top: 38px;
  padding-bottom: 36px;
}
body:not(.has-long-banner) .page-top-wrapper--grey section.page-top {
  /* padding-bottom: 49px; */
}
body:not(.has-long-banner) .page-top-wrapper--grey .page-top-wrapper--top-breadcrumb section.page-top {
  padding-bottom: 52px;
}
.title_position_centered section.page-top {
  text-align: center;
}
section.page-top.center {
  text-align: center;
}
.topic__heading #pagetitle {
  margin: 0;
  padding-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline;
  vertical-align: middle;
  line-height: calc(1em + 15px);
}
.cowl {
  position: relative;
  margin-bottom: 7px;
}
.cowl > div:not(.topic):not(#navigation) {
  margin: 3px -13px 0px 19px;
  width: 41px;
  text-align: center;
  position: relative;
  cursor: pointer;
  float: right;
}
.cowl .download .title{
  margin: 0 16px 0 10px;
  color: #999;
}
body:not(.has-long-banner) .cowl .download:hover .title{
  color: var(--fill_dark_light_hover);
}

.page-top-wrapper--top-breadcrumb .cowl {
  margin-bottom: 11px;
}
.page-top-wrapper--top-breadcrumb .cowl > div:not(.topic):not(#navigation) {
  margin-top: 3px;
}
.cowl > .topic,
.cowl > #navigation {
  text-overflow: ellipsis;
  overflow: hidden;
}
.element-count {
  border: 1px solid rgba(153, 153, 153, 0.35);
  padding: 0px 7px 0px;
  position: relative;
  top: 4px;
  margin-left: 15px;
  margin-bottom: 6px;
  display: inline-block;
}

.block-wo-title section.page-top .cowl {
  margin-bottom: 0px;
}
.block-wo-title section.page-top {
  padding-top: 24px;
}
.block-wo-title section.page-top {
  padding-bottom: 37px;
}
.block-wo-title .page-top-wrapper--grey section.page-top {
  padding-bottom: 27px;
}

/* PAGINATION */
.bottom_nav {
  margin: 0px;
  text-align: center;
}
.ajax_load_btn {
  text-align: center;
  margin: 20px 0px 0px;
  cursor: pointer;
  display: inline-block;
}
.more_text_ajax {
  color: #333;
  color: var(--fill_dark_light_ccc);
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 19px 0px 16px 33px;
}
body .more_text_ajax:hover {
  color: var(--theme-base-color);
}
.more_text_ajax .svg {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 6px;
  top: 22px;
}
.more_text_ajax.loading .svg {
  -webkit-animation: spinner 0.5s linear infinite !important;
  animation: spinner 0.5s linear infinite !important;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.more_text_ajax:hover .svg,
.ajax_load_btn:hover .more_text_ajax .svg {
  -webkit-animation: spinner 0.5s ease-out 1;
  animation: spinner 0.5s ease 1;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.module-pagination {
  margin-top: 32px;
  position: relative;
}
.ajax_load_btn + .module-pagination {
  margin-top: 13px;
}
.module-pagination__item {
  display: inline-block;
  width: 56px;
  height: 62px;
  text-align: center;
  line-height: 62px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  color: #333;
  color: var(--white_text_black);
}
module-pagination__item--all {
  width: auto;
  margin: 0px 10px;
}
.module-pagination .cur:after {
  content: "";
  display: block;
  height: 2px;
  background-color: #9e9e9e;
  background-color: var(--theme-base-color);
  bottom: -1px;
  position: absolute;
  width: 100%;
}
.arrows-pagination__item {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 92px;
}
.arrows-pagination__prev {
  left: 0px;
}
.arrows-pagination__next {
  right: 0px;
}
.arrows-pagination__item .arrow-all {
  left: 50%;
  transform: translateX(-50%);
  top: 27px;
}

@media (min-width: 601px) {
  .bottom_nav.mobile_slider {
    display: none;
  }
}
@media (min-width: 769px) {
  .cowl .download{
    width: initial !important;
  }
}
@media (max-width: 768px) {
  .cowl .download .title{
    display: none;
  }
}
@media (max-width: 600px) {
  #main .bottom_nav.mobile_slider {
    width: auto;
  }
  .bottom_nav.mobile_slider .ajax_load_btn {
    padding: 0 !important;
    height: 100%;
    display: block;
    margin: 0px;
    border: none;
    width: calc(99px + 16px);
  }
  .bottom_nav.mobile_slider .more_text_ajax {
    height: 100%;
    margin: 0 0 0 1px;
    white-space: normal;
    padding: 26px 15px 0;
    display: flex;
    align-items: center;
    background: 0 0;
    line-height: 16px;
    border: none;
  }
  .bottom_nav.mobile_slider .module-pagination {
    display: none;
  }
  .bottom_nav.mobile_slider .svg {
    top: calc(50% - 27px);
    left: calc(50% - 10px);
    width: auto;
    height: auto;
  }
  .bottom_nav.mobile_slider .svg svg {
    width: 18px;
    height: 18px;
  }

  .topic__heading #pagetitle {
    font-size: 2em;
    line-height: calc(1em + 6px);
  }
}
@media (max-width: 450px) {
  .module-pagination__item {
    width: 36px;
  }
}
