.front-price,
.front-price .form-control {
  background-color: #e65100 !important;
  color: #FFFFFF !important;;
}

.front-price .title_block,
.front-price span,
.front-price label,
.front-price a {
  color: #FFFFFF !important;
}

.front-price .btn.btn-default {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #e65100;
}

.front-price .filter input[type="checkbox"]+label:before {
  background-color: #ffba95;
}

.front-price a {
  text-decoration: underline;
}

.tabs-column-content .col-m-20{
  width: 100% !important;
}

.bx-soa-pp-company button {
  display: block;
}

@media (max-width: 600px) {
  .amo-button-holder {
    right: 10px !important;
    bottom: 20px !important;
  }
  .top_big_banners {
    display: none;
  }
  .tizers_block {
    display: none;
  }
}
