.dark-color:hover,
a.colored,
.colored {
  color: #8059d8;
}
a {
  color: #8059d8;
}
a.colored:hover,
.colored:hover {
  color: #333;
}
a:active {
  color: #552bb5;
}
.overlay_form .dot {
  background: #8059d8;
}
a.grey {
  color: #818181;
}
a.grey:hover {
  color: #8059d8;
}
.dark_link:hover {
  color: #8059d8;
}
.btn-inline {
  color: #8059d8;
}
.btn-inline.black:hover {
  color: #8059d8;
}
.btn-inline.rounded:hover i {
  background: #8059d8;
}
.change_block .change_params:hover {
  background: #8059d8;
}
body .fa.big-icon {
  background: #8059d8;
}
body .fa.big-icon.grey {
  color: #8059d8;
  background: #efefef;
}
.icon-text {
  color: #fff;
  background: #8059d8;
}
.icon-text .fa {
  color: #fff;
}
.icon-text.grey {
  color: #333;
  background: #efefef;
}
.icon-text.grey .fa {
  color: #8059d8;
}
.rss:hover svg path {
  fill: #8059d8;
}
a.scroll-to-top.ROUND_COLOR,
a.scroll-to-top.RECT_COLOR {
  background-color: #8059d8;
}
a.scroll-to-top.ROUND_COLOR:hover,
a.scroll-to-top.RECT_COLOR:hover {
  background-color: #997ae0;
}
.underline {
  border-bottom: 2px solid #8059d8;
}
blockquote::before {
  background-color: #8059d8;
}
blockquote.info:before {
  background-color: #8059d8;
}
.review .it:before {
  color: #8059d8;
}
.styled-block {
  border-left-color: #8059d8;
}
.list.icons .fa {
  color: #8059d8;
}
table.table th {
  background-color: #8059d8;
}
hr.colored_line {
  border-color: #8059d8;
}
.logo .logo_svg {
  fill: #8059d8;
}
.marker svg .cls-marker2 {
  fill: #8059d8;
}
.cluster_custom svg .cls-cluster2 {
  fill: #8059d8;
}
.btn.btn-default {
  background-color: #8059d8;
  border-color: #8059d8;
  color: #ffffff;
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus {
  background-color: #9372de;
  border-color: #9372de;
}
.btn.btn-default.white {
  color: #8059d8;
  border: 1px solid #fff;
  background: #ffffff;
}
.btn.btn-default.white:hover,
.btn-default.white:active,
.btn-default.white:focus {
  color: #ffffff !important;
  border-color: #9372de;
  background: #9372de;
}
.btn.btn-default.white.white-bg:hover,
.btn-default.white.white-bg:active,
.btn-default.white.white-bg:focus {
  color: #8059d8 !important;
  border-color: #8059d8;
  background: #fff;
}
.btn.btn-primary {
  background-color: #00b290;
  border-color: #00b290;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: #30c4a8;
  border-color: #30c4a8;
}
.btn.btn-success {
  background-color: #84bc29;
  border-color: #84bc29;
}
.btn.btn-success:hover,
.btn.btn-success:active,
.btn.btn-success:focus {
  background-color: #9dca53;
  border-color: #9dca53;
}
.btn.btn-info {
  background-color: #0ca9e3;
  border-color: #0ca9e3;
}
.btn.btn-info:hover,
.btn.btn-info:active,
.btn.btn-info:focus {
  background-color: #39baec;
  border-color: #39baec;
}
.btn.btn-warning {
  background-color: #f38b04;
  border-color: #f38b04;
}
.btn.btn-warning:hover,
.btn.btn-warning:active,
.btn.btn-warning:focus {
  background-color: #f8a132;
  border-color: #f8a132;
}
.btn.btn-danger {
  background-color: #dc130d;
  border-color: #dc130d;
}
.btn.btn-danger:hover,
.btn.btn-danger:active,
.btn.btn-danger:focus {
  background-color: #e63f3a;
  border-color: #e63f3a;
}
.btn.btn-transparent {
  color: #8059d8;
  border-color: rgba(128,89,216,0.3);
}
.btn.btn-transparent:hover,
.btn.btn-default.btn-transparent:hover {
  color: #ffffff;
  background-color: #9372de;
  border-color: #9372de;
}
.btn.btn-responsive-nav {
  background-color: #8059d8;
}
.btn.btn-responsive-nav:hover {
  color: #8059d8;
  border: 1px solid #8059d8;
  background-color: #ffffff;
  padding: 4px 7px 2px;
}
.btn.btn-link {
  color: #8059d8;
  border-color: #dfd5f5;
}
.btn.btn-link:hover {
  color: #9372de;
  border-color: transparent;
}
.btn.btn-link:active {
  color: #552bb5;
}
.btn.btn-default.wc.vert .fa {
  background-color: #8059d8;
}
.btn.btn-default.wc.vert:hover .fa {
  background-color: #9372de;
}
.btn.btn-transparent-border:hover {
  background-color: #8059d8;
  border: 1px solid #8059d8;
}
.label.label-default {
  background: #93a6bc;
}
.label.label-primary {
  background: #b8c2cd;
}
.label.label-success {
  background: #5cb85c;
}
.label.label-warning {
  background: #f0ad4e;
}
.label.label-danger {
  background: #d9534f;
}
.top-block.colored {
  background: #8059d8;
}
.top-block .social-icons li a:hover:before {
  background-color: #8059d8;
}
.top-block .top-block-item  .inline-search-show:hover>span {
  color: #8059d8;
}
.logo_and_menu-row .inline-search-show:hover .title {
  color: #8059d8;
}
.menu-only.with_icons .mega-menu table td.full_dropdown>.wrap>.dropdown-menu>li .image.wbg {
  background-color: #8059d8;
}
.mega-menu table td.full_dropdown .dropdown-submenu .dropdown-menu li a:hover {
  color: #9372de;
}
.logo.colored img,
header .line-row,
#mobileheader .logo.colored img {
  background-color: #8059d8;
}
.logo_and_menu-row .personal-link:hover .svg path,
.logo_and_menu-row .basket-link:hover .svg path,
.logo_and_menu-row .inline-search-show:hover .svg path,
.logo_and_menu-row .burger:hover .svg-burger path,
.top-block .top-block-item .personal-link:hover .svg path,
.top-block .top-block-item .basket-link:hover .svg path,
.top-block .top-block-item .inline-search-show:hover .svg path,
.top-block .top-block-item .burger:hover .svg-burger path,
.top-block .social-icons li a:hover svg path {
  fill: #8059d8;
}
.logo-row .top-callback .phone .fa,
.logo-row .top-callback .email .fa {
  background-color: #8059d8;
}
.logo-row .top-callback .email,
.logo-row .top-callback .email a:hover {
  color: #9372de;
}
.display-type .view-button:not(.cur):hover svg path {
  fill: #8059d8;
}
.catalog.sections .row_block .item.wicons .image {
  background-color: #8059d8;
}
#mobileheader .mobileheader-v2 {
  background: #8059d8;
}
#mobileheader .burger:hover .svg-burger path {
  fill: #8059d8;
}
#mobileheader .burger:hover .svg-close path {
  fill: #8059d8;
}
#mobilemenu .contacts a:hover {
  color: #8059d8;
}
#mobilemenu .menu>ul>li.counters .count {
  background: #8059d8;
}
#mobilemenu .menu.middle a:hover .svg path {
  fill: #8059d8;
}
#mobilemenu .expanded>.dropdown .menu_back:hover .svg path {
  fill: #8059d8;
}
#mobilemenu .menu ul>li a:hover .arrow .svg path {
  fill: #8059d8;
}
#mobilemenu .svg-close:hover path {
  fill: #8059d8;
}
#mobilemenu .expanded>.dropdown .menu_back a:hover {
  color: #8059d8;
}
.style-switcher .oversite_button:hover {
  background-color: #8059d8;
}
.style-switcher .right-block .block-item .item .options .rows .tabs .tab.current a:before {
  background: #8059d8;
}
.style-switcher .right-block .block-item .item .options .rows .tabs_content .opener_wrap .opener_tab:hover {
  background: #8059d8;
}
.style-switcher .sup-params .title_wrap .block-title {
  color: #8059d8;
  border: 1px solid rgba(128,89,216,0.3);
}
.style-switcher .switch:hover {
  background: #8059d8;
}
.style-switcher .header .header-inner.reset {
  border: 1px solid #8059d8;
  color: #8059d8;
}
.style-switcher .header .header-inner.reset:hover {
  background-color: #9372de;
  border-color: #9372de;
}
.style-switcher .header .header-inner svg path {
  fill: #8059d8;
}
.style-switcher .header.can_save .save_btn {
  border: 1px solid #8059d8;
  background: #8059d8;
}
.style-switcher .header.can_save .save_btn:hover {
  border-color: #9372de;
  background: #9372de;
}
.style-switcher .options > a.current:not(.block),
.style-switcher .options .link-item.current:not(.block) {
  background: #8059d8;
}
.style-switcher .options .link-item.current.block {
  border-color: #8059d8;
}
.style-switcher .tooltip-link:hover {
  background: #8059d8;
  border-color: #8059d8;
}
.style-switcher .options[data-code="BASE_COLOR"] > div.current > span,
.style-switcher .options[data-code="BASE_COLOR"] > div.current > span:hover {
  border-color: #8059d8;
}
.style-switcher .options[data-code="BGCOLOR_THEME"] > div.current > span,
.style-switcher .options[data-code="BGCOLOR_THEME"] > div.current > span:hover {
  border-color: #8059d8;
}
.style-switcher .left-block .section-block.active:before {
  background: #8059d8;
}
.style-switcher .block-title .dotted-block {
  color: #8059d8;
}
.style-switcher .block-title .dotted-block:hover {
  background-color: #9372de;
  border-color: #9372de;
}
.style-switcher .sup-params.opened .title_wrap .block-title {
  background-color: #8059d8;
  border-color: #8059d8;
}
.change_block .left_border_changer,
.change_block .top_border_changer,
.change_block .right_border_changer,
.change_block .bottom_border_changer {
  border-color: #8059d8;
}
.change_block .change_params {
  background: #8059d8;
}
.change_block .change_params:hover {
  background: #9372de;
}
.change_block .variant_panel .variant.active {
  border-color: #8059d8;
}
.change_block .variant_panel {
  border: 2px solid #8059d8;
  border-top: none;
}
.change_block .variant_panel.FOOTER_TYPE {
  border-top: 2px solid #8059d8;
}
.change_block .variant_panel .flex-direction-nav a:hover {
  background: #8059d8;
}
.bottom_panel .reset:hover {
  background: #8059d8;
}
.bottom_panel .close:hover {
  background: #8059d8;
}
.change_block .actions .action_down,
.change_block .actions .action_up,
.change_block .actions .action_hide {
  background: #8059d8;
}
.change_block .actions .action_down:hover,
.change_block .actions .action_up:hover,
.change_block .actions .action_hide:hover {
  background: #9372de;
}
.change_block .actions .action_down.disabled:hover,
.change_block .actions .action_up.disabled:hover {
  background: #8059d8;
}
.bottom_panel .components .item .add_block:hover {
  background: #8059d8;
}
.bottom_panel .components .item.wtemplates .variant_panel .variant.active {
  border-color: #8059d8;
}
.bottom_panel .components .item.wtemplates .variant_panel .flex-direction-nav a:hover {
  background: #8059d8;
}
.bottom_panel .components .item.wtemplates .variant_panel .close_panel:hover svg path {
  fill: #8059d8;
}
.bottom_panel .components .item.wtemplates .variant_panel .variant .select_variant>span {
  background: #8059d8;
}
.bottom_panel .components .item.wtemplates .variant_panel .variant .select_variant:hover>span {
  background: #9372de;
}
.flexslider .flex-direction-nav a:hover {
  background: #8059d8;
}
.top-block .search .search-wrapper {
  background: #8059d8;
}
.menu-row .search-button-div .fa-close:hover {
  color: #9372de;
}
.search .btn-search {
  color: #8059d8;
}
.mega-menu ul.nav li.active,
.mega-menu ul.nav li:hover {
  background-color: #8059d8;
}
.menu-row.bgcolored:not(.white) .mega-menu table td.active .wrap > a,
.menu-row.bgcolored:not(.white) .mega-menu table td:not(.search-item):hover .wrap > a {
  background: #7044d3;
}
.mega-menu table td .wrap > a.more-items:hover:before {
  background-color: #9372de;
}
.mega-menu table td.active .wrap > a >span {
  color: #8059d8;
}
.topmenu-LIGHT .mega-menu table td.active .wrap > .more-items span:before,
.topmenu-LIGHT .mega-menu table td:not(.search-item):hover .wrap > .more-items span:before {
  background-color: #8059d8;
}
.mega-menu table td .wrap > a .line-wrapper .line {
  background-color: #8059d8;
}
.topmenu-LIGHT .mega-menu table .tail {
  border-bottom: 6px solid #7348d4;
}
.mega-menu table .dropdown-menu li > a:hover,
.mega-menu table .dropdown-submenu:hover > a,
.mega-menu table .dropdown-submenu:hover > a:after {
  color: #8059d8;
}
.mega-menu table .dropdown-menu li.active > a,
.mega-menu table .dropdown-submenu.active > a,
.mega-menu table .dropdown-submenu.active  > a:after {
  color: #8059d8;
}
.marker-nav {
  background-color: #8059d8;
}
.mega-menu table td.active .wrap > a {
  color: #8059d8;
}
.inline-search-block .close-block:hover .close-icons path {
  fill: #8059d8;
}
.mega_fixed_menu .search-button-div:hover .svg-search {
  background-color: #8059d8;
}
.mega_fixed_menu .right_block .email a:hover {
  color: #8059d8;
}
.mega_fixed_menu .svg.svg-close.arrow:hover {
  background-color: #8059d8;
}
.list-type-block.item-views.licenses .item:hover .body-info .zoom:not(:hover) {
  background: #8059d8;
}
.wrap_basket .remove.all:hover {
  color: #8059d8;
}
.wrap_basket .remove.all:hover svg path {
  fill: #8059d8;
}
.mega_fixed_menu .mega-menu table .wrap > .dropdown-menu .dropdown-submenu > a>.arrow>i:hover {
  background-color: #8059d8;
}
.mega_fixed_menu .svg.svg-close:hover path {
  fill: #8059d8;
}
.inline-search-block.bg-colored-block.show {
  background-color: #8059d8;
}
.menu-row.bgcolored .wrap_icon:hover {
  background-color: #8059d8;
}
.logo_and_menu-row .burger:hover .svg-burger.mask {
  background-color: #8059d8;
}
body .basket-link .count {
  background-color: #8059d8;
}
body .top-block .top-block-item .basket-link.basket-count .count {
  background: #8059d8;
}
.logo_and_menu-row .basket-link:hover .title {
  color: #8059d8;
}
.top-block-item  .basket-link:hover  .title {
  color: #8059d8;
}
.top-btn:hover .svg.mask {
  background-color: #8059d8;
}
a:hover .svg.mask {
  background-color: #8059d8;
}
.menu-row.bgcolored {
  background: #8059d8;
}
#headerfixed .menu-block.rows:hover {
  background-color: #8059d8;
}
#headerfixed .menu-block .navs ul li.active > a,
#headerfixed .menu-block .navs ul li a:hover,
#headerfixed .menu-block .navs ul li a:focus {
  color: #8059d8;
}
#headerfixed .inline-search-show:hover .svg-search.mask {
  background-color: #8059d8;
}
#headerfixed .basket-link.basket-count .count {
  background: #8059d8;
}
#mobileheader .basket-link:hover .svg path,
#mobileheader .personal-link:hover .svg path,
#mobileheader .inline-search-show:hover .svg path,
#headerfixed .personal-link:hover .svg path,
#headerfixed .basket-link:hover .svg path,
#headerfixed .logo-row .burger:hover .svg-burger path,
#headerfixed .inline-search-show:hover .svg-search path,
.mega_fixed_menu .right_block .basket-link:hover .svg path,
.mega_fixed_menu .right_block .personal-link:hover .svg path {
  fill: #8059d8;
}
.mega_fixed_menu .right_block .basket-link:hover .title {
  color: #8059d8;
}
#headerfixed .search .btn-search:hover .svg-search {
  background-color: #8059d8;
}
.search-page .searchinput .btn-search:hover .svg {
  background-color: #8059d8;
}
.item-views.services-items .menu li.selected>span:before {
  background: #8059d8;
}
.wrap-portfolio-front {
  background: #8059d8;
}
.color-controls .item .zoom:hover {
  background-color: #8059d8;
}
.item-views.company.front .image .play:after {
  background: #8059d8;
}
.item-views.company.front .image .play:hover:after {
  background: #9372de;
}
.item-views.company.front .props .image {
  background-color: #8059d8;
}
.search-tags-cloud .tags a:hover {
  background: #8059d8;
  border-color: #8059d8;
}
.contacts.front .title a:hover {
  color: #8059d8;
}
.contacts.front .left_block .top_block .title a:hover {
  color: #8059d8;
}
.ymaps-b-balloon .property.email .value a:hover {
  color: #8059d8;
}
.item-views.sections.type_5_within .items .item .wrap_item:hover .arrow_link {
  background-color: #8059d8;
  border-color: #8059d8;
}
.item-views.sections.type_5_within .items .item .wrap_item:hover .arrow_link:hover {
  background-color: #9372de;
  border-color: #9372de;
}
.basket_top .dropdown {
  border-color: #8059d8;
}
.basket_top .dropdown:before {
  border-bottom-color: #8059d8;
}
.remove:hover svg path {
  fill: #8059d8;
}
.basket_order .description:before {
  background: #8059d8;
}
.basket.fly .opener .count {
  background: #8059d8;
}
.basket.fly.DARK .opener .count {
  background: #8059d8;
}
.basket.fly.COLOR .opener {
  background: #8059d8;
  border-color: #8059d8;
}
.basket.fly.COLOR .opener:hover {
  background: #9372de;
  border-color: #9372de;
}
header.topmenu-DARK:not(.fixed) .basket_top .count {
  background: #8059d8;
}
header.topmenu-COLOR:not(.fixed) .basket_top:hover {
  background: #9372de;
}
.foot .remove>span:hover {
  color: #8059d8;
}
.foot .remove>span:hover svg path {
  fill: #8059d8;
}
.side_forms .button>span>span:before {
  background-color: #8059d8;
}
.fly_forms .button>span:hover svg path {
  fill: #8059d8;
}
.basket.fly .opener:hover:before {
  background-color: #8059d8;
}
.fly_forms .button>span.disabled svg path {
  fill: #8059d8;
}
.ajax_basket.opened .opener:before {
  background-color: #8059d8;
}
.basket.fly .opener:hover .svg-basket path {
  fill: #8059d8;
}
.fancybox-prev span:hover {
  background-color: #8059d8;
}
.fancybox-next span:hover {
  background-color: #8059d8;
}
.fancybox-close:hover svg.svg.svg-close path {
  fill: #8059d8;
}
.body .page-top .print-link:hover .cls-print {
  fill: #8059d8;
}
.breadcrumb a:hover {
  color: #333;
}
.breadcrumb a:active {
  color: #552bb5;
}
.breadcrumb li > a:hover {
  color: #9372de;
}
.pagination li.active + li a,
.pagination li.active + li span,
.pagination li:hover + li a,
.pagination li:focus + li span,
.pagination li:focus + li a,
.pagination li:hover + li span {
  border-left-color: #8059d8 !important;
}
.pagination a:hover .fa {
  color: #8059d8;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #8059d8;
}
.pagination li.prev a:hover i,
.pagination li.next a:hover i {
  background-color: #8059d8;
}
footer.light .bottom-menu .item .title a:hover,
footer.light .bottom-menu .wrap .item .title a:hover,
footer.light .info .email a:hover {
  color: #8059d8;
}
footer .info .subscribe_button .btn:hover {
  background-color: #9372de;
  border-color: #9372de;
}
.side-menu .submenu > li:not(.active) > a:hover {
  color: #9372de;
}
.side-menu > li > a:hover .icons svg path {
  fill: #9372de;
}
.catalog_opener:hover .arrow {
  background-color: #8059d8;
}
.detail .tizers .tizer.image_bg .image {
  background-color: #8059d8;
}
.ask_a_question:hover .outer {
  background-color: #8059d8;
}
.ask_a_question:hover .outer>span {
  border-color: #8059d8;
}
.ask_a_question .outer:hover {
  background-color: #9372de;
}
.ask_a_question .outer>span:hover {
  border-color: #9372de;
}
.sidearea .ask_question .button:hover>span {
  border-color: #8059d8;
}
.sidearea .ask_question:hover .button {
  background: #8059d8;
}
.sidearea .ask_question:hover .button>span {
  border-color: #8059d8;
}
.sidearea .ask_question .button:hover {
  background: #9372de;
}
.sidebar .switcher span {
  background: #8059d8;
}
.order-block .text:before {
  background-color: #8059d8;
}
.order-block  .btn.question svg path {
  fill: #8059d8;
}
.opener {
  color: #8059d8;
}
.opener:before {
  background-color: #8059d8;
}
.url-block span:hover {
  color: #8059d8;
}
.url-block span:hover:before {
  background-color: #8059d8;
}
.share .shares-block:hover .svg-share path {
  fill: #8059d8;
}
.detail.news .top-wrapper .print-link:hover path {
  fill: #8059d8;
}
.contacts_list .contacts-stores .item .show_on_map>span {
  color: #8059d8;
}
.contacts_list .contacts-stores .item .show_on_map>span svg path {
  fill: #8059d8;
}
.contacts-stores .item .top-wrap .show_on_map>span {
  color: #8059d8;
}
.contacts-stores .item .top-wrap .show_on_map>span svg path {
  fill: #8059d8;
}
.auth_wrapp .form-body .forgot:hover {
  color: #8059d8;
}
.auth_wrapp .form-wr .prompt label:hover {
  color: #8059d8;
}
.uploader:hover {
  background: #8059d8;
  border-color: #8059d8;
}
.form .add_file:hover,
.form .add_text:hover {
  color: #8059d8;
}
.clsp-1,
.clsp-2 {
  fill: #8059d8;
  fill-rule: evenodd;
}
.clsp-2 {
  opacity: 0.1;
}
.ymaps-b-balloon .ymaps-b-balloon__close:hover svg path {
  fill: #8059d8;
}
.item-views.table.table-type-block .licenses_block .items .item .zoom {
  background: #8059d8;
}
.item-views.table.table-type-block .licenses_block .items .item .zoom:hover {
  background: #9372de;
}
.list-type-block.item-views.licenses .item .image .zoom {
  background: #8059d8;
}
.list-type-block.item-views.licenses .item .image .zoom:hover {
  background: #9372de;
}
.bx_filter input[type="checkbox"]:checked + label.onoffswitch-label:before,
.filter input[type="checkbox"]:checked + label.onoffswitch-label:before,
.filter input[type="radio"]:checked + label.onoffswitch-label:before {
  background: #8059d8;
}
.catalog .bx_filter_section .bx_filter_block .toggle:hover span {
  border-color: #9372de;
}
.catalog .bx_filter_section .bx_filter_block .pict label:hover,
.catalog .bx_filter_section .bx_filter_block .pict label.active {
  border-color: #8059d8;
}
.catalog .bx_filter_section .bx_filter_block .bx_filter_param_label:hover .bx_filter_param_btn,
.catalog .bx_filter_section .bx_filter_block .bx_filter_param_label.active .bx_filter_param_btn {
  border-color: #8059d8;
}
.bx_filter input[type="checkbox"] + label:hover {
  color: #8059d8;
}
.jqmClose.top-close:hover svg path {
  fill: #8059d8;
}
.contacts.front.type_2 .detail_desc_items .top-close:hover svg path {
  fill: #8059d8;
}
.top_mobile_region .confirm_region+.close_popup:hover svg path {
  fill: #8059d8;
}
.tabs .nav-tabs a:hover,
.tabs .nav-tabs a:active,
.tabs .nav-tabs a:focus {
  color: #8059d8;
}
.bx_soc_comments_div .tabs .nav-tabs li.active a {
  color: #8059d8;
}
.bx_soc_comments_div .tabs .nav-tabs li.active:after {
  background: #8059d8;
}
.bx_soc_comments_div .tabs .nav-tabs li.active a span:before {
  background-color: #8059d8;
}
.bx-ilike-button:not(.bx-ilike-button-disable):hover .bx-ilike-left-wrap:before {
  background-color: #8059d8;
}
.bx-ilike-button:hover {
  color: #8059d8;
}
.blog-post-tag a:hover,
.blog-comment-meta a:hover,
.blog-mainpage-meta a:hover {
  color: #8059d8 !important;
}
.nav-tabs > li.active:after {
  background: #8059d8;
}
.sections.head-block.top .item-link.active .title span:before {
  background: #8059d8;
}
.title-tab-heading:hover .arrow_open,
.accordion-head:hover .arrow_open,
.item:hover .arrow_open.link {
  background: #8059d8;
  border: 1px solid #8059d8;
}
.accordion-head .arrow_open:hover,
.item .arrow_open.link:hover {
  background: #9372de;
  border: 1px solid #9372de;
}
.item.opened .accordion-head:before {
  background: #8059d8;
}
.item-views.vacancy_list.type_2 .items .item:hover .top-info .arrow_link {
  background-color: #8059d8;
  border-color: #8059d8;
}
.item-views.vacancy_list.type_2 .items .item .top-info .arrow_link:hover {
  background-color: #9372de;
  border-color: #9372de;
}
.item-views.tarifs .flexslider .item:hover .buy_block .btn>span,
.item-views.tarifs .flexslider .item:hover .order .btn>span {
  border-color: #8059d8;
}
.item-views.tarifs .flexslider .item:hover .buy_block .btn:hover>span,
.item-views.tarifs .flexslider .item:hover .order .btn:hover>span {
  border-color: #9372de;
}
.item-views.tarifs .flexslider .item:hover .buy_block .btn,
.item-views.tarifs .flexslider .item:hover .order .btn {
  background-color: #8059d8;
}
.item-views.tarifs .flexslider .item:hover .buy_block .btn:hover,
.item-views.tarifs .flexslider .item:hover .order .btn:hover {
  background-color: #9372de;
}
.item-views.tarifs.wicons .item.wbg .image>.wrap {
  background-color: #8059d8;
}
.item-views.tarifs.type_4 .item:hover .btn {
  background: #8059d8;
  border-color: #8059d8;
}
.item-views.tarifs.type_4 .item:hover .btn:hover {
  background: #9372de;
  border-color: #9372de;
}
.item-views.tarifs.type_4 .item .buy_block .btn.in_cart>span>span svg path {
  fill: #8059d8;
}
.item-views.tarifs.type_6 .flexslider .item .buy_block .btn,
.item-views.tarifs.type_6 .flexslider .item .order .btn {
  border: 1px solid #dfd5f5;
  color: #8059d8;
}
.item-views.tarifs.type_6 .flexslider .item:hover .buy_block .btn,
.item-views.tarifs.type_6 .flexslider .item:hover .order .btn {
  border-color: #8059d8;
}
.item-views.tarifs.type_6 .flexslider .item:hover .buy_block .btn:hover,
.item-views.tarifs.type_6 .flexslider .item:hover .order .btn:hover {
  border-color: #9372de;
}
.item-views.tarifs.type_6 .item .buy_block .btn.in_cart>span svg path {
  fill: #8059d8;
}
.item-views.tarifs.type_8 .item .prices .all_price li:hover .price_title:before,
.item-views.tarifs.type_8 .item .prices .all_price li.active .price_title:before {
  border-color: #8059d8;
  background: #8059d8;
}
.item-views.tarifs.type_8 .item .buy_block .btn {
  border: 1px solid #dfd5f5;
  color: #8059d8;
}
.item-views.tarifs.type_8 .item:hover .buy_block .btn {
  border-color: #8059d8;
}
.item-views.tarifs.type_8 .item:hover .buy_block .btn:hover {
  border-color: #9372de;
}
.item-views.tarifs.type_8 .item .buy_block .btn.in_cart svg path {
  fill: #8059d8;
}
.catalog.detail .active .title-tab-heading,
.catalog.detail .title-tab-heading:focus,
.catalog.detail .title-tab-heading:active,
.catalog.detail .title-tab-heading:hover {
  color: #8059d8;
}
.detail .galery .item span.zoom:hover {
  background-color: #8059d8;
}
.detail .galerys-block .big-gallery-block .item .zoom:hover {
  background-color: #8059d8;
}
.catalog.detail .link-block-more>span:hover:before {
  background-color: #8059d8;
}
.catalog.detail .galery .item .zoom:hover {
  background-color: #8059d8;
}
.catalog.detail .head .link-block-more>span:hover:before {
  background-color: #8059d8;
}
.detail .galery #carousel .flex-direction-nav a:hover:before {
  background-color: #8059d8;
}
.item-views.sections.type_4_within.type_12_within .items .item.wbg .image {
  background-color: #8059d8;
}
.tizers.in_content .tizer.image_bg .image img {
  background-color: #8059d8;
}
.catalog.sections.type_4_within .item:hover .arrow_link {
  background-color: #8059d8;
  border-color: #8059d8;
}
.catalog.sections.type_4_within .item:hover .arrow_link:hover {
  background-color: #9372de;
  border-color: #9372de;
}
.front_tizers .item.image_bg .image {
  background-color: #8059d8;
}
.changer.save_btn:hover {
  background: #8059d8;
}
.landings_list .more>span:before {
  background-color: #8059d8;
}
.landings_list .more>span {
  color: #8059d8;
}
.tabs_ajax .head-block .item-link:not(.active) span:hover {
  color: #9372de;
}
.tabs_ajax .head-block .item-link.active span:after {
  background: #8059d8;
}
.head-block .subscribe span:hover {
  color: #8059d8;
}
.head-block .subscribe span:hover svg path {
  fill: #8059d8;
}
.item-views.news-items.front .subscribe:hover .subscribe_icon path {
  fill: #8059d8;
}
.buttons .settings:hover {
  color: #8059d8;
}
.buttons .settings:hover svg path {
  fill: #8059d8;
}
.close-block.search_type_1:hover svg path {
  fill: #8059d8;
}
.inline-search-block.fixed.big.show_center .search .btn-search {
  background-color: #8059d8;
  border-color: #8059d8;
}
.inline-search-block.fixed.big.show_center .search .btn-search:hover {
  background-color: #9372de;
  border-color: #9372de;
}
.wrap_basket .basket_empty .button .btn:hover {
  background-color: #8059d8;
}
.wrap_basket .basket_empty .button .btn:hover:before {
  background: #8059d8;
}
.item-views.news-items:not(.projects) .subscribe:hover:before {
  background-color: #8059d8;
}
.item-views.news-items:not(.projects) .subscribe:hover {
  color: #8059d8;
}
.show_all:hover {
  color: #8059d8;
}
.item-views.front .show_all:hover {
  color: #8059d8;
}
.item-views.front .arrows .arrow:hover {
  background: #8059d8;
}
.item-views.services-items.type_1 .menu li:not(.selected):hover {
  color: #8059d8;
}
.item-views.services-items.type_1 .menu li.selected:before {
  background: #8059d8;
}
.item-views.services-items.type_1 .items .item>.wrap .more:hover a {
  background: #8059d8;
  border-color: #8059d8;
  color: #FFF;
}
.item-views.services-items.type_1 .items .item>.wrap .more:hover a:before {
  background: #8059d8;
}
.item-views.services-items.icons .items .item.wbg .image img {
  background-color: #8059d8;
}
.item-views.staff-items.within.type_2.type_3 .items .item:hover .arrow_link {
  background-color: #8059d8;
  border-color: #8059d8;
}
.item-views.staff-items.within.type_2.type_3 .items .item:hover .arrow_link:hover {
  background-color: #9372de;
  border-color: #9372de;
}
.item-views.staff-items.within.type_3 .items .item:hover .arrow_link {
  background-color: #8059d8;
  border-color: #8059d8;
}
.item-views.staff-items.within.type_3 .items .item:hover .arrow_link:hover {
  background-color: #9372de;
  border-color: #9372de;
}
@media print {
  .item-views.services-items.icons .items .item .image img,
  .item-views.company.front .props .image,
  .front_tizers .item.image_bg .image {
    background-color: #8059d8 !important;
  }
}
.side_forms .button>span svg path {
  fill: #8059d8;
}
.item-views.partners.within.list-type-block .items .item .value a:hover {
  color: #8059d8;
}
.item-views.partners.within .item .property .value a:hover {
  color: #8059d8;
}
.item-views.documents_list.type_2 .docs-block .item:hover .arrow_link {
  background-color: #8059d8;
  border-color: #8059d8;
}
.item-views.documents_list.type_2 .docs-block .item .arrow_link:hover {
  background-color: #9372de;
  border-color: #9372de;
}
.item-views.type_2_within.within.services-items.type_10 .item .image {
  background: #8059d8;
}
.item-views.type_2_within.within.services-items.type_3_within.type_11 .item .image {
  background: #8059d8;
}
.accordion-head.accordion-open a,
.accordion-head:hover a {
  color: #8059d8;
}
.flex-control-paging li a:hover:before,
.flex-control-paging li a.flex-active:before {
  box-shadow: none;
  background: #8059d8 !important;
}
.detail .gallery-block .small-gallery ul.items li.flex-active-slide,
.detail .gallery-block .small-gallery ul.items li:hover {
  border-color: #8059d8;
}
.flex-direction-nav a:hover,
.flex-direction-nav a:hover::before {
  color: #9372de;
  border-color: #9372de;
}
.color-controls .flex-direction-nav a {
  background: #8059d8;
}
.color-controls .flex-direction-nav a:hover {
  background: #9372de;
}
span.zoom:hover {
  background-color: #9372de;
}
.switch_gallery:hover {
  background-color: #8059d8;
}
.wr_scrollbar .scrollbar .handle {
  background: #8059d8;
}
.ask_a_question .inner .text-block:before {
  background-color: #8059d8;
}
.page404 .i404 {
  color: #8059d8;
}
.jqmClose.top-close:hover {
  color: #9372de;
}
.form.contacts .title {
  border-color: #8059d8;
}
.form .form-header {
  border-top-color: #8059d8 !important;
}
.form-header i {
  background: #8059d8;
}
.banners-big.front .flex-direction-nav a:hover {
  background: #8059d8;
}
.more_text_ajax:hover:after {
  background-color: #8059d8;
}
.more_text_ajax:hover svg path,
.ajax_load_btn:hover .more_text_ajax svg path {
  fill: #8059d8;
}
.item-views.news-items .item.wti .title:after {
  background: #8059d8;
}
.teasers.item-views.front.icons .item a:hover {
  color: #8059d8 !important;
}
.front-projects.item-views.table .item .info {
  border-top-color: #8059d8;
}
.front-projects.item-views.table .item a:hover .info {
  background: #324860;
}
.front-projects.item-views.table .item a:hover .info:before {
  border-bottom-color: #8059d8;
}
.item-views .item .title a:hover {
  color: #8059d8;
}
.uploader:hover .action {
  background-color: #9372de;
  border-color: #9372de;
}
.uploader .action {
  color: #8059d8;
  border: 1px solid #dfd5f5;
}
.form .input .add_file:hover,
.form .input .add_text:hover {
  color: #8059d8;
}
.form .input .add_file:hover:before,
.form .input .add_text:hover:before {
  background-color: #8059d8;
}
p.drop-caps:first-child:first-letter {
  color: #8059d8;
}
p.drop-caps.secundary:first-child:first-letter {
  background-color: #8059d8;
}
.label-info {
  background-color: #8059d8;
}
section.toggle label {
  color: #8059d8;
  border-color: #8059d8;
}
section.toggle.active > label {
  background-color: #8059d8;
  border-color: #8059d8;
}
.progress-bar-primary {
  background-color: #8059d8;
}
.slider-container .tp-caption a:not(.btn):hover {
  color: #997ae0;
}
.tp-bullets .bullet.selected,
.tp-bullets .bullet:hover {
  background: #8059d8 !important;
}
.fa.colored {
  background: #8059d8;
}
.docs-block .iblocks:hover .icons-block a,
.iblocks .icons-block a:hover {
  background: #8059d8;
}
.docs-block .iblocks:hover .text-block .text {
  color: #8059d8 !important;
}
.item-views .property.price .fa,
.item-views .property.price .price_val {
  color: #8059d8;
}
.item-views .item:hover .property .fa {
  color: #8059d8;
}
.link-block-more .dark-color:hover:before {
  background: #8059d8;
}
.tabs.item-views.table .title,
.history.item-views.table .title {
  color: #8059d8;
}
.history.item-views .title {
  color: #8059d8;
}
.rolldown>span {
  color: #8059d8;
}
.rolldown>span svg path {
  fill: #8059d8;
}
.detail .galery #slider.flexslider:hover .flex-direction-nav {
  background: #9372de;
}
.detail .galery #carousel .slides li.flex-active-slide {
  border-color: #8059d8;
}
.detail .reviews .item .review .icons:before {
  color: #8059d8;
}
.detail .galery #carousel .flex-direction-nav a:hover::before {
  color: #8059d8;
}
.catalog.group .price .price_val {
  color: #8059d8;
}
.buy_block .counter .ctrl:hover svg path,
.buy_block .counter .ctrl:hover svg rect {
  fill: #8059d8;
}
.select-outer i.fa {
  color: #8059d8;
}
.item-views.table.bblock .item .info {
  border-top-color: #8059d8;
}
.cls-2000 {
  fill: #8059d8;
}
.instagram_ajax .show_all:hover svg path {
  fill: #9372de;
}
.reviews.item-views.front .item .image:before {
  background-color: #8059d8;
}
.item-views .item .bottom-props > a:hover svg path {
  fill: #8059d8;
}
.bx_filter .bx_ui_slider_range,
.bx_filter .bx_ui_slider_pricebar_V {
  background-color: #8059d8;
}
.bx_filter .bx_ui_slider_track .bx_ui_slider_handle {
  border-color: #8059d8;
}
.catalog.bx_filter .bx_filter_parameters_box_title:hover:before {
  color: #8059d8;
}
.bx_filter_section .btn.btn-transparent {
  color: #8059d8;
}
.bx_filter.catalog .title:hover>.wrap .arrow {
  background-color: #8059d8;
}
.catalog.bx_filter .bx_filter_parameters_box_title:hover .arrow {
  background-color: #8059d8;
}
.catalog.bx_filter .bx_filter_parameters_box.check_props .bx_filter_parameters_box_title:before {
  background: #8059d8;
}
.bx_filter .bx_ui_slider_track .bx_ui_slider_handle:after {
  background: #8059d8;
}
.catalog .bx_filter_section .bx_filter_button_box .bx_filter_search_reset:hover {
  background-color: #8059d8;
}
.catalog .bx_filter_section .bx_filter_button_box .bx_filter_search_button:hover {
  background-color: #8059d8;
}
.side-menu li.child>a .arrow:hover:before {
  background: #8059d8;
}
.bx_filter input[type="checkbox"] + label:before,
.filter input[type="checkbox"] + label:before,
.filter input[type="radio"] + label:before {
  background: #8059d8;
}
.bx_filter .filter input[type="radio"]:checked + label:after {
  border-color: #8059d8;
  background-color: #8059d8;
}
.subscribe-edit-main .form input[type=checkbox] + label:hover:after,
.subscribe-edit-main .form input[type=checkbox]:checked + label:after,
.subscribe-edit-main .form input[type=radio] + label:hover:after,
.subscribe-edit-main .form input[type=radio]:checked + label:after {
  background-color: #8059d8;
  border-color: #8059d8;
}
.subscribe-edit-main font.notetext {
  border-color: #8059d8;
}
.arrow.toogle:hover {
  border-color: #9372de;
  background: #9372de;
}
.arrow_link:hover {
  border-color: #9372de;
  background: #9372de;
}
.item-views.type_2_within.within.services-items .item:hover .arrow.toogle {
  border-color: #8059d8;
  background: #8059d8;
}
.item-views.type_2_within.within.services-items .item:hover .arrow.toogle:hover {
  border-color: #9372de;
  background: #9372de;
}
.item-views.type_2_within.within.services-items .item:hover .arrow_link {
  background-color: #8059d8;
  border-color: #8059d8;
}
.item-views.type_2_within.within.services-items .item:hover .arrow_link:hover {
  background-color: #9372de;
  border-color: #9372de;
}
.item-views.type_2_within.within.services-items .item .toogle>span {
  color: #8059d8;
}
.item-views.type_2_within.within.services-items .item .toogle>span:before {
  background-color: #8059d8;
}
@media (max-width: 767px) {
  .basket_top .icon .count {
    background: #8059d8 !important;
  }
}
.page-top-wrapper.color {
  background: #8059d8;
}
.item-views.staff-items.table-type-block:not(.front) .item .title a:hover {
  color: #8059d8;
}
.detail.staff .properties .bottom-props.social_props a:hover svg path {
  fill: #8059d8;
}
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active {
  background: #8059d8;
}
.uploader .resetfile:hover {
  background-color: #9372de;
}
.uploader:hover .resetfile:before {
  background-color: #9372de;
}
